# Ignore file with github OAuth IDs
.ghenv
/src/templates/smartapi

# Python
__pycache__
*.pyc

# credentials
src/config_key.py

# backup files
smartapi_*.json

# allow customized biothing package
/biothings

# ignore .DS_Store on Mac
.DS_Store

#env
/env
/env-dsl