git+git://github.com/biothings/biothings.api@0.10.x#egg=biothings[web_extra]

# document validation
jsonschema==3.2.0

# web handling
torngithub==0.2.0 
pycurl==7.43.0.4
chardet==3.0.4

aiocron==1.4

# gitdb version specified because gitdb.utils.compat not available in newest version
gitdb==4.0.5

# local issuer certificate
certifi

pytest

filelock