{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>

.tabs .indicator{
  background: #328CC4;
}

</style>
<main id="dashApp" style="height: 100%; padding-top:20px;" class="blue-grey darken-3 dashboardBack">
  <!-- IF NO USERINFO DISPLAY LOGIN-->
  <div v-if="!userInfo.login" class="padding20 card-panel white center-align">
    <h5 class="text_h3 blue-grey-text-text">
      You Must Be Signed In To Use Your Dashboard
    </h5>
    <a href="/oauth" class="btn green">
      Login
    </a>
  </div>
  <!-- IF USERINFO DISPLAY DASHBOARD -->
  <div v-if="userInfo.login" class="row" style="margin-bottom: 0; width: 100%;">
      <div class="col s12 m4 l3 xl3 transparent">
        <ul class="collection" style="border: none;">
          <li class="collection-item center-align transparent" style="border-bottom: none;">
            <img v-if="userInfo.avatar_url" id="dashboardPhoto" width="70%" :src="userInfo.avatar_url" class="responsive-img hideOnSmall hide-on-med-and-down" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid;">
            <img v-else id="dashboardPhoto" width="70%" src="/static/img/user-default.png" class="responsive-img hideOnSmall" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid;">
          </li>
          <li class="collection-item center-align white-text padding20 blue" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <img v-if="userInfo.avatar_url" width="30%" :src="userInfo.avatar_url" class="show-on-medium-and-down hide-on-med-and-up circle" alt="user image" style="margin: 0 auto; border: 3px solid white;">
            <h5 v-if="userInfo.name" class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.name.split(" ")[0] }}!</h5>
            <h5 v-else class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.login }}!</h5>
            <!-- <h5 class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.name.split(" ")[0] }}!</h5> -->
            <p><a target="_blank" class="white-text" :href="'https://github.com/'+userInfo.login"><i class="tiny fa fa-github-alt white-text"></i> {{userInfo.login}}</a></p>
          </li>
          <!--  -->
          <li class="collection-item center-align blue-grey darken-4 white-text show-on-small hide-on-med-and-up">
            <span class="logoFont blue-grey-text">SmartAPI</span><br />CONTRIBUTIONS <span class="l-blue-text">({{ total+") API's" }}</span>
          </li>
          <!--  -->
          <li class="collection-item blue-grey-text hide-on-small-only">
            <table class="table lighter" style="font-size: 1em;">
              <thead>
                <th class="center-align lighter">
                  CONTRIBUTIONS
                </th>
              </thead>
              <tbody>
                <tr class="swing-in-top-fwd">
                  <td class="blue-text center-align">
                    {{ total+" API's" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item center-align hide-on-small-only">
            <a href="/logout" class="btn red smallFont">Log Out</a>
          </li>
        </ul>
      </div>
    <div class="col s12 m8 l9 xl9  center-align" >
        <!-- <h5 class="text_h3 white-text tracking-in-expand textShadow">MY DASHBOARD</h5> -->
        <div class="row">
          <div class="col s12">
            <ul class="tabs transparent">
              <li class="tab col s3 transparent">
                <a class="white-text textShadow " href="#contributions" style="font-size:10px;">
                  API List <span class="l-blue-text">({{total}})</span>
                </a>
              </li>

            </ul>
          </div>
          <div id="contributions" class="col s12 card-panel white" style="padding:0;">
              <table id="dashboardTable" class="bordered" style="table-layout: fixed;">
                <thead>
                  <tr class="blue-grey-text">
                      <th class="lighter smallFont center-align">API Name</th>
                      <!-- <th class="hideOnSmall">Description</th> -->
                      <th class="center-align lighter smallFont">Last Updated</th>
                      <th class="center-align lighter smallFont">Refresh</th>
                      <th class="center-align lighter smallFont">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- For each API -->
                  <tr v-for="(api,index) in apis">
                    <td style="padding: 5px 5px;">
                       <a href="#modal2" class="modal-trigger smallFont" @click="getDetails(api.info, api._meta)">{{index+1 }}- <b>{{ api.info.title }}</b> <span class="grey-text smallFont">V.{{api.info.version}}</span> <i class="material-icons tiny blue-text">info_outline</i></a>
                    </td>
                    <td style="padding: 5px 5px;" class="center-align">
                      <span style="font-weight: bold" class="green-text smallFont">{{ convertDate(api._meta.timestamp) }}</span>
                    </td>
                    <td style="padding: 5px 5px;" class="center-align">
                      <!-- refresh button global component -->
                      <refresh :refresh='refreshingThis' :title='api.info.title' :id="api._id"></refresh>
                    </td>
                    <td style="padding: 5px 5px;" class="center-align">
                      <a href="#modal1" @click="deleteAPI(api.info.title, api._id)" class="btn scale-in-center red white-text modal-trigger" style="cursor: pointer;">
                        <i class="material-icons white-text">delete_forever</i>
                      </a>
                    </td>
                  </tr>
                  <!-- IF nor apis present -->
                  <tr v-if="apis.length === 0">
                    <td colspan="4"  class="center-align grey lighten-3">
                      <span class="grey-text smallFont">No Contributions Yet</span><br>
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
  <!-- Modal for Deletion Confirmation -->
  <div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h5 class="blue-text">Delete <b>{{ confirmModal.title }}</b>?</h5>
      <div class="white padding20">
        <i class="material-icons small amber-text">warning</i>
        <p class="red-text">This action cannot be undone. Please type in the exact name of the API to confirm.</p>
        <input @change="getAPIName(confirmModal.title, $event)" :placeholder="confirmModal.title" type="text" class="validate browser-default" style="outline: none; padding: 10px; width: 70%;">
        <hr/>
        <a href='#!' :disabled="confirmDelete" @click="deleteForever(confirmModal.title, confirmModal.id)" class=" deep-orange darken-2 btn modal-action modal-close">Delete API</a>
      </div>
      <hr>
      <a href="#!" class="btn blue modal-action modal-close">Cancel</a>
    </div>
  </div>
  <!-- delete Modal end -->
  <!-- Details Modal -->
  <div id="modal2" class="modal center-align">
    <div class="modal-content">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header padding20">
          <h4 class="text_h3 blue-text">{{selectedAPI.title}}</h4>
          <span class="chip blue white-text smallFont" style="font-size: 12px; font-weight: bold;">Version {{ selectedAPI.version }}</span>
        </li>
        <li class="collection-item blue-grey lighten-4">
          <h4 class="blue-grey-text">{{ selectedAPIContact.name }}</h4>
          <h5 class="blue-grey-text lighter" style="text-transform: uppercase; font-size: 16px;">{{ selectedAPIContact["x-role"] }}</h5>
        </li>
        <li class="collection-item blue-grey lighten-5">
          <a :href="selectedAPIGithub" target="_blank"><i class="small fa fa-github-alt blue-text"></i> My Github</a>
        </li>
        <li class="collection-item padding20 blue-grey lighten-5">
          <fieldset class="padding20 white" style="border-radius: 10px; border: none;">
          <legend class="blue-text">Description:</legend>
            <p class="blue-grey-text">{{ selectedAPI.description }}</p>
          </fieldset>
        </li>
        <li class="collection-item blue-grey lighten-5">
          <i class="material-icons tiny blue-text">info_outline</i>
          <a :href="selectedAPI.termsOfService" target="_blank" class="blue-text">Terms of Service</a>
        </li>
      </ul>
      <a href="#!" class="btn blue modal-action modal-close">Close</a>
    </div>
  </div>
  <!-- details modal end -->
</main>




{% endraw %}
{% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script>

  // Refresh Button Component
  Vue.component('refresh', {
    data: function(){
      return{
        //timeout before being able to refresh again
        counter:30,
        //bind to disable attr while waiting
        currentlyRefreshing: false,
        text: 'refresh'
      }
    },
    // declare the props
    props: ['refresh', 'title', 'id'],
    // like data, the prop can be used inside templates and
    // is also made available in the vm as this.message
    methods:{
      countDown: function(){
        this.counter --;
        if( this.counter > 0 ){
          setTimeout(this.countDown,1000);
          this.currentlyRefreshing = true;
          this.text =this.counter+'...';
          var thisElement =$(this.$el);
          thisElement[0].text=this.text;
        }
        else if ( this.counter === 0){
          this.currentlyRefreshing = false;
          this.counter = 30;
          this.text = `<i class=" material-icons white-text"  @mouseenter="$event.target.classList.add('rotate')" @mouseleave="$event.target.classList.remove('rotate')">refresh</i>`;
          var thing =$(this.$el);
          thing[0].innerHTML=this.text;
        }
      },
      getText: function(){
        return this.text;
        console.log(this.text);
      }
    },
    mounted: function(){
      // mounted logic
    },
    template: `<a @mouseenter="$event.target.classList.add('pulse')" @mouseleave="$event.target.classList.remove('pulse')" :disabled='currentlyRefreshing' @click="refresh(title,id); countDown()" :class="currentlyRefreshing ? 'btn grey' : 'green btn scale-in-center' " style="cursor: pointer; font-size:12px;">
                <i class=" material-icons white-text"  @mouseenter="$event.target.classList.add('rotate')" @mouseleave="$event.target.classList.remove('rotate')">refresh</i>
              </a>`
  })

  // Main Dashboard Component
    var app = new Vue({
        el: '#dashApp',
        data: function(){
          return {
            userInfo:{},
            apiKey:'G93U24vcjrZReaRNfZ7qz1Y3Ltd941TL',
            confirmModal:{
              title:'',
              id:''
            },
            selectedAPI:{},
            selectedAPIContact: {},
            selectedAPIGithub:'',
            apis:[],
            total: 0,
            confirmDelete: true
          }
        },
        methods:{
          getApis: function(){
            var self=this;
            axios.get("/api/query?size=100&q=_meta.github_username:"+self.userInfo.login).then(function(response){
                  //console.log(response.data.hits);
                  self.apis = response.data.hits;
                  self.total = response.data.total;
              }).catch(err=>{
                Materialize.toast('Failed To Load APIs', 4000,'rounded red white-text');
                throw err;
              });
          },
          deleteAPI: function(title, id){
            // api information sent to modal for confirmation to be deleted
            var self = this;
            self.confirmModal.title= title;
            self.confirmModal.id = id;
          },
          deleteForever: function(title, apiID){
            // ID for api to be deleted forever
            var self = this;
            axios.delete('/api/metadata/'+apiID+'?api_key='+self.apiKey).then(response=>{
              //sucessful deletion
              Materialize.toast(title+' was Deleted!', 4000,'rounded red white-text');
              self.getApis();
            }).catch(error=>{
              //error deleting
              Materialize.toast("Failed to delete "+title, 4000,'rounded amber black-text');
            });

          },
          refreshingThis: function(title, id){
            var self = this;
            axios.put('/api/metadata/'+id).then(res=>{
              Materialize.toast(title+' was Refreshed!', 4000,'rounded green white-text');
              self.getAPIs();
            }).catch(err=>{
              Materialize.toast(title+' failed to refresh', 4000,'rounded red white-text');
            })

            //Materialize.toast(title+' Failed To Refresh', 4000,'rounded red white-text');
          },
          getDetails: function(fullApiInfo, meta){
            var self = this;
            self.selectedAPI = fullApiInfo;
            self.selectedAPIContact = self.selectedAPI.contact;
            self.selectedAPIGithub = 'https://www.github.com/'+meta.github_username;
          },
          convertDate: function(timestamp){
            var date = new Date(timestamp);
            var formattedTime = (date.getMonth()+1)+'-'
            + date.getDate()
            + '-'+date.getFullYear()
            + ' @ '+date.getHours()
            + ':'+date.getMinutes();

            return formattedTime;
          },
          reloadAPIs: function(){
            this.getUserInfo();
          },
          getUserInfo: function(){
            var self= this;
            axios.get('/user').then(response=>{
              // console.log('user data');
              //console.log(response.data);
              self.userInfo = response.data;
              self.getApis();

            }).catch(err=>{
              throw err;
            })
          },
          getAPIName: function(APIToBeDeleted, event){
            // confirm API name to delete forever
            let input = event.target.value.trim();
            if(input === APIToBeDeleted){
              this.confirmDelete = false;
            }
            else{
              this.confirmDelete = true;
              Materialize.toast(input+' Does Not Match API Name', 4000,'rounded orange white-text');
            }
          }
        },
        mounted: function(){
           // JQuery Initializations
           this.getUserInfo();
           // tabs
           $('ul.tabs').tabs();
           // modals
           $('.modal').modal({dismissible: true});
           // notifications
           $('.tooltipped').tooltip({delay: 50});

           $('.collapsible').collapsible();

        }
    });
</script>
{% endblock %}
