{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
.tabs .indicator{
  background: var(--blue-medium);
}
.modal{
  width: 85%;
}
</style>
<main id="dashApp" style="padding-top:20px;" class="blue-grey darken-3 dashboardBack">
  <!-- IF NO USERINFO DISPLAY LOGIN-->
  <div v-if="!userInfo.login" class="padding20 card-panel white center-align">
    <h5 class="text_h3 blue-grey-text-text">
      You Must Be Signed In To Use Your Dashboard
    </h5>
    <a href="/oauth" class="btn green">
      Login
    </a>
  </div>
  <!-- LOADING -->
  <div id="loading-overlay" class="center-align" style="background-color: rgba(18, 52, 84, 0.5); cursor: default;">
    <div class="center-align" style="padding-top: 300px;">
      <object width="100px"  alt="Loading" data="/static/img/fly.gif" class=""></object>
      <h3 class="white-text logoFont">Loading...</h3>
    </div>
  </div>
  <!-- Loading END -->
  <!-- IF USERINFO DISPLAY DASHBOARD -->
  <div v-if="userInfo.login" class="row" style="margin-bottom: 0; width: 100%;">
      <div class="col s12 m4 l3 xl3 transparent">
        <ul class="collection" style="border: none;">
          <li class="collection-item center-align transparent" style="border-bottom: none;">
            <img v-if="userInfo.avatar_url" id="dashboardPhoto" width="70%" :src="userInfo.avatar_url" class="responsive-img hideOnSmall hide-on-med-and-down" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid;">
            <img v-else id="dashboardPhoto" width="70%" src="/static/img/user-default.png" class="responsive-img hideOnSmall" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid;">
          </li>
          <li class="collection-item center-align white-text padding20 blue" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <img v-if="userInfo.avatar_url" width="30%" :src="userInfo.avatar_url" class="show-on-medium-and-down hide-on-med-and-up circle" alt="user image" style="margin: 0 auto; border: 3px solid white;">
            <h5 v-if="userInfo.name" class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.name.split(" ")[0] }}!</h5>
            <h5 v-else class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.login }}!</h5>
            <!-- <h5 class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.name.split(" ")[0] }}!</h5> -->
            <p><a target="_blank" class="white-text" :href="'https://github.com/'+userInfo.login"><i class="tiny fa fa-github-alt white-text"></i> {{userInfo.login}}</a></p>
          </li>
          <!--  -->
          <li class="collection-item center-align blue-grey darken-4 white-text show-on-small hide-on-med-and-up">
            <span class="logoFont blue-grey-text">SmartAPI</span><br />CONTRIBUTIONS <span class="l-blue-text">({{ total+") API's" }}</span>
          </li>
          <!--  -->
          <li class="collection-item blue-grey-text hide-on-small-only">
            <table class="table lighter" style="font-size: 1em;">
              <thead>
                <th class="center-align lighter">
                  CONTRIBUTIONS
                </th>
              </thead>
              <tbody>
                <tr class="swing-in-top-fwd">
                  <td class="blue-text center-align">
                    {{ total+" API's" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item center-align hide-on-small-only">
            <a href="/logout" class="btn red smallFont">Log Out</a>
          </li>
        </ul>
      </div>
    <div class="col s12 m8 l9 xl9 center-align" >
        <!-- <h5 class="text_h3 white-text tracking-in-expand textShadow">MY DASHBOARD</h5> -->
        <div class="row">
          <!-- Search API -->
          <div class="col s12 nextBox" style="padding: 0px !important; border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <input v-model='searchQuery' placeholder="Search by API name" type="text" class="browser-default margin20 blue-grey darken-3 l-blue-text lighter" style="width: 40%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-light) 2px solid;"/>
            <table class="bordered noPadding grey lighten-5" style="table-layout: fixed;">
              <thead v-if="searchQuery">
                <th class="lighter smallFont center-align">Name</th>
                <th class="center-align lighter smallFont">Last Updated</th>
                <th class="center-align lighter smallFont">Refresh</th>
                <th class="center-align lighter smallFont">Delete</th>
              </thead>
              <tbody >
                <tr v-for="(api,index) in searchResults">
                  <td >
                     <a href="#modal2" class="modal-trigger smallFont" @click="getDetails(api.info, api._meta)">{{index+1 }}- <b>{{ api.info.title }}</b> <span class="grey-text smallFont">V.{{api.info.version}}</span> <i class="material-icons tiny blue-text">info_outline</i></a>
                  </td>
                  <td  class="center-align">
                    <span style="font-weight: bold" class="green-text smallFont">{{ convertDate(api._meta.timestamp) }}</span>
                  </td>
                  <td  class="center-align">
                    <!-- refresh button global component -->
                    <refresh :refresh='refreshingThis' :title='api.info.title' :id="api._id"></refresh>
                  </td>
                  <td class="center-align">
                    <a href="#modal1" @click="deleteAPI(api.info.title, api._id)" class="btn scale-in-center red white-text modal-trigger" style="cursor: pointer;">
                      <i class="material-icons white-text">delete_forever</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Search END -->
          <div class="col s12">
            <ul class="tabs transparent">
              <li class="tab col s3 transparent">
                <a class="white-text textShadow " href="#contributions" style="font-size:10px;">
                  All APIs <span class="l-blue-text">({{total}})</span>
                </a>
              </li>

            </ul>
          </div>

          <div id="contributions" class="col s12 card-panel white" style="padding:0;">
              <table id="dashboardTable" class="bordered" style="table-layout: fixed;">
                <thead>
                  <tr class="blue-grey-text grey lighten-5">
                      <th class="lighter smallFont center-align">Name <a id="sortName" @click.prevent="sortApisByName()" class="smallButton">A-Z</a></th>
                      <th class="center-align lighter smallFont">Last Updated</th>
                      <th class="center-align lighter smallFont">Refresh</th>
                      <th class="center-align lighter smallFont">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- For each API -->
                  <tr v-for="(api,index) in apis">
                    <td style="overflow: hidden;">
                       <a href="#modal2" class="modal-trigger smallFont" @click="getDetails(index)">{{index+1 }}- <b>{{ api.info.title }}</b> <span class="grey-text smallFont">V.{{api.info.version}}</span></a>
                    </td>
                    <td  class="center-align">
                      <span style="font-weight: bold" class="green-text smallFont">{{ convertDate(api._meta.timestamp) }}</span>
                    </td>
                    <td class="center-align">
                      <!-- refresh button global component -->
                      <refresh :refresh='refreshingThis' :title='api.info.title' :id="api._id"></refresh>
                    </td>
                    <td class="center-align">
                      <a href="#modal1" @click="deleteAPI(api.info.title, api._id)" class="btn scale-in-center red white-text modal-trigger" style="cursor: pointer;">
                        <i class="material-icons white-text">delete_forever</i>
                      </a>
                    </td>
                  </tr>
                  <!-- IF nor apis present -->
                  <tr v-if="apis.length === 0">
                    <td colspan="4"  class="center-align grey lighten-3">
                      <span class="grey-text smallFont">No Contributions Yet</span><br>
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>
          </div>

        </div>
    </div>
  </div>
  <!-- Modal for Deletion Confirmation -->
  <div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h5 class="blue-text">Delete <b>{{ confirmModal.title }}</b>?</h5>
      <div class="white padding20">
        <i class="material-icons small amber-text">warning</i>
        <p class="red-text">This action cannot be undone. Please type in the exact name of the API to confirm.</p>
        <input v-model="inputApiName" :placeholder="confirmModal.title" type="text" class="validate browser-default" style="outline: none; padding: 10px; width: 70%;">
        <hr/>
        <a href='#!' :disabled="confirmDelete" @click="deleteForever(confirmModal.title, confirmModal.id)" class=" deep-orange darken-2 btn modal-action modal-close">Delete API</a>
      </div>
      <hr>
      <a href="#!" class="btn blue modal-action modal-close">Cancel</a>
    </div>
  </div>
  <!-- delete Modal end -->


  <!-- Details Modal -->

  <div id="modal2" class="modal center-align">
    <div  class="modal-content" style="padding-top:45px;">
      <div class="row">
        <div class="col s12">
          <ul class="tabs transparent">
            <li class="tab col s3"><a href="#test1" class="active blue-text">About</a></li>
            <li class="tab col s3"><a class="blue-text" href="#test2"><i class="tiny material-icons">settings</i> Settings</a></li>
          </ul>
        </div>

        <div id="test1" class="col s12">
          <ul v-if="selectedAPIIndex || selectedAPIIndex === 0" class="collection with-header" style="border: none;">
            <li class="collection-header padding20">
              <object width="100px"  alt="SmartAPI" data="/static/img/logo-medium.svg" class="hide-on-small-only"></object>
              <h2 class="blue-text flow-text">
                {{apis[selectedAPIIndex].info.title}}
                <span class="versionBadge grey hide-on-small-only" style="font-size: 12px;">Version {{apis[selectedAPIIndex].info.version}}</span>
              </h2>
              <hr />
              <a :href="'/ui/'+apis[selectedAPIIndex]._id" class="btn blue">View API Doc</a>
            </li>
            <template v-if="apis[selectedAPIIndex] && apis[selectedAPIIndex].info">
              <li  class="collection-item blue-grey lighten-4">
                <p class="blue-grey-text noMargin flow-text"><a class="link " :href=" 'https://www.github.com/'+apis[selectedAPIIndex]._meta.github_username" target="_blank">{{ apis[selectedAPIIndex].info.contact.name || apis[selectedAPIIndex]._meta.github_username }}</a><br class="hide-on-med-and-up" /> / {{ apis[selectedAPIIndex].info.contact["x-role"] }}</p>
              </li>
            </template>
            <li class="collection-item padding20 blue-grey lighten-5">
              <p style="line-height: 1.2em;" class="blue-grey-text flow-text">{{ apis[selectedAPIIndex].info.description }}</p>
            </li>
            <li class="collection-item blue-grey lighten-5">
              <i class="material-icons tiny blue-text">info_outline</i>
              <a :href="apis[selectedAPIIndex].termsOfService" target="_blank" class="blue-text">Terms of Service</a>
            </li>
          </ul>
        </div>

        <div id="test2" class="col s12 white">
          <div v-if="selectedAPIIndex || selectedAPIIndex === 0" class="row">
            <div class="col s12 m12 l12 center-align">
              <h3 class="flow-text blue-grey-text padding20">Custom Slug Registration</h3>
            </div>
            <div v-if='!hasShortName' class="col s12 m12 l12 center-align">
              <object width="100px" data="/static/img/wand.svg" alt='custom slug' style='border-radius: 10px;'></object>
              <p class="grey-text flow-text">
                Every project has a subdomain that is available to serve its documentation.<br />
                By default we use your <i>API ID</i>. If you go to <b>your-api-id</b>.smart-api.info it should allow users to view your API documentation.
              </p>
              <p class="grey-text flow-text">
                You can also register a unique slug to make sharing your API easier.
                <br />
                If you go to <b>your-slug</b>.smart-api.info, it will take users to your API documentation.
              </p>
              <a v-if='!createOrEditMode' @click.prevent='createOrEditMode = !createOrEditMode' class="blue btn">Create a new slug</a>
              <a v-if='createOrEditMode' @click.prevent='createOrEditMode = !createOrEditMode' class="red btn">Cancel</a>
            </div>
            <div v-if='hasShortName' class="col s12 m12 l12">
              <p id="loadingCog" style="display: none;">
                <i class="fa fa-thumbs-up fa-2x green-text" aria-hidden="true"></i>
              </p>
              <p class="grey-text flow-text">
                You have registered your custom slug!
                <br />
                If you visit to link below, it will take users to your API documentation.
              </p>
              <p class="green-text flow-text">
                 <a :href=" 'http://'+apis[selectedAPIIndex]._meta.slug+'.smart-api.info'" target="_blank" class="green-text link">http://<b>{{apis[selectedAPIIndex]._meta.slug}}</b>.smart-api.info</a>
                 <br />
                 <hr />
                 <a class="btn green smallFont margin20" @click.prevent='createOrEditMode = !createOrEditMode'>Edit Slug</a>
                 <a v-if="hasShortName" class="btn red smallFont margin20" @click.prevent='deleteSlug'>Delete Slug</a>
              </p>
            </div>
            <div v-if="createOrEditMode" style="width: 100%; display: flex; align-items: center;justify-content: center; flex-wrap: wrap;">
              <div class="center-align padding20 grey-text" style="flex: 1; min-width: 100%;">
                Slug length must be 4-50 characters (a-z) and/or numbers (0-9). Slugs will be converted to lower case. URL protected characters not allowed.
              </div>
              <div style="flex: 1; min-width: 200px;">
                <input autocomplete="false" v-model='myShortName' placeholder="Enter your slug here" id="first_name" type="text" class="disabled browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 85%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
              </div>
              <div style="flex: 1; min-width: 200px;">
                <p id="availabilityResults" v-bind:class="{'green-text': availableShortName, 'red-text': !availableShortName }">
                  <span v-if="myShortName" class="grey-text">http://</span>
                  <span v-if="myShortName">{{myShortName}}</span>
                  <span v-if="myShortName" class="grey-text">.smart-api.info</span>
                  <span v-if="!myShortName" class="grey-text">Check Slug Availability</span>
                  <i v-if='availableShortName && myShortName' class="fa fa-thumbs-up green-text" aria-hidden="true"></i>
                  <i v-if='!availableShortName && myShortName' class="fa fa-thumbs-down red-text" aria-hidden="true"></i>
                  <br />
                  <span v-if="myShortName.length <= 3 && myShortName.length > 0" class="amber-text"><i class="tiny material-icons">warning</i> Too Short</span>
                  <span v-if="myShortName.length >50" class="orange-text"><i class="tiny material-icons">warning</i> Too Long</span><br v-if="myShortName.length <= 3 && invalidChars"/>
                  <span v-if="invalidChars" class="red-text"><i class="tiny material-icons">warning</i> Invalid Characters</span>
                  <span v-if="takenSlug" class="orange-text"><i class="tiny material-icons">warning</i> Taken Slug</span>
                </p>
              </div>
              <div style="flex: 1; min-width: 200px;">
                <a @click.prevent="setShortname" :disabled='!availableShortName && !hasShortName' :class="!availableShortName ? 'btn grey' : 'green btn pulse' " >Set Slug</a>
              </div>

              <div id="shortNameSuccess" class="center-align padding20 green smallFont" style="flex: 1; min-width: 100%; display: none;">
                <h5 class="white-text"><i class="fa fa-check white-text" aria-hidden="true"></i> Slug Registered</h5>
                <a href="#!" class="btn green modal-action modal-close">Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#!" style="position: absolute; top:1%; right: 5%; font-size: 2em;" class="red-text modal-action modal-close">&times;</a>
    </div>
  </div>


</main>


{% endraw %}
{% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<!-- Moment.js -->
<script src="/static/js/moment.js"></script>

<script>

  // Refresh Button Component
  Vue.component('refresh', {
    data: function(){
      return{
        //timeout before being able to refresh again
        counter:30,
        //bind to disable attr while waiting
        currentlyRefreshing: false,
        text: 'refresh'
      }
    },
    // declare the props
    props: ['refresh', 'title', 'id'],
    // like data, the prop can be used inside templates and
    // is also made available in the vm as this.message
    methods:{
      countDown: function(){
        this.counter --;
        if( this.counter > 0 ){
          setTimeout(this.countDown,1000);
          this.currentlyRefreshing = true;
          this.text =this.counter+'...';
          var thisElement =$(this.$el);
          thisElement[0].text=this.text;
        }
        else if ( this.counter === 0){
          this.currentlyRefreshing = false;
          this.counter = 30;
          this.text = `<i class=" material-icons white-text"  @mouseenter="$event.target.classList.add('rotate')" @mouseleave="$event.target.classList.remove('rotate')">refresh</i>`;
          var thing =$(this.$el);
          thing[0].innerHTML=this.text;
        }
      },
      getText: function(){
        return this.text;
        //console.log(this.text);
      }
    },
    mounted: function(){
      // mounted logic
    },
    template: `<a @mouseenter="$event.target.classList.add('pulse')" @mouseleave="$event.target.classList.remove('pulse')" :disabled='currentlyRefreshing' @click="refresh(title,id); countDown()" :class="currentlyRefreshing ? 'btn grey' : 'green btn scale-in-center' " style="cursor: pointer; font-size:12px;">
                <i class=" material-icons white-text"  @mouseenter="$event.target.classList.add('rotate')" @mouseleave="$event.target.classList.remove('rotate')">refresh</i>
              </a>`
  })

  // Main Dashboard Component
    var app = new Vue({
        el: '#dashApp',
        data: function(){
          return {
            userInfo:{},
            apiKey:'G93U24vcjrZReaRNfZ7qz1Y3Ltd941TL',
            confirmModal:{
              title:'',
              id:''
            },
            selectedAPI:{},
            inputApiName:'',
            apis:[],
            total: 0,
            confirmDelete: true,
            searchQuery:'',
            searchResults:[],
            sortASC: true,
            myShortName:'',
            availableShortName: false,
            hasShortName: false,
            createOrEditMode: false,
            invalidChars: false,
            takenSlug: false,
            selectedAPIIndex:''
          }
        },
        methods:{
          getApis: function(){
            var self=this;
            self.apis=[];

            axios.get("/api/query?size=100&q=_meta.github_username:"+self.userInfo.login).then(function(response){
                  //console.log(response.data.hits);
                  self.apis = response.data.hits;
                  //self.sortApisByName();
                  self.total = response.data.total;
                  self.hideLoading();
              }).catch(err=>{
                Materialize.toast('Failed To Load APIs', 4000,'rounded red white-text');
                throw err;
              });
          },
          deleteAPI: function(title, id){
            // api information sent to modal for confirmation to be deleted
            var self = this;
            self.confirmModal.title= title;
            self.confirmModal.id = id;
          },
          deleteForever: function(title, apiID){
            // ID for api to be deleted forever
            var self = this;
            self.showLoading();
            axios.delete('/api/metadata/'+apiID+'?api_key='+self.apiKey).then(response=>{
              //sucessful deletion
              self.hideLoading();
              if( response.data.success ){
                Materialize.toast(title+' was deleted!', 4000,'rounded green white-text');
                self.apis=[];
              }else if( !response.data.success ){
                Materialize.toast('Failed to delete '+title, 4000,'rounded red white-text');
              }
            }).catch(error=>{
              //error deleting
              throw(error);
            });
            self.getApis();

          },
          refreshingThis: function(title, id){
            var self = this;
            self.showLoading();
            axios.put('/api/metadata/'+id).then(res=>{
              self.hideLoading();
              if( res.data.success ){
                Materialize.toast(title+' was refreshed!', 4000,'rounded green white-text');
              }else if( !res.data.success ){
                Materialize.toast(title+' failed to refresh', 4000,'rounded red white-text');
              }
            }).catch(err=>{
              throw(err);
            });
            self.getApis();

          },
          showLoading: function(){
            $('#loading-overlay').show();
          },
          hideLoading: function(){
            $('#loading-overlay').hide();
          },
          sortApisByName: function(){
            var self = this;
            self.sortASC = !self.sortASC;
            //var sortedAPIS = _.sortBy(self.apis,'info.title');
            //return sortedAPIS;
          },
          getDetails: function(index){
            var self = this;
            //modal will show the apis index of the item clicked
            self.selectedAPIIndex = index;
            //hasShortName sets display for slug registration view
            if (self.apis[index]._meta.slug) {
              self.hasShortName=true;
            }else{
              self.hasShortName=false;
            }
          },
          convertDate: function(timestamp){
            var date = new Date(timestamp);
            date = moment(date).format('LLL');
            return date;
          },
          reloadAPIs: function(){
            this.showLoading();
            this.getUserInfo();
          },
          evaluateShortname: function(){
            var self = this;
            axios.get(`/api/query?q=__all__&filters={"_meta.slug.raw":["`+this.myShortName+`"]}&fields=_meta`).then(response=>{
              //console.log(response.data.hits);
              if (response.data.total) {
                self.availableShortName = false;
                self.takenSlug = true;
                return false;
              }else{
                self.availableShortName = true;
                self.takenSlug = false;
                return true;
              }
            }).catch(error =>{
              throw error;
              self.availableShortName = false;
              Materialize.toast('Slug check failed', 4000,'rounded red white-text');
            })

          },
          setShortname: function(){
            //claim it button clicked
            var self = this;
            $('#loadingCog').hide();
            axios.put('/api/metadata/'+self.apis[self.selectedAPIIndex]._id+'?slug='+self.myShortName).then(response=>{
              if( response.data.success ){
                self.apis[self.selectedAPIIndex]._meta.slug= response.data[self.apis[self.selectedAPIIndex]._id+'._meta.slug'];
                self.myShortName = '';
                Materialize.toast('Slug was registered', 4000,'rounded green white-text');
                self.createOrEditMode = false;
                self.hasShortName = true;
                $('#loadingCog').show();
              }else if( !response.data.success ){
                $('#loadingCog').hide();
                Materialize.toast('Slug could not be set', 4000,'rounded red white-text');
              }
            }).catch(error=>{
              throw error;
            });
          },
          deleteSlug: function(){
            //delete it button clicked
            var self = this;
            $('#loadingCog').hide();
            axios.delete('/api/metadata/'+self.apis[self.selectedAPIIndex]._id+"?slug="+self.apis[self.selectedAPIIndex]._meta.slug).then(response=>{
              if( response.data.success ){
                self.apis[self.selectedAPIIndex]._meta.slug= '';
                Materialize.toast('Slug was deleted', 4000,'rounded green white-text');
                self.createOrEditMode = false;
                self.hasShortName = false;
                $('#loadingCog').show();
              }else if( !response.data.success ){
                $('#loadingCog').hide();
                Materialize.toast('Slug could not be set', 4000,'rounded red white-text');
              }
            }).catch(error=>{
              throw error;
            });
          },
          getUserInfo: function(){
            var self= this;
            axios.get('/user').then(response=>{
              self.userInfo = response.data;
              self.getApis();

            }).catch(err=>{
              throw err;
            })
          }
        },
        mounted: function(){
           // JQuery Initializations
           this.showLoading();
           this.getUserInfo();
           // tabs
           $('ul.tabs').tabs();

           // modals
           $('.modal').modal({dismissible: true});
           // notifications
           $('.tooltipped').tooltip({delay: 50});

           $('.collapsible').collapsible();


        },
        watch: {
          // whenever input changes
          inputApiName: function (input) {
            if(input.trim() === this.confirmModal.title){
              this.confirmDelete = false;
            }
            else{
              this.confirmDelete = true;
              //Materialize.toast(this.inputApiName+' Does Not Match API Name', 4000,'rounded orange white-text');
            }
          },
          searchQuery: function(query){
            if(!query){
              this.searchResults = [];
            }else{
              let result = this.apis.filter(o => o.info.title.toLowerCase().includes(query.toLowerCase()));
              this.searchResults = result;
            }
          },
          sortASC: function(sort){
            var self = this;
            if (!sort) {
              self.apis = _.sortBy(self.apis,'info.title');
              $("#sortName").text('A-Z');
            }else if (sort){
              self.apis = _.sortBy(self.apis,'info.title').reverse();
              $("#sortName").text('Z-A');
            }
          },
          myShortName: function(shortname){
            var self = this;
            self.myShortName = self.myShortName.toLowerCase();
            var re = /[^a-zA-Z0-9\-\_\~]/;
            self.invalidChars = false;
            if (re.test(self.myShortName) ) {
              self.invalidChars = true;
            }
            if( !re.test(self.myShortName) && shortname.length > 3 && shortname.length <= 50 ) {
                self.takenSlug = false;
                self.evaluateShortname();
            }else if(re.test(self.myShortName) && shortname.length > 3 && shortname.length <= 50){
              self.invalidChars = true;
              self.availableShortName = false;
            }else{
              self.availableShortName = false;
            }
          }
        }
    });
</script>
{% endblock %}
