{% extends "main.html" %}
{% include "smartapi-head.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
.pillStatus{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 5px;
}
.pillStatus div{
  flex-grow: 1;
  flex-basis: 50%;
  align-content: center;
  padding: 3px 6px;
  text-align: center;
  font-size: .8em !important;
  color: #434849;
}
.pillStatus div:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pillStatus div:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.m-2{
  margin: 1rem;
}
</style>
<main id="dashApp" style="padding-top:20px;min-height:90vh;" class="blue-grey darken-3" v-cloak>
  <!-- IF NO USER INFO DISPLAY LOGIN-->
  <div v-if="!userInfo.login" class="padding20 card-panel white center-align">
    <h5 class="text_h3 blue-grey-text-text">
      You Must Be Signed In To Use Your Dashboard
    </h5>
    <a :href="'/oauth?next='+ window.location.pathname" class="btn green">
      Login
    </a>
  </div>
  <!-- LOADING -->
  <div v-if="loading" id="loading-overlay" class="center-align" style="background-color: rgba(18, 52, 84, 0.5); cursor: default;">
    <div class="center-align" style="padding-top: 300px;">
      <object width="100px"  alt="Loading" data="/static/img/fly.gif" class=""></object>
      <h3 class="white-text logoFont">Loading...</h3>
    </div>
  </div>
  <!-- Loading END -->
  <!-- IF USER INFO DISPLAY DASHBOARD -->
  <div id="tippyParent" v-if="userInfo.login" class="row" style="margin-bottom: 0; width: 100%;min-height:70vh;">
      <div class="col s12 m4 l3 xl3 transparent">
        <ul class="collection" style="border: none;">
          <li class="collection-item center-align transparent" style="border-bottom: none;">
            <img v-if="userInfo.avatar_url" id="dashboardPhoto" width="70%" :src="userInfo.avatar_url" class="responsive-img hideOnSmall hide-on-med-and-down" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid; max-width:250px;">
            <img v-else id="dashboardPhoto" width="70%" src="/static/img/user-default.png" class="responsive-img hideOnSmall" alt="user image" style="box-shadow: 5px 5px 5px #273238; margin-bottom: -25px; border-radius: 10px; border: 2px white solid; max-width:250px;">
          </li>
          <li class="collection-item center-align white-text padding20 blue" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <img v-if="userInfo.avatar_url" width="30%" :src="userInfo.avatar_url" class="show-on-medium-and-down hide-on-med-and-up circle" alt="user image" style="margin: 0 auto; border: 3px solid white;">
            <h5 v-if="userInfo.name" class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.name.split(" ")[0] }}!</h5>
            <h5 v-else class="text_h3 white-text textShadow swing-in-top-fwd">Hello, {{ userInfo.login }}!</h5>
            <p><a target="_blank" class="white-text" :href="'https://github.com/'+userInfo.login"><i class="tiny fa fa-github-alt white-text"></i> {{userInfo.login}}</a></p>
          </li>
          <!--  -->
          <li class="collection-item center-align blue-grey darken-4 white-text show-on-small hide-on-med-and-up">
            <span class="logoFont blue-grey-text">SmartAPI</span><br />CONTRIBUTIONS <span class="l-blue-text">({{ total+") API's" }}</span>
          </li>
          <li class="collection-item blue-grey-text hide-on-small-only">
            <h5 class="center">APIs</h5>
            <h5 class="center blue-text"> {{ total}}</h5>
            <div class="center">
              <a href="/logout" class="btn red smallFont">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    <div class="col s12 m8 l9 xl9 center-align">
        <div class="row">
          <div class="p-1 col s12">
            <input v-model='searchQuery' placeholder="Search by API name" type="text" class="browser-default margin20 blue-grey darken-3 l-blue-text lighter" style="width: 40%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-light) 2px solid;"/>
          </div>

          <div class="col s12 card-panel">
            <table class="striped highlight responsive-table">
              <thead>
                <tr class="grey-text">
                    <th>Name</th>
                    <th>Last Updated</th>
                    <th>Refresh | Validate</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(api,index) in results" :key="index">
                  <td>
                    <h6 class="left-align">
                      <b>{{ api.info.title }}</b>
                      <small>
                        <span class="grey-text">V.{{api.info.version}}</span>
                      </small>
                      <small v-if="api.hasOwnProperty('openapi')" class="green-text">
                        OAS3
                      </small>
                      <small v-else-if="api.hasOwnProperty('swagger')" class="blue-text">
                        Swagger2
                      </small>
                      <a href="#modal2" class="modal-trigger" @click="getDetails(index)">
                        <small><i class="tiny material-icons">settings</i> Settings</small>
                      </a>
                    </h6>
                    
                  </td>
                  <td>
                    <small>
                      <b class="green-text"> {{ convertDate(api._meta.last_updated) }}</b>
                    </small>
                  </td>
                  <td>
                    <div class="row m-0">
                      <div class="col s12 m6 p-1">
                        <button type="button" class="btn btn-small tipped green scale-in-center" data-tippy-info="<b class='green-text'>Refresh</b> <br/>(Manually update API metadata when a valid change is detected)" 
                          @click="refreshThis(api.info.title,api._id);">
                          <i class=" material-icons white-text">refresh</i>
                        </button>
                      </div>
                      <div class="col s12 m6 p-1">
                        <button type="button" @click="validate(api._meta.url)" class="btn btn-small scale-in-center indigo white-text tipped"
                        data-tippy-info="<b class='indigo-text'>Validate Only</b> <br/>(Validate latest API metadata from the source URL)">
                          <i class="material-icons white-text">check</i>
                      </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <status :api='api'></status>
                    <source-status :api='api'></source-status>
                  </td>
                </tr>
                <tr v-if="total && total == 0">
                  <td colspan="4" class="center-align">
                    <h4>No Contributions Yet</h4><br>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
    </div>
  </div>

  <div class="blue-grey lighten-2 padding20 white-text center">
      <p>
        <i class="material-icons">error_outline</i> Did you know you can set a custom slug for your API's documentation? It's easy! Just click on any API on your dashboard and go to the <em>Settings</em> tab.<br />
        Use the <em>Custom Slug Registration Wizard</em> and get a custom URL for your API's documentation. E.g. <b>&lt;slug&gt;.smart-api.info</b>
      </p>
  </div>

  <!-- Modal for Deletion Confirmation -->
  <div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h5 class="blue-text">Delete <b>{{ confirmModal.title }}</b>?</h5>
      <div class="white padding20">
        <i class="material-icons small amber-text">warning</i>
        <p class="red-text">This action cannot be undone. Please type in the exact name of the API to confirm.</p>
        <input v-model="inputApiName" :placeholder="confirmModal.title" type="text" class="validate browser-default" style="outline: none; padding: 10px; width: 70%;">
        <hr/>
        <a href='#!' :disabled="confirmDelete" @click="deleteForever(confirmModal.title, confirmModal.id)" class=" deep-orange darken-2 btn modal-action modal-close">Delete API</a>
      </div>
      <hr>
      <a href="#!" class="btn blue modal-action modal-close">Cancel</a>
    </div>
  </div>
  <!-- delete Modal end -->


  <!-- Details Modal -->

  <div id="modal2" class="modal center-align">
    <div  class="modal-content" style="padding-top:45px;">
      <div class="row">
        <div class="col s12">
          <ul class="tabs transparent">
            <li class="tab col s3"><a href="#test1" class="active blue-text">About</a></li>
            <li class="tab col s3"><a class="blue-text" href="#test2">Slug Registration</a></li>
            <li class="tab col s3"><a class="blue-text" href="#test3" @click="renderUserInteractions(apis[selectedAPIIndex].info.title)">User Interactions</a></li>
          </ul>
        </div>

        <div id="test1" class="col s12">
          <ul v-if="selectedAPIIndex || selectedAPIIndex === 0" class="collection with-header" style="border: none;">

            <li class="collection-header padding20">
              <object width="100px"  alt="SmartAPI" data="/static/img/logo-medium.svg" class="hide-on-small-only"></object>
              <h2 class="blue-text flow-text">
                {{apis[selectedAPIIndex].info.title}}
                <span class="versionBadge grey hide-on-small-only">Version {{apis[selectedAPIIndex].info.version}}</span>
                <span v-if=" apis[selectedAPIIndex].hasOwnProperty('openapi') " class="versionBadge green hide-on-small-only">
                  OAS3
                </span>
                <span v-else-if=" apis[selectedAPIIndex].hasOwnProperty('swagger') " class="versionBadge blue hide-on-small-only">
                  Swagger2
                </span>
                <template class="show-on-small hide-on-med-and-up">
                  <span v-if=" apis[selectedAPIIndex].hasOwnProperty('openapi') " class="versionBadge green hide-on-med-and-up">
                    V3
                  </span>
                  <span v-else-if=" apis[selectedAPIIndex].hasOwnProperty('swagger') " class="versionBadge blue hide-on-med-and-up">
                    V2
                  </span>
                </template>
              </h2>
              <hr />
              <template v-if=" apis[selectedAPIIndex].hasOwnProperty('swagger') ">
                <div class="yellow lighten-5 smallFont padding20">
                  APIs in Swagger V2 specification will experience limited functionality. <br />We recommend you update your metadata to OpenAPI V3 specification.
                  <br />
                  <a target="_blank" class="underlined" href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md">Learn More about OpenAPI V3 Specification <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                  <br />
                  <a href="/guide" class="green-text underlined">Use our guide to help you convert your API to OpenAPI V3 specification.</a>
                </div>
                <hr />
              </template>
              <div class="d-flex padding20" style="justify-content: center;">
                <div class="blue-grey-text grey lighten-4 p-1"><small>API ID</small></div>
                <div class='grey lighten-3 p-1 indigo-text'><small v-text="apis[selectedAPIIndex]._id"></small></div>
              </div>
              <a :href="'/ui/'+apis[selectedAPIIndex]._id" class="btn blue m-2">View API Documentation</a>
              <a :href="'/registry?q='+apis[selectedAPIIndex]._id" class="btn indigo m-2">View API On SmartAPI Registry</a>
            </li>
            <template v-for='link in checkForAPIInfoLink(apis[selectedAPIIndex])'>
              <li  class="collection-item blue-grey lighten-4">
                <a class="link blue-grey-text underlined" :href="link" target="_blank">
                 More Info
                </a>
              </li>
            </template>
            <li class="collection-item padding20 blue-grey lighten-5">
              <p style="line-height: 1.2em;" class="blue-grey-text flow-text" v-html="compiledMarkdown(apis[selectedAPIIndex].info.description || '')"></p>
            </li>
            <li class="collection-item blue-grey lighten-5">
              <i v-if="apis[selectedAPIIndex].info.termsOfService || apis[selectedAPIIndex].termsOfService" class="material-icons tiny blue-text">info_outline</i>
              <a v-if="apis[selectedAPIIndex].info.termsOfService" :href="apis[selectedAPIIndex].info.termsOfService" target="_blank" class="blue-text">Terms of Service</a>
              <a v-if="apis[selectedAPIIndex].termsOfService" :href="apis[selectedAPIIndex].termsOfService" target="_blank" class="blue-text">Terms of Service</a>

            </li>
            <li class="collection-item deep-orange lighten-2">
              <h5>Danger Zone</h5>
              <p>
                Delete API metadata from SmartAPI registry permanently. This action cannot be undone.
              </p>
              <button type="button" @click="deleteForever(apis[selectedAPIIndex].info.title, apis[selectedAPIIndex]._id)" class="btn btn-small red white-text" 
              data-tippy-content="<b class='red-text'>Delete Forever</b>">
                Delete API
              </button>
            </li>
          </ul>
        </div>

        <div id="test2" class="col s12 white">
          <div v-if="selectedAPIIndex || selectedAPIIndex === 0" class="row">
            <div class="col s12 m12 l12 center-align">
              <h3 class="flow-text blue-grey-text padding20">Slug Registration Wizard</h3>
            </div>
            <div v-if='!hasShortName' class="col s12 m12 l12 center-align">
              <object class="hide-on-small-only" width="250px" data="/static/img/wand.svg" alt='custom slug' style='border-radius: 10px;'></object>
              <p class="grey-text left-align">
                Every project has a subdomain that is available to serve its documentation.<br />
                By default we use your <i>API ID</i>. If you go to <span class="blue-text"><b>your-api-id</b>.smart-api.info</span> it should allow users to view your API documentation.
              </p>
              <p class="grey-text left-align">
                You can also register a unique slug to make sharing your API easier.
                <br />
                If you go to <span class="blue-text"><b>your-slug</b>.smart-api.info</span>, it will take users to your API documentation.
              </p>
              <a v-if='!createOrEditMode' @click.prevent='createOrEditMode = !createOrEditMode' class="blue btn">Create a new slug</a>
              <a v-if='createOrEditMode' @click.prevent='createOrEditMode = !createOrEditMode' class="red btn">Cancel</a>
            </div>
            <div v-if='hasShortName' class="col s12 m12 l12">
              <p>
                <i class="fa fa-check-circle-o green-text fa-5x" aria-hidden="true"></i>
              </p>
              <p class="grey-text">
                You have registered your custom slug!
                <br />
                If you visit to link below, it will take users to your API documentation.
              </p>
              <p class="green-text flow-text">
                 <a :href=" 'http://'+apis[selectedAPIIndex]._meta.slug+'.smart-api.info'" target="_blank" class="green-text link">http://<b>{{apis[selectedAPIIndex]._meta.slug}}</b>.smart-api.info <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                 <br />
                 <hr />
                 <a class="btn green smallFont margin20" @click.prevent='createOrEditMode = !createOrEditMode'>Edit Slug</a>
                 <a v-if="hasShortName" class="btn red smallFont margin20" @click.prevent='deleteSlug'>Delete Slug</a>
              </p>
            </div>
            <div v-if="createOrEditMode" style="width: 100%; display: flex; align-items: center;justify-content: center; flex-wrap: wrap;">
              <div class="left-align padding20 grey-text" style="flex: 1; min-width: 100%;">
                Slug length must be 4-50 characters (a-z) and/or numbers (0-9). Slugs will be converted to lower case. URL protected characters not allowed.
              </div>
              <div style="flex: 1; min-width: 200px;">
                <input autocomplete="false" v-model='myShortName' placeholder="Enter your slug here" id="first_name" type="text" class="disabled browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 85%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
              </div>
              <div style="flex: 1; min-width: 200px;">
                <p id="availabilityResults" v-bind:class="{'green-text': availableShortName, 'red-text': !availableShortName }">
                  <span v-if="myShortName" class="grey-text">http://</span>
                  <span v-if="myShortName">{{myShortName}}</span>
                  <span v-if="myShortName" class="grey-text">.smart-api.info</span>
                  <span v-if="!myShortName" class="grey-text">Check Slug Availability</span>
                  <i v-if='availableShortName && myShortName' class="fa fa-thumbs-up green-text" aria-hidden="true"></i>
                  <i v-if='!availableShortName && myShortName' class="fa fa-thumbs-down red-text" aria-hidden="true"></i>
                  <br />
                  <span v-if="myShortName.length < 3 && myShortName.length > 0" class="amber-text"><i class="tiny material-icons">warning</i> Too Short</span>
                  <span v-if="myShortName.length >50" class="orange-text"><i class="tiny material-icons">warning</i> Too Long</span><br v-if="myShortName.length <= 3 && invalidChars"/>
                  <span v-if="invalidChars" class="red-text"><i class="tiny material-icons">warning</i> Invalid Characters</span>
                  <span v-if="takenSlug" class="orange-text"><i class="tiny material-icons">warning</i> Taken Slug</span>
                </p>
              </div>
              <div style="flex: 1; min-width: 200px;">
                <a @click.prevent="setShortname" :disabled='!availableShortName && !hasShortName' :class="!availableShortName ? 'btn grey' : 'green btn pulse' " >Set Slug</a>
              </div>

              <div id="shortNameSuccess" class="center-align padding20 green smallFont" style="flex: 1; min-width: 100%; display: none;">
                <h5 class="white-text"><i class="fa fa-check white-text" aria-hidden="true"></i> Slug Registered</h5>
                <a href="#!" class="btn green modal-action modal-close">Close</a>
              </div>
            </div>
          </div>
        </div>

        <div id="test3" class="col s12 white">
          <div v-if="selectedAPIIndex || selectedAPIIndex === 0" class="row">
            <div class="col s12 m12 l12 center-align">
              <h3 class="flow-text blue-grey-text padding20">User Interactions</h3>
            </div>
            <div>
              <h6 class="blue-text" v-text='apis[selectedAPIIndex].info.title'></h6>
              <canvas id="myChart" width="400" height="400"></canvas>
              <div>
                <small>Views = Viewed API details, Documentation = Viewed API documentation, Searched = Searched API by name</small>
              </div>
            </div>
          </div>
        </div>


      </div>
      <a href="#!" style="position: absolute; top:1%; right: 5%; font-size: 2em;" class="red-text modal-action modal-close">&times;</a>
    </div>
  </div>
</main>


{% endraw %}
{% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/static/js/moment.js"></script>


<script>

  Vue.component('status', {
    data: function(){
      return{
        status:'',
        clss:'',
      }
    },
    props: ['api'],
    methods:{
      getStatus(api){
        let self = this;
        if (api.hasOwnProperty('_status') && api['_status'].hasOwnProperty('uptime_status')) {
          let stat = api['_status']['uptime_status'];
          switch (stat) {
            case 'unknown':
              self.status = 'UNKNOWN';
              self.clss = 'orange';
              break;
            case 'good':
              self.status = 'PASS';
              self.clss = 'green';
              break;
            case 'bad':
              self.status = 'BAD';
              self.clss = 'red';
              break;
            case 'incompatible':
              self.status = 'INCOMPATIBLE';
              self.clss = 'blue';
              break;
            default:
            self.status = 'N/A';
            self.clss = 'grey';
          }
        }else{
          self.status = 'N/A';
          self.clss = 'grey';
        }
      },
    },
    mounted: function(){
      this.getStatus(this.api);
    },
    template: `<div class="pillStatus apiStatus pointer" style="float: none !important;">
                <div>Uptime</div>
                <div class="white-text center-align" :class='clss' v-text="status"></div>
              </div>`
  });

  Vue.component('source-status', {
    data: function(){
      return{
        status:'',
        clss:'',
      }
    },
    props: ['api'],
    methods:{
      getStatus(api){
        let self = this;
        if (api.hasOwnProperty('_status') && api['_status'].hasOwnProperty('refresh_status')) {
          let stat = api['_status']['refresh_status'];
          switch (stat) {
            case 200:
              self.status = "OK";
              self.clss = 'green';
              break;
            case 299:
              self.status = "OK";
              self.clss = 'green';
              break;
            case 499:
              self.status = "INVALID";
              self.clss = 'red';
              break;
            case 599:
              self.status = "BROKEN";
              self.clss = 'purple';
              break;
            case 404:
              self.status = "NOT FOUND";
              self.clss = 'orange';
              break;
            default:
            self.status = stat;
            self.clss = 'black';
          }
        }else{
          self.status = 'N/A';
          self.clss = 'grey darken-1';
        }
      },
    },
    mounted: function(){
      this.getStatus(this.api);
    },
    template: `<div class="pillStatus urlStatus pointer" style="float: none !important;">
                <div>Source</div>
                <div class="white-text center-align" :class='clss' v-text="status"></div>
              </div>`
  });


    var app = new Vue({
        el: '#dashApp',
        data: function(){
          return {
            userInfo:{},
            confirmModal:{
              title:'',
              id:''
            },
            selectedAPI:{},
            inputApiName:'',
            apis:[],
            total: Number,
            confirmDelete: true,
            searchQuery:'',
            searchResults:[],
            myShortName:'',
            availableShortName: false,
            hasShortName: false,
            createOrEditMode: false,
            invalidChars: false,
            takenSlug: false,
            selectedAPIIndex:'',
            loading: false,
            // analytics
            analytics: Object,
            tags: Array

          }
        },
        computed:{
          results: function(){
            return this.searchResults.length ? this.searchResults : this.apis;
          }
        },
        methods:{
          renderUserInteractions(name){
              let self = this;
              let data = self.getHitsFor(name);
              var ctx = document.getElementById('myChart');

              new Chart(ctx, {
                  'type': 'bar',
                  'data': data,
                  'options': {
                    'legend': { display: false },
                    'title': {
                      display: true,
                      text: 'User Interactions (Last 30 days)'
                    },
                    'scales': {
                      yAxes: [{
                          ticks: {
                              precision:0
                          }
                      }],
                  },
                  }
              });
          },
          validate(url){
            let self = this;
            if (url) {
              var bodyFormData = new FormData();
              bodyFormData.append('url', url);
              axios({
                  method: "post",
                  url: '/api/validate',
                  data: bodyFormData,
                  headers: { "Content-Type": "multipart/form-data" },
                }).then(res=>{
                swal({
                    imageUrl: '/static/img/api-sucess.svg',
                    imageWidth: 300,
                    title: 'Great! Everything looks good!',
                    footer: "<h5 class='green-text'>" + res.data.details + "</h5>"
                  })
              }).catch(err=>{
                if(err.hasOwnProperty('response') && err.response.hasOwnProperty('data')){
                // console.log('[Error]:', err.response)
                if(err.response.data.hasOwnProperty('error') && err.response.data.error == "Conflict"){
                swal({
                  title: "Wait a second...",
                  html:'<h3>Looks like this API already exists</h3><p>If you are the owner of this API you can refresh it via the <a href="/dashboard">user dashboard</a></p>',
                  imageUrl: '/static/img/api-overwrite.svg',
                  imageWidth: 300,
                  confirmButtonText: 'OK',
                });
              }
              else if(err.response.data.hasOwnProperty('details') && err.response.data.details == "API exists"){
                swal({
                  title: "Wait a second...",
                  html:'<h3>Looks like this API already exists</h3><p>If you are the owner of this API you can refresh it via the <a href="/dashboard">user dashboard</a></p>',
                  imageUrl: '/static/img/api-fail.svg',
                  imageWidth: 300,
                  confirmButtonText: 'OK',
                });
              }
              else if(err.response.data.hasOwnProperty('details') && err.response.data.details.includes("Validation Error")){
                swal({
                  title: "Oh no, there's a problem!",
                  imageUrl: '/static/img/api-fail.svg',
                  imageWidth: 300,
                  confirmButtonText: 'OK',
                  html:`<h5>Here's what we found:</h5>
                        <div class="padding20 orange lighten-5 codeBox"><code>`+err.response.data.details || err.response.data+`</code></div>`,
                  footer:`<p><b class="red-text">Need help?</b> Take a look at OpenAPI specification examples <a href="https://github.com/NCATSTranslator/translator_extensions" target="_blank" rel="nonreferrer">here</a>.</p>`
                })
              }
              else{
                swal({
                  title: "Oops, there's an issue!",
                  imageUrl: '/static/img/api-fail.svg',
                  imageWidth: 300,
                  confirmButtonText: 'OK',
                  html:`<h5>Here's what we found:</h5>
                        <div class="padding20 orange lighten-5 codeBox"><code>`+err.response.data.details || err.response.data+`</code></div>`,
                  footer:`<p><b class="red-text">Need help?</b> Learn more about and look at examples of SmartAPI extensions <a href="https://github.com/NCATSTranslator/translator_extensions" target="_blank" rel="nonreferrer">here</a>.</p>`
                })
              }
              }
              });
            } else {
              Swal.fire({type:'error',
                toast:true,
                title: 'Missing URL',
                showConfirmButton:false,
                timer:1000})
            }
          },
          getApis: function(){
            var self=this;

            self.apis=[];
            let url = "/api/query?size=100&q=_meta.username:"+self.userInfo.login

            axios.get(`${url}&timestamp=${new Date().getTime()}`).then(function(response){
                  self.apis = _.sortBy(response.data.hits,'info.title');
                  self.total = response.data.total;
                  self.hideLoading();

              }).catch(err=>{
                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });
                self.hideLoading();

                toast({
                  type: 'error',
                  title: 'Failed to load APIS'
                })
                throw err;
              });

          },
          compiledMarkdown: function (mdtext) {
              return marked(mdtext, { sanitize: true })
          },
          deleteForever: function(title, apiID){
            // ID for api to be deleted forever
            var self = this;
            self.showLoading();
            axios.delete('/api/metadata/'+apiID).then(response=>{
              //sucessful deletion
              self.hideLoading();
              if( response.data.success ){
                window.location.reload()
              }else if( !response.data.success ){
                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });

                toast({
                  type: 'error',
                  title: 'Failed to delete '+title
                })
              }
            }).catch(error=>{
              //error deleting
              throw(error);
            });
            self.getApis();

          },
          showMessage(title, status){
            const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 4000
                });
            switch (status) {
              case 'updated':
                swal({
                  title: "Sweet!",
                  confirmButtonText: 'OK',
                  imageUrl: '/static/img/api-sucess.svg',
                  imageWidth: 200,
                  html: "<h5><b>"+title+"</b> was updated!</h5>",
                  footer: "<p>You may look at your latest changes on our <a href='/registry?q="+title+"'>API registry</a>.</p>"
                })
                break;

              case 'not_modified':
                swal({
                  title: "Hmmm...",
                  imageUrl: '/static/img/api-thinking.svg',
                  imageWidth: 200,
                  confirmButtonText: 'OK',
                  html: "<h5><b>"+title+"</b> has no changes.</h5>",
                  footer: "<p>If this doesn't sound right, wait a few minutes and try again. Repositories such as GitHub may have a delay updating their raw data.</p>"
                })
                break;

              case 'invalid':
                swal({
                  title: "Oops!",
                  confirmButtonText: 'OK',
                  imageUrl: '/static/img/api-fail.svg',
                  imageWidth: 200,
                  confirmButtonText: 'OK',
                  html: "<h5 class='red-text'>New version found but there's validation errors.</h5>",
                  footer: "<p>Click on <b class='indigo-text'>Validate Only</b> to see validation results. Once they are resolved you can <b class='green-text'>Refresh</b> and synchronize your metadata to its latest version.</p>"
                })
                break;

              case 'nofile':
                swal({
                  title: "Oh no!",
                  confirmButtonText: 'OK',
                  imageUrl: '/static/img/api-error.svg',
                  imageWidth: 200,
                  html: "<h6 class='red-text'>Looks like the source file no longers exists or is not reachable</h6>",
                  footer: "<p>This issue can only be resolved by restoring your source file or deleting this API and re-registering as a new API with a working source file.</p>"
                })
                break;
            
              default:
                toast({
                    title: 'NAME: <b>' + title + '</b> - STATUS: ' + status
                  })
                break;
            }
          },
          refreshThis: function(title, id){
            var self = this;
            self.showLoading();
            axios.put('/api/metadata/'+id).then(res=>{
              if( res.data.success ){
                self.showMessage(title, res.data.status)
                self.hideLoading();
              }else if( !res.data.success ){
                self.showMessage(title, res.data.status)
                self.hideLoading();
              }
            }).catch(err=>{
              if (err.response.data.hasOwnProperty('status')) {
                self.showMessage(title, err.response.data.status)
              } else {
                toast({
                  type: 'error',
                  title: title+' failed to refresh'
                })
              }
              self.hideLoading();
              throw(err);
            });
            self.getApis();
          },
          showLoading: function(){
            this.loading = true;
          },
          hideLoading: function(){
            this.loading = false;
          },
          getDetails: function(index){
            var self = this;
            //modal will show the apis index of the item clicked
            self.selectedAPIIndex = index;
            //hasShortName sets display for slug registration view
            if (self.apis[index]._meta.slug) {
              self.hasShortName=true;
            }else{
              self.hasShortName=false;
            }
          },
          checkForAPIInfoLink: function(api){
            // console.log(api);
            if (_.get(api, 'info.contact.x-id')) {
              return [api.info.contact['x-id']];
            }
            else if (_.get(api, 'info.contact.url')) {
              return [api.info.contact.url];
            }
            else{
              return ['http://smart-api.info/'];
            }
          },
          convertDate: function(timestamp){
            var date = new Date(timestamp);
            date = moment(date).format('LLL');
            return date;
          },
          reloadAPIs: function(){
            this.showLoading();
            this.getUserInfo();
          },
          evaluateShortname: function(){
            var self = this;
            axios.get(`/api/query?q=__all__&filters={"_meta.slug":["`+this.myShortName+`"]}&fields=_meta`).then(response=>{
              //console.log(response.data.hits);
              if (response.data.total.value) {
                self.availableShortName = false;
                self.takenSlug = true;
                return false;
              }else{
                self.availableShortName = true;
                self.takenSlug = false;
                return true;
              }
            }).catch(error =>{
              throw error;
              self.availableShortName = false;
              Materialize.toast('Slug check failed', 4000,'rounded red white-text');
            })

          },
          setShortname: function(){
            //claim it button clicked
            var self = this;
            self.loading = false;
            axios.put('/api/metadata/'+self.apis[self.selectedAPIIndex]._id+'?slug='+self.myShortName).then(response=>{
              if( response.data.success ){
                self.apis[self.selectedAPIIndex]._meta.slug= response.data[self.apis[self.selectedAPIIndex]._id+'._meta.slug'];
                self.myShortName = '';

                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });

                toast({
                  type: 'success',
                  title:'Slug was registered'
                })

                self.createOrEditMode = false;
                self.hasShortName = true;
                self.loading = true;
              }else if( !response.data.success ){
                self.loading = false;
                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });

                toast({
                  type: 'error',
                  title:response.data.error
                })
              }
            }).catch(error=>{
              throw error;
            });
          },
          deleteSlug: function(){
            //delete it button clicked
            var self = this;
            self.loading = false;
            axios.delete('/api/metadata/'+self.apis[self.selectedAPIIndex]._id+"?slug="+self.apis[self.selectedAPIIndex]._meta.slug).then(response=>{
              if( response.data.success ){
                self.apis[self.selectedAPIIndex]._meta.slug= '';
                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });

                toast({
                  type: 'success',
                  title:'Slug was deleted'
                })
                self.createOrEditMode = false;
                self.hasShortName = false;
                self.loading = true;
              }else if( !response.data.success ){
                self.loading = false;
                const toast = swal.mixin({
                  toast: true,
                  position: 'top',
                  showConfirmButton: false,
                  timer: 2000
                });

                toast({
                  type: 'error',
                  title:'Slug could not be set'
                })
              }
            }).catch(error=>{
              throw error;
            });
          },
          getUserInfo: function(){
            var self= this;
            axios.get('/user').then(response=>{
              self.userInfo = response.data;
              self.getApis();

            }).catch(err=>{
              throw err;
            })
          },
          getAnalytics(){
            var self = this;
            axios.get('	https://gasuperproxy-1470690417190.appspot.com/query?id=ahxzfmdhc3VwZXJwcm94eS0xNDcwNjkwNDE3MTkwchULEghBcGlRdWVyeRiAgIDMgsmRCgw').then(res=>{
              if (res.data.rows) {
                self.analytics = res.data.rows;
              }
            }).catch(err=>{
              throw err;
            });
          },
          getHitsFor(apiname){
            var self = this;
            let data={'labels':[],'datasets':[]};
            let label = '';
            let dataArray=[];

            for (var i = 0; i < self.analytics.length; i++) {
              if (self.analytics[i][1].toLowerCase() === apiname.toLowerCase()) {
                label = self.analytics[i][0].toUpperCase();
                if (label == "EXPANDED") {
                  label = "VIEWS"
                }
                data.labels.push(label);
                let number = self.analytics[i][2];
                dataArray.push(number)
              }
            }
            data.datasets.push({'label':"Users",'data':dataArray,'backgroundColor': ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],})
            return data
          },
        },
        mounted: function(){
          let self = this;

          self.showLoading();
          self.getAnalytics();
          self.getUserInfo();
          // tabs
          $('ul.tabs').tabs();
          // modals
          $('.modal').modal({dismissible: true});

          tippy('#dashApp',{
            target: '.tipped',
            placement: 'top',
            theme:'light',
            sticky:true,
            interactive:true,
            onShow(instance) {
              let msg = instance.reference.dataset.tippyInfo;
              instance.setContent("<div class='p-1 blue-text'>"+msg+"</div>")
            },
          });

          tippy( '#top-2', {
      target: '.urlStatus',
      content: `<div class="white" style="padding:0px;">
                  <table>
                    <thead>
                      <tr>
                        <td colspan="2" class='grey-text center'>
                          <b>API Metadata Source URL Status</b>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class='green-text center'>
                          <b>OK</b>
                        </td>
                        <td class="black-text">
                          <small>Source URL is working and returns valid metadata.</small>
                        </td>
                      </tr>
                      <tr>
                        <td class='orange-text center'>
                          <b>NOT FOUND</b>
                        </td>
                        <td class="black-text">
                          <small>Source URL returns not found.</small>
                        </td>
                      </tr>
                      <tr>
                        <td class='red-text center'>
                          <b>INVALID</b>
                        </td>
                        <td class="black-text">
                          <small>Source URL works but contains invalid metadata.</small>
                        </td>
                      </tr>
                      <tr>
                        <td class='purple-text center'>
                          <b>BROKEN</b>
                        </td>
                        <td class="black-text">
                          <small>Source URL is broken.</small>
                        </td>
                      </tr>
                      <tr class="cyan lighten-5">
                        <td colspan='2' class='blue-grey-text'>
                          <p>
                            <b>Note: </b> API metadata cannot be synchronized with its source URL if the status is not <b class='green-text'>OK</b>. 
                          </p>
                          <p>
                            <b>Need help?</b> Click on the <b class='indigo-text'>Validate Only</b> button to see issues then the <b class='green-text'>Refresh</b> button once all issues have been resolved.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>`,
                placement: 'left-end',
      theme:'light',
      trigger:'click',
      sticky:true,
      interactive:true,
    });

          tippy( '#top', {
        target: '.apiStatus',
        content: `<div class="white" style="padding:0px;">
                    <table>
                      <thead>
                        <tr>
                          <td colspan="2" class='grey-text center'>
                            <b>Overall API Endpoint Uptime Status</b>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class='green-text center'>
                            <b>PASS</b>
                          </td>
                          <td class="black-text">
                            <small>Your OpenAPI V3 API endpoints provide examples and all return code 200.</small>
                          </td>
                        </tr>
                        <tr>
                          <td class='red-text center'>
                            <b>FAIL</b>
                          </td>
                          <td class="black-text">
                            <small>Your OpenAPI V3 API endpoints provide examples but return code other than 200.</small>
                          </td>
                        </tr>
                        <tr> 
                          <td class='orange-text center'>
                            <b>UNKNOWN</b>
                          </td>
                          <td class="black-text">
                            <small>None of your OpenAPI V3 API endpoints provide examples and cannot be tested. <a href='/faq#api-monitor' target="_blank">Learn more about how to to enable API status check </a>.</small>
                          </td>
                        </tr>
                        <tr>
                          <td class='blue-text center'>
                            <b>INCOMPATIBLE</b>
                          </td>
                          <td class="black-text">
                            <small>Your API's specification does not match OpenAPI V3 specification and will not be tested. Use our guide to learn how to upgrade your metadata to OpenAPI V3 <a href="/guide" target="_blank">here</a>.</small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>`,
                  placement: 'left-end',
        theme:'light',
        trigger:'click',
        sticky:true,
        interactive:true,
      });


        },
        watch: {
          inputApiName: function (input) {
            if(input.trim() === this.confirmModal.title){
              this.confirmDelete = false;
            }
            else{
              this.confirmDelete = true;
            }
          },
          searchQuery: function(query){
            if(!query){
              this.searchResults = [];
            }else{
              let result = this.apis.filter(o => o.info.title.toLowerCase().includes(query.toLowerCase()));
              this.searchResults = result;
            }
          },
          myShortName: function(shortname){
            var self = this;
            self.myShortName = self.myShortName.toLowerCase();
            var re = /[^a-zA-Z0-9\-\_\~]/;
            self.invalidChars = false;
            if (re.test(self.myShortName) ) {
              self.invalidChars = true;
            }
            if( !re.test(self.myShortName) && shortname.length >= 3 && shortname.length <= 50 ) {
                self.takenSlug = false;
                self.evaluateShortname();
            }else if(re.test(self.myShortName) && shortname.length >= 3 && shortname.length <= 50){
              self.invalidChars = true;
              self.availableShortName = false;
            }else{
              self.availableShortName = false;
            }
          }
        }
    });
</script>
{% endblock %}
