{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
  .full-height{
    min-height: 100vh;
    display: flex;
  }
  .flexP{
    display: flex;
    min-height: 80vh;
  }
  .flex1{
    flex: 1;
  }
  .flex7{
    flex: 7;
  }
  .position-absolute{
    position: absolute;
  }
  .position-relative{
    position: relative;
  }
  .docsMenu{
    padding: 20px 20px 20px 0px;
    transition: all 1s;
    margin-left: -160px;
    margin-top: 10px;
    width: 200px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--blue-medium);
    opacity: .5;
  }
  .docsMenu:hover{
    margin-left: 0px;
    background-color: var(--blue-light);
    opacity: 1;
  }

  .contentDocs{
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #targetDiv{
    max-width: 80vw;
    overflow: auto;
  }
</style>
<main id="docs-app" style="width: 100%;">
  <div class="row flexP">
    <div class="flex1 testBack position-relative">
      <div class="position-absolute docsMenu z-depth-4">
        <div class="position-relative">
          <i class="fa fa-bars white-text position-absolute show-on-small hide-on-med-and-up" aria-hidden="true" style="right: 0;"></i>
          <i class="fa fa-plus position-absolute hide-on-small-only show-on-medium-and-up" aria-hidden="true" style="right: 0; color: var(--blue-light)"></i>
        </div>
        <ul class="collection with-header noBorder">
          <li class="collection-header noBorder transparent">
            <h4 class="blue-grey-text">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Docs
            </h4>
          </li>
          <li class="collection-item noBorder transparent">
            <a href="#!" class="link" @click="reset">
              Introduction
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a
            href="#!"
            id="extBtn"
            class="link"
            @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI/master/README.md')">
              Get Started
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a
            href="#!"
            id="extBtn"
            class="link"
            @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI-Specification/OpenAPI.next/versions/smartapi-list.md')">
              SmartAPI Extensions
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a href="/branding" class="link">
              Branding
            </a>
          </li>
        </ul>
      </div>
      <div class="container white padding20 contentDocs z-depth-4">
        <h3 class="logoFont blue-text center-align flow-text">SmartAPI Documentation</h3>
        <hr />
        <div v-if='!clicked' class="center-align">
          <object width="200px" data="/static/img/logo-large.svg" alt="logo"></object>
          <h4 class="center-align blue-grey-text">What is a <span class="logoFont">SmartAPI</span>?</h4>
          <p class="intro-text blue-grey-text">
              The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs). Rich metadata is essential to properly describe your API so that it becomes discoverable, connected, and reusable. We have developed a <a href="http://openapis.org" target="_blank"></a>openAPI-based <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md" target="_blank"> specification</a> for defining the key API metadata elements and value sets. SmartAPI's leverage the <a href="https://www.openapis.org/" target="_blank">Open API specification v3 </a> and <a href="http://json-ld.org" target="_blank">JSON-LD</a> for providing semantically annotated JSON content that can be treated as <a href="http://linkeddata.org/" target="_blank">Linked Data</a>.
          </p>
          <hr />
          <h4 class="blue-grey-text center-align">Why do we need <span class="logoFont">SmartAPI</span>s?</h4>
          <p class="intro-text blue-grey-text">
              Data analysis is increasingly being performed using cloud-based, web-friendly application programming interfaces (APIs). Thousands of tools and APIs are available through web service registries such as <a href="http://www.programmableweb.com/" target="_blank">Programmable Web</a>, <a href="https://www.biocatalogue.org/" target="_blank">BioCatalogue</a> and cloud platforms such as <a href="https://galaxyproject.org/" target="_blank">Galaxy</a>. Searching these and other API repositories to find a set of tools to retrieve or operate on data of interest presents a number of formidable challenges: users must not only supply the right combination of search terms, but must also closely examine the API outputs to determine whether they can be connected together. SmartAPIs tackle this challenge because they contain the rich metadata needed to precisely describe the service and the data that it operates on or provides.
          </p>
        </div>
        <div id="targetDiv" class="dynamicTable">
      </div>
    </div>
  </div>
</main>

{% endraw %}
{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <!-- markdown converter -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js"></script>
  <script>


  var app = new Vue({
      el: '#docs-app',
      data: function(){
        return {
          clicked: false
        }
      },
      methods: {
        reset: function(){
          document.getElementById('targetDiv').innerHTML = "";
          this.clicked = false;
        },
        convertMarkdownToHtml: function(url){
            this.clicked = true;
            // covert markdown from raw data url to html, and dump html in target
            if ($("#targetDiv").html().length > 0){
                document.getElementById("targetDiv").innerHTML = "";
            }else{
                axios.get(url).then(response=>{

                    var md = new Remarkable({
                      html:         true,        // Enable HTML tags in source
                      xhtmlOut:     false,        // Use '/' to close single tags (<br />)
                      breaks:       false,        // Convert '\n' in paragraphs into <br>
                      langPrefix:   'language-',  // CSS language prefix for fenced blocks
                      linkify:      true,        // Autoconvert URL-like text to links

                      // Enable some language-neutral replacement + quotes beautification
                      typographer:  false,

                      // Double + single quotes replacement pairs, when typographer enabled,
                      // and smartquotes on. Set doubles to '«»' for Russian, '„“' for German.
                      quotes: '“”‘’',

                      // Highlighter function. Should return escaped HTML,
                      // or '' if the source string is not changed
                      highlight: function (/*str, lang*/) { return ''; }
                    });
                    var targetDump = document.getElementById("targetDiv");
                    var html = md.render(response.data);
                    targetDump.innerHTML = html;

                }).catch(err=>{
                    throw err;
                });
            }


        }
      },
      created: function(){

      }
  });

  </script>
{% endblock %}
