{% extends "main.html" %}
{% include "smartapi-head.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
  .full-height{
    min-height: 100vh;
    display: flex;
  }
  .flexP{
    display: flex;
    min-height: 80vh;
  }
  .flex1{
    flex: 1;
  }
  .flex7{
    flex: 7;
  }
  .position-absolute{
    position: absolute;
  }
  .position-relative{
    position: relative;
  }

  .contentDocs{
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #targetDiv{
    max-width: 80vw;
    overflow: auto;
  }
  h2, h1, h3{
    font-size: 2em !important;
  }

  .sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--blue-dark);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
    box-shadow: 0px 0px 10px black;
    opacity: .9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: normal;
    text-shadow: 1px 1px 1px black;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a.closebtn:hover{
  color: red !important;
  transition: 1s all;
}

mark{
  background: transparent;
  color: red;
  font-weight: bold;
}

#first_name:focus{
  width: 25% !important;
  text-align: center;
}

</style>
<main id="docs-app" style="width: 100%;">
  <div class="row">
    <div class="testBack padding20">
      <div id="mySidenav" class="sidenav testBack">
        <a href="javascript:void(0)" class="closebtn" @click="toggleShowHide()">&times;</a>
        <ul class="collection with-header noBorder">
          <li class="collection-header noBorder transparent">
            <h5 class="l-blue-text center-align">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Docs
            </h5>
          </li>
          <li class="collection-item noBorder transparent">
            <a href="#!" class="link" @click="reset">
              Introduction <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a
            href="#!"
            id="extBtn"
            class="link"
            @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI/master/README.md')">
              Get Started <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a
            href="#!"
            id="extBtn"
            class="link"
            @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI-Specification/OpenAPI.next/versions/smartapi-list.md')">
              SmartAPI Extensions <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a
            href="#!"
            id="extBtn"
            class="link"
            @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI-Specification/OpenAPI.next/README.md')">
              OpenAPI Specification <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="collection-item noBorder transparent">
            <a href="/branding" class="link">
              Branding <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="container white padding20 contentDocs z-depth-4">
        <h3 class="logoFont blue-text center-align flow-text">SmartAPI Documentation</h3>
        <div class="center-align">
          <span class="btn blue white-text" @click="toggleShowHide()">&#9776;<span v-if='!show'> Hide</span> Menu</span>
          <br />
          <form @submit.prevent='mark()'>
            <input v-if='clicked' autocomplete="false" v-model='words' placeholder="Find" id="first_name" type="text" class="browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 10%; outline: none; padding: 2px; border-radius: 20px; border:var(--blue-medium) 2px solid; right:0; text-align: center; transition: 1s all;">
          </form>
        </div>
        <hr />
        <div v-if='!clicked' class="center-align">
          <object width="200px" data="/static/img/logo-large.svg" alt="logo"></object>
          <h4 class="center-align blue-grey-text">What is a <span class="logoFont">SmartAPI</span>?</h4>
          <p class="intro-text blue-grey-text">
              The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs). Rich metadata is essential to properly describe your API so that it becomes discoverable, connected, and reusable. We have developed a <a href="http://openapis.org" target="_blank"></a>openAPI-based <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md" target="_blank"> specification</a> for defining the key API metadata elements and value sets. SmartAPI's leverage the <a href="https://www.openapis.org/" target="_blank">Open API specification v3 </a> and <a href="http://json-ld.org" target="_blank">JSON-LD</a> for providing semantically annotated JSON content that can be treated as <a href="http://linkeddata.org/" target="_blank">Linked Data</a>.
          </p>
          <hr />
          <h4 class="blue-grey-text center-align">Why do we need <span class="logoFont">SmartAPI</span>s?</h4>
          <p class="intro-text blue-grey-text">
              Data analysis is increasingly being performed using cloud-based, web-friendly application programming interfaces (APIs). Thousands of tools and APIs are available through web service registries such as <a href="http://www.programmableweb.com/" target="_blank">Programmable Web</a>, <a href="https://www.biocatalogue.org/" target="_blank">BioCatalogue</a> and cloud platforms such as <a href="https://galaxyproject.org/" target="_blank">Galaxy</a>. Searching these and other API repositories to find a set of tools to retrieve or operate on data of interest presents a number of formidable challenges: users must not only supply the right combination of search terms, but must also closely examine the API outputs to determine whether they can be connected together. SmartAPIs tackle this challenge because they contain the rich metadata needed to precisely describe the service and the data that it operates on or provides.
          </p>
        </div>
        <div id="targetDiv" class="dynamicTable blue-grey-text context">
      </div>
    </div>
  </div>
</main>

{% endraw %}
{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <!-- markdown converter -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js"></script>
  <!-- Mark JS for search results highlighting -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script>

  var app = new Vue({
      el: '#docs-app',
      data: function(){
        return {
          clicked: false,
          words:'',
          show: true
        }
      },
      methods: {
        reset: function(){
          document.getElementById('targetDiv').innerHTML = "";
          this.clicked = false;
        },
        toggleShowHide: function(){
          if (this.show) {
            $('#mySidenav').show();
            this.show = !this.show;
          }else{
            $('#mySidenav').hide();
            this.show = !this.show;
          }
        },
        convertMarkdownToHtml: function(url){
            this.clicked = true;
            this.words='';
            // covert markdown from raw data url to html, and dump html in target
            document.getElementById("targetDiv").innerHTML = "";
            axios.get(url).then(response=>{

                var md = new Remarkable({
                  html:         true,        // Enable HTML tags in source
                  xhtmlOut:     false,        // Use '/' to close single tags (<br />)
                  breaks:       false,        // Convert '\n' in paragraphs into <br>
                  langPrefix:   'language-',  // CSS language prefix for fenced blocks
                  linkify:      true,        // Autoconvert URL-like text to links

                  // Enable some language-neutral replacement + quotes beautification
                  typographer:  false,

                  // Double + single quotes replacement pairs, when typographer enabled,
                  // and smartquotes on. Set doubles to '«»' for Russian, '„“' for German.
                  quotes: '“”‘’',

                  // Highlighter function. Should return escaped HTML,
                  // or '' if the source string is not changed
                  highlight: function (/*str, lang*/) { return ''; }
                });
                var targetDump = document.getElementById("targetDiv");
                var html = md.render(response.data);
                targetDump.innerHTML = html;

            }).catch(err=>{
                throw err;
            });
        },
        mark: function(){
          //unmark and mark current search
          var self= this;
          $(".context").unmark({
            done: function() {
              $(".context").mark(self.words);
            }
          });
        }
      },
      created: function(){

      }
  });

  </script>
{% endblock %}
