{% extends "main.html" %}
{% block content %}
{% raw %}
<link id="customstyle" type="text/css" rel="stylesheet" href="/static/css/custom-swagger.css"/>
<link href="https://cdn.jsdelivr.net/npm/swagger-editor-dist@3.6.3/swagger-editor.css" rel="stylesheet" />
<link id="customstyle" type="text/css" rel="stylesheet" href="/static/css/custom-swagger-editor.css"/>
<meta name="viewport" content="width=1024">

<main id="editor-app" class="white">
  <div id="swagger-editor" class="grey lighten-4"></div>
</main id="editor-app">

{% endraw %}
{% endblock %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<!-- Swagger Editor CDN dependencies -->
<script src="https://cdn.jsdelivr.net/npm/swagger-editor-dist@3.6.3/swagger-editor-bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swagger-editor-dist@3.6.3/swagger-editor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swagger-editor-dist@3.6.3/swagger-editor-standalone-preset.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swagger-editor-dist@3.6.3/validation.worker.js"></script>


<script>


  var app = new Vue({
      el: '#editor-app',
      data: function(){
        return {
          apiID:'',
          smartStyle: true,
          btntxt: 'Swith to Swagger Theme',
          context: {}
        }
      },
      methods: {
        loadSwaggerEditor: function(myUrl){

            const editor = SwaggerEditorBundle({
              url: myUrl,
              dom_id: '#swagger-editor',
              layout: 'StandaloneLayout',
              deeplinking: true,
              presets: [
                SwaggerEditorStandalonePreset
              ]
            })

          window.editor = editor;

          $('#swagger-editor .topbar-logo__img').attr('src', '/static/img/logo-medium.svg');
          $(".topbar a[href$='#']").attr('href', '/registry');
      },

    },
      mounted: function(){
        this.context = {{Context}};



        if (this.context.Data) {
          this.apiID = this.context.Id;
          this.loadSwaggerEditor('/api/metadata/'+this.apiID+'?format=yaml');
        }else{
          if(!localStorage.getItem("DontShow")) {
            swal({
                  imageUrl: '/static/img/api-editor.svg',
                  imageWidth: 200,
                  title:'API Editor',
                  text:'Here you can design, describe, and document your API with this open source editor fully dedicated to OpenAPI-based APIs.',
                  footer:`<button class="smallButton" id="forgetMe">Don't show this again</button>`
                });
          }
          $(document).on("click", "#forgetMe", function() {
              localStorage.setItem("DontShow", "true");
              swal.close();
          });

          this.loadSwaggerEditor('');
        }

      }
  });




</script>
{% endblock %}
