{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
.faqHero{
  margin: 20px;
  padding: 20px;
  background-image: url('static/img/question.jpg');
  background-size: cover;
}
</style>
<main id="faq-app" class="white" style="width: 100%;">
  <div class="container-fluid center">
    <div class="white faqHero blue-text">
      <img alt="faq" src="static/img/faq.svg" width='40%' class="responsive-img" style="max-width:300px;"/>
      <h1 class="bold">FAQ</h1>
    </div>
  </div>
  <div class="container center" style="margin-bottom:10vh;">
    <template v-for="section in faq">
      <h4 class="grey-text" v-text='section.sectionName'></h4>
      <ul class="collapsible">
        <template v-for="item in section.questions">
          <li>
            <div class="collapsible-header blue-text bold" :id="item.anchor" :value="window.location+item.anchor">
              <i class="fa fa-comment" aria-hidden="true"></i> <span v-text="item.question"></span> <a :href="'#'+item.anchor" class="secondary-content"><i class="material-icons small">link</i></a>
            </div>
            <div class="collapsible-body blue-grey-text flow-text left-align" v-html="item.answer"></div>
          </li>
        </template>
      </ul>
    </template>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#faq-app',
        data: function(){
          return {
            faq:[
                {
                  'sectionName': 'SmartAPI',
                  'questions':[
                    {
                      'anchor':'smartapi',
                      'question':'What is SmartAPI?',
                      'answer':`The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs). Rich metadata is essential to properly describe your API so that it becomes discoverable, connected, and reusable. We have developed a <a href="http://openapis.org" target="_blank" rel="noreferrer"></a>openAPI-based <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md" target="_blank" rel="noreferrer"> specification</a> for defining the key API metadata elements and value sets. SmartAPI's leverage the <a href="https://www.openapis.org/" target="_blank" rel="noreferrer">Open API specification v3 </a> and <a href="http://json-ld.org" target="_blank" rel="noreferrer">JSON-LD</a> for providing semantically annotated JSON content that can be treated as <a href="http://linkeddata.org/" target="_blank" rel="noreferrer">Linked Data</a>.`
                    },
                    {
                      'anchor':'citation',
                      'question':'How do I cite SmartAPI?',
                      'answer':`<p>
                      To reference SmartAPI in your work, please cite this <a target='_blank' href="https://doi.org/10.1007/978-3-319-58451-5_11">publication</a> and also the "https://smart-api.info/" URL:
                      </p>
                      <h5>Primary citation:</h5>
                      <p>Zaveri, A., Dastgheib, S., Whetzel, T., Verborgh, R., Avillach, P., Korodi, G., Terryn, R., Jagodnik, K., Assis, P., Wu, C., Dumontier, M.: smartAPI: Towards a More Intelligent Network of Web APIs. In: Blomqvist, E., Maynard, D., Gangemi, A., Hoekstra, R., Hitzler, P., and Hartig, O. (eds.) Proceedings of the 14th ESWC. pp. 154–169. Springer (2017).
                      </p>
                      <h5>Other Citations:</h5>
                      <p>
                        Shima Dastgheib, Trish Whetzel, Amrapali Zaveri, Cyrus Afrasiabi, Pedro Assis, Paul Avillach, Kathleen M. Jagodnik, Gabor Korodi, Marcin Pilarczyk, Jeff de Pons, Stephan C. Schürer, Raymond Terryn, Ruben Verborgh, Chunlei Wu, Michel Dumontier:
The SmartAPI Ecosystem for Making Web APIs FAIR. International Semantic Web Conference (Posters, Demos & Industry Tracks) 2017
                      </p>`
                    },
                    {
                      'anchor':'guide',
                      'question':'Is there a guide to help me get started',
                      'answer':`If you are new to SmartAPI you can use our <a href="/guide">guide</a> to help you contribute for the first time. The guide features examples, and easy step-by-step instructions on how to get started.`
                    },
                    {
                      'anchor':'dashboard',
                      'question':'What is dashboard and how do I access it?',
                      'answer':`Your user <a href="/dashboard">dashboard</a> is place where you can easily manage and quickly access your registered APIs. To access it log in and click on your user image on the menu bar.`
                    },
                  ]
                },
                {
                  'sectionName': 'API Management',
                  'questions':[
                    {
                      'anchor':'slug',
                      'question':'What is a slug and how do I register a custom slug for my API?',
                      'answer':`<p>
                                A slug is a part of a URL which identifies a particular page on a website in a form readable by users. By default SmartAPI uses an API's ID as the slug to serve an API's documentation. For example you can view your API's documentation by visiting <b>&lt;id&gt;</b>.smartapi.info. However you can register for a more readable slug so you can share your documentation under a namespace that represents your API.
                              </p>
                              <p>
                                To register a custom slug you must successfully add a new API to the <a href="/registry">registry</a>, log in to your <a href="/dashboard">dashboard</a> to see a list of your registered APIs. Click on the name of any API and go to the <b>Settings</b> tab.
                                Use the Custom Slug Registration Wizard and get a custom URL for your API's documentation. E.g. <b>&lt;slug&gt;</b>.smart-api.info
                              </p>`
                    },
                    {
                      'anchor':'metadata',
                      'question':'How often is API metadata updated automatically?',
                      'answer':`Our system performs checks for changes in your metadata daily and unless any are found that metadata will not be updated.`
                    },
                    {
                      'anchor':'github-metadata',
                      'question':'I edited my metadata on Github, but the raw Github URL does not reflect the changes. Why is that?',
                      'answer':`Github appears to take a little time to update it's raw links due to cache controls. Wait a little while and your changes will appear eventually. GitHub serves "raw" pages with Cache-Control: max-age=300. That's specified in seconds, meaning the pages are intended to be cached for 5 minutes.`
                    },
                    {
                      'anchor':'refresh',
                      'question':'How do I manually refresh my API metadata if I just made a change?',
                      'answer':`Our system performs checks for changes in your metadata daily and unless any are found that metadata will not be updated.`
                    },
                    {
                      'anchor':'api-monitor',
                      'question':"How can I construct my API specification so SmartAPI's API monitor can track my API status",
                      'answer':`<p>
                        There is an API monitor running in the backend of SmartAPI to track the status of APIs registered in the SmartAPI registry. To make your API “trackable”, here are some guidelines to follow:
                      </p>
                      <ol>
                        <li>
                          If your API endpoints have required parameter(s), you must provide an example for each required parameter. Our API monitor will look for the value of the example field under “Parameter” object or “Request Body” object to construct a valid API call. Instructions regarding how to create an example for “Parameter” object or “Request Body” object could be found <a target="_blank" href=' https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md#parameterObject and https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md#requestBodyObject'>here</a>.
                          <br />
                          Here is an example of a “trackable” API with examples provided: <a href='https://smart-api.info/api/metadata/mygene' target="_blank">https://smart-api.info/api/metadata/mygene</a>.
                        </li>
                        <li>
                          If your API endpoints don’t have required parameter(s), you’re all set. No example is needed. We will automatically construct an API call with the paths and server information provided.
                        </li>
                      </ol>`
                    },
                    {
                      'anchor':'api-status',
                      'question':'What does my API status mean?',
                      'answer':`<p>
                                  Your API status can indicate one of the following things:
                                </p>
                                <table>
                                  <tbody>
                                    <tr>
                                      <td class='green-text'>
                                        <b>PASS</b>
                                      </td>
                                      <td class="blue-grey-text">
                                        Your OpenAPI V3 API endpoints provide examples and all return code 200.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class='red-text'>
                                        <b>FAIL</b>
                                      </td>
                                      <td class="blue-grey-text">
                                        Your OpenAPI V3 API endpoints provide examples but return code other than 200.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class='orange-text'>
                                        <b>UNKNOWN</b>
                                      </td>
                                      <td class="blue-grey-text">
                                        One or more of your OpenAPI V3 API endpoints don't provide examples and cannot be tested. <a href='/faq#api-monitor' >Learn more about how to to enable API status check </a>.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class='blue-text'>
                                        <b>INCOMPATIBLE</b>
                                      </td>
                                      <td class="blue-grey-text">
                                        Your API is Swagger V2, only OpenAPI V3 APIs will be tested. Use our guide to learn how to upgrade your metadata to OpenAPI V3 <a href="/guide" target="_blank">here</a>.
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>`
                    },
                    {
                      'anchor':'transfer',
                      'question':'How can I transfer/claim the ownership of an API entry?',
                      'answer':`<p>
                        Transfer of ownership requests can only come from a registered user, and should be accompanied with a message detailing the rationale for the transfer. Some evidence should be presented that supports your/their claim about ownership (name listed on official website or in API documentation), along with other information to follow up (e.g. full name, email address, phone number, github account). Once reviewed, the current API owner can then transfer the ownership to the other user.
                      </p>
                      <p>
                        If you would like to transfer ownership to someone else or claim ownership of an API please <a target="_blank" rel="noreferrer" href="mailto:api-interoperability@googlegroups.com">contact us</a>.
                      </p>`
                    },
                    {
                      'anchor':'swagger',
                      'question':'My API uses Swagger V2 specification, does SmartAPI support it?',
                      'answer':`<p>
                        You can submit Swagger V2 APIs and they will appear on our registry, however they will not experiece full functionality on SmartAPI and BioThings Explorer.
                      </p>
                      <p>
                        If you use our <a href="/guide">guide</a> you can upgrade your Swagger V2 data to <a target="_blank" rel="noreferrer" rel="noreferrer" href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md">OpenAPI V3 Specification <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
                      </p>`
                    },
                    {
                      'anchor':'delete',
                      'question':'How do I delete an API?',
                      'answer':`To delete an API you must be the registered owner of that API. Log in to access the user <a href="/dashboard">dashboard</a> and see a list of the APIs you have registered. Click on the delete button of the API you want to delete and follow the instructions to delete.`
                    },
                  ]
                },
                {
                  'sectionName': 'Other',
                  'questions':[
                    {
                      'anchor':'branding',
                      'question':"Can I use SmartAPI's branding on my project?",
                      'answer':`For most cases yes as long as proper credit is given to our services. For more information please read our guidelines on our <a href="/branding">branding</a> page.`
                    },
                    {
                      'anchor':'contact',
                      'question':'I need additional help, how do I contact SmartAPI?',
                      'answer':`If you need to contact us you can <a target="_blank" rel="noreferrer" href="mailto:api-interoperability@googlegroups.com">email us</a> or if you spot a bug or have any suggestions you may open an <a target="_blank" rel="noreferrer" href="https://github.com/SmartAPI/smartAPI/issues">issue</a> on GitHub.`
                    },
                  ]
                }
              ]
          }
        },
        methods: {
          readURL(){
            let hash = window.location.hash;
            if (hash) {
              $('.collapsible-header').removeClass('active');
              $(hash).addClass('active');
            }
          }
        },
        mounted: function(){
          this.readURL();
        }
    });
    // Smooth Scrolling to Anchors
      // Select all links with hashes
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000, function() {
                // Callback after animation
                // Must change focus!
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) { // Checking if the target was focused
                  return false;
                } else {
                  $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                  $target.focus(); // Set focus again
                };
              });
            }
          }
        });
</script>
{% endraw %}
{% include "footer.html" %}
{% endblock %}
