<!--Footer-->
<style>
    .footerLogos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .footerLogos div{
        flex-basis: 15%;
        min-width: 125px;
    }
</style>
<footer id="contact" class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="footerLogos">
                <div>
                    <a href="http://wulab.io/" rel="noreferrer" target="_blank">
                        <img width="100%" src='static/img/wulab.png' alt="wulab">
                    </a>
                </div>
                <div >
                    <a href="http://sulab.org/" rel="noreferrer" target="_blank">
                        <img width="100%" src='static/img/sulab.png' alt="sulab">
                    </a>
                </div>
                <div >
                    <a href="https://www.scripps.edu/" rel="noreferrer" target="_blank">
                        <img width="100%" src='static/img/scripps.png' alt="scripps">
                    </a>
                </div>
                <div >
                    <a href="https://www.maastrichtuniversity.nl/research/institute-data-science#" rel="noreferrer" target="_blank">
                        <img width="100%" src='static/img/mu-white.png' alt="mu">
                    </a>
                </div>
                <div>
                    <a href="https://ncats.nih.gov/translator" rel="noreferrer" target="_blank">
                        <img width="100%" src='static/img/TranslatorLogo.JPG' alt="translator">
                    </a>
                </div>
                <div style="border-left: 2px solid #328cc4; padding-left: 10px;">
                    <h6>
                        <small>Supported with funding from</small>
                    </h6>
                    <div>
                        <a href="https://ncats.nih.gov/" rel="noreferrer" target="_blank">
                            <img width="100%" src='static/img/ncats.png' alt="ncats">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <h5 class="blue-text logoFont">SmartAPI</h5>
                <ul>
                    <li>
                        <a class="footerLink" href="/">Home</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/about">About</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/privacy">Privacy</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/documentation">Documentation</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/branding"> Branding</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m4">
                <h5 class="blue-grey-text">API Management</h5>
                <ul>
                    <li>
                        <a class="footerLink" href="/registry">API Registry</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/add_api">Add an API</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/guide">Guide</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/editor/">API Editor</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/faq"> FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m4">
                <h5 class="blue-grey-text">Connect</h5>
                <ul>
                    <li>
                        <a class="footerLink" target="_blank" href="https://github.com/smartapi">
                            Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-4">
        <div class="container blue-grey-text center-align">
            <hr>
            <p>Copyright &copy; <span id="year"></span>.
                <a target="_blank" class="blue-grey-text" href="http://smart-api.info">SmartAPI consortium</a>.
                All content available via <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <i class="fa fa-creative-commons blue-grey-text" aria-hidden="true"></i>
                </a>
            </p>

              {#<div class="license-icons">
                  All content available via
                  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
                  <i class="cc-icon-cc"></i><i class="cc-icon-cc-by"></i>
                </a>.
              </div>#}
        </div>
    </div>
</footer>
<script>
var currentTime = new Date()
var year = currentTime.getFullYear()
var myelement = document.getElementById("year");
    myelement.innerHTML= year;
</script>
