<!--Footer-->
<footer id="contact" class="page-footer blue-grey darken-4 scrollspy" style="font-size: 12px;">
    <div class="container">
        <div class="row">
            <div class="col s6 m6 l6">
                <h5 class="blue-grey-text">SmartAPI Info</h5>
                <ul class="footerList">
                    <li>
                        <a class="footerLink" href="/"><i class="material-icons">home</i> Home</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/add_api"><i class="material-icons">subdirectory_arrow_right</i> Add an API</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/registry"><i class="material-icons">subdirectory_arrow_right</i> Registry</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/editor/"><i class="material-icons">subdirectory_arrow_right</i> Editor</a>
                    </li>
                    <li>
                        <a class="footerLink" href="/documentation"><i class="material-icons">subdirectory_arrow_right</i> Documentation</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m6 l6">
                <h5 class="blue-grey-text">Social</h5>
                <ul class="footerList">
                    <li>
                        <a class="footerLink" target="_blank" href="https://github.com/smartapi">
                            <i class="small fa fa-github-alt"></i> Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-4">
        <div class="container blue-grey-text">
            <hr>
            <p>Copyright &copy; 2017. 
                <a target="_blank" class="blue-grey-text" href="http://smart-api.info">SmartAPI consortium</a>.
                All content available via <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <span title="Creative Commons" style="padding:2px; border-radius:100%; border:1px #607d8b solid; color:#607d8b; font-size: 9px;">cc</span>
                </a>
            </p>

              {#<div class="license-icons">
                  All content available via
                  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
                  <i class="cc-icon-cc"></i><i class="cc-icon-cc-by"></i>
                </a>.
              </div>#}
        </div>
    </div>
</footer>

