<title>smartAPI</title>

<div class="navbar-fixed">
  <nav id="nav_f" class="blue" role="navigation">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">smartAPI</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/add_api">Add an API</a></li>
        <li><a href="/registry">Registry</a></li>
        <li><a href="/editor-oa3/">Editor</a></li>
        <li id="user_link"></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="side-nav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/add_api">Add an API</a></li>
  <li><a href="/registry">Registry</a></li>
  <li><a href="/editor-oa3/">Editor</a></li>
  <li id="side_user_link"></li>
</ul>
