<title>smartAPI</title>

<script>

function check_user(){
  $.ajax({url: "/user", success: function(result){
    var html = "";
    if (result.login){
      if (result.avatar_url){
          html += '<img class="avatar tooltipped" src="' + result.avatar_url +
                  '" alt="avatar" data-tooltip="' + result.name + '" />';
      }
      html += '<a href="/logout?next=' + window.location.pathname + '">Logout</a>';
    }else{
      html += '<a href="/login">Login</a>';
    }
    $("#user_link").html(html).promise().done(function(){
        $('.tooltipped').tooltip();
    });
  }});
};

$(document).ready(function() {
  // Initialize collapse button
  $('.button-collapse').sideNav({
        menuWidth: 240, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
    );

  // Initialize dropdown button
  $(".dropdown-button").dropdown();
  // Initialize modal
  $('.modal').modal();
  // Check user status
  check_user();
  });
</script>


<nav class="blue" role="navigation">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">smartAPI Project</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/add_api">Add an API</a></li>
      <li><a href="/registry">Registry</a></li>
      <li id="user_link"></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/add_api">Add an API</a></li>
      <li><a href="/registry">Registry</a></li>
    </ul>

  </div>
</nav>
