{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="section no-pad-bot indexBackground" id="index-banner">
    <div class="center-align indexChild">
        <h3 class="text_h3 white-text">SmartAPI</h3>
        <p style="font-weight: lighter;" class="white-text">New To SmartAPI?</p>
        <a style="font-size: 16px;" class="transparentButton" href="/documentation">Start Here</a>
    </div>
</div>

<div id="intro1" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img class="responsive-img" src="/static/img/metadata.jpg">
            </div>
            <div class="col s8">
                <h2 class="center header text_h2">What is a SmartAPI?</h2>
                <p class="intro-text blue-grey-text">The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs). Rich metadata is essential to properly describe your API so that it becomes discoverable, connected, and reusable. We have developed a <a href="http://openapis.org"></a>openAPI-based <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md"> specification</a> for defining the key API metadata elements and value sets. SmartAPI's leverage the <a href="https://www.openapis.org/">Open API specification v3 </a> and <a href="http://json-ld.org">JSON-LD</a> for providing semantically annotated JSON content that can be treated as <a href="http://linkeddata.org/">Linked Data</a>.</p>
            </div>
        </div>
</div>

<div class=" section card-panel blue-grey flexDadIndex padding20">
    <div style="background-image: url('/static/img/search50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Search the registry of SmartAPIs.';" 
         onmouseout="$(this).children('a')[0].innerHTML='Registry';" >
         <a href="/registry" class="white-text text-shadow">Registry</a>
    </div>
    <div style="background-image: url('/static/img/edit50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Author your own SmartAPI metadata.';" 
         onmouseout="$(this).children('a')[0].innerHTML='Editor';" >
         <a target="_blank" href="http://smart-api.info/editor-oa3/" class="white-text text-shadow">Editor</a>
    </div>
    <div style="background-image: url('/static/img/api50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Learn about and access the SmartAPI services.';" 
         onmouseout="$(this).children('a')[0].innerHTML='API';" >
         <a target="_blank" href="/ui/?url=/api/metadata/27a5b60716c3a401f2c021a5b718c5b1" class="white-text text-shadow">API</a>
    </div>
    <div style="background-image: url('/static/img/specs50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Use the SmartAPI metadata specification to code up your own SmartAPI.';" 
         onmouseout="$(this).children('a')[0].innerHTML='Specification';" >
         <a target="_blank" href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md" class="white-text text-shadow">Specification</a>
    </div>
    <div style="background-image: url('/static/img/guide50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Contribute to SmartAPI for the first time.';" 
         onmouseout="$(this).children('a')[0].innerHTML='Starter Guide';" >
         <a href="/documentation" class="white-text text-shadow">Documentation and Guide</a>
    </div>
    <div style="background-image: url('/static/img/group50.png');" 
         class="flexKidIndex blue-grey white-text animatedBackground" 
         onmouseover="$(this).children('a')[0].innerHTML='Join the API Interoperability working group.';" 
         onmouseout="$(this).children('a')[0].innerHTML='Working Group';" >
         <a target="_blank" href="https://goo.gl/D4e0xL" class="white-text text-shadow">Working Group</a>
    </div>
                
</div>

<div class="section scrollspy" id="intro2">
    <div class="container">
        <div class="row">
          <div class="col s8">
            <h2 class="center header text_h2">Why do we need SmartAPIs? </h2>
            <p class="intro-text">Data analysis is increasingly being performed using cloud-based, web-friendly application programming interfaces (APIs). Thousands of tools and APIs are available through web service registries such as <a href="http://www.programmableweb.com/">Programmable Web</a>, <a href="https://www.biocatalogue.org/">BioCatalogue</a> and cloud platforms such as <a href="https://galaxyproject.org/">Galaxy</a>. Searching these and other API repositories to find a set of tools to retrieve or operate on data of interest presents a number of formidable challenges: users must not only supply the right combination of search terms, but must also closely examine the API outputs to determine whether they can be connected together. SmartAPIs tackle this challenge because they contain the rich metadata needed to precisely describe the service and the data that it operates on or provides.
            </p>
          </div>
          <div class="col s4">
            <img class="responsive-img" src="/static/img/gear.png">
          </div>
        </div>
    </div>
</div>
{#
<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>
#}

<div class="section scrollspy" id="intro3">
    <div class="container">
      <div class="row">
        <div class="col s4">
            <img class="responsive-img" src="/static/img/map.png">
        </div>
        <div class="col s8">
          <h2 class="center header text_h2"> What does the SmartAPI offer? </h2>
          <p class="intro-text">Richly annotated APIs will provide the assets by which users will be able to search, browse, query, and reuse APIs. Users and intelligent agents being able to traverse a highly connected network of smartAPIs. Users will be able to automatically find APIs whose outputs are the inputs for other services. Ultimately, we envision the automatic generation of workflows that take users to where they want to go with what they have today.</p>
        </div>
      </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
