{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="section no-pad-bot indexBackground" id="index-banner">
    <div class="center-align indexChild">
        <h3 class="text_h3 white-text">SmartAPI</h3>
        <p style="font-weight: lighter;" class="white-text">New To SmartAPI?</p>
        <a style="font-size: 16px;" class="clearButton" href="/documentation">Start Here</a>
    </div>
</div>

<div style="display: none;" id="intro1" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img class="responsive-img circle" src="/static/img/metadata2.png">
            </div>
            <div class="col s8">
                <h2 class="center header text_h2 blue-grey-text">What is a SmartAPI?</h2>
                <p class="intro-text blue-grey-text">The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs). Rich metadata is essential to properly describe your API so that it becomes discoverable, connected, and reusable. We have developed a <a href="http://openapis.org"></a>openAPI-based <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md"> specification</a> for defining the key API metadata elements and value sets. SmartAPI's leverage the <a href="https://www.openapis.org/">Open API specification v3 </a> and <a href="http://json-ld.org">JSON-LD</a> for providing semantically annotated JSON content that can be treated as <a href="http://linkeddata.org/">Linked Data</a>.</p>
            </div>
        </div>
</div>


<div style="display: none;" id="topicsBox" class="row blue-grey">
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="/registry" >
        <img src="/static/img/search50.png" alt="icon">
        <br>
        <span class="white-text">Registry</span>
        </a>
        <p class="white-text" style="font-weight: lighter;">
            Search the registry of SmartAPIs
        </p>
    </div>
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="http://smart-api.info/editor-oa3/" >
        <img src="/static/img/edit50.png" alt="icon">
        <br>
        <span class="white-text">Editor</span>
       </a>
        <p class="white-text" style="font-weight: lighter;">
            Author your own SmartAPI metadata
        </p>
    </div>
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="/documentation" >
        <img src="/static/img/api50.png" alt="icon">
        <br>
        <span class="white-text">API</span>
       </a>
        <p class="white-text" style="font-weight: lighter;">
            Learn about and access the SmartAPI services
        </p>
    </div>
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md" >
        <img src="/static/img/specs50.png" alt="icon">
        <br>
        <span class="white-text">Specification</span>
       </a>
        <p class="white-text" style="font-weight: lighter;">
            SmartAPI metadata specification to start your API
        </p>
    </div>
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="/documentation" >
        <img src="/static/img/guide50.png" alt="icon">
        <br>
        <span class="white-text">Guide</span>
       </a>
        <p class="white-text" style="font-weight: lighter;">
            Contribute to SmartAPI for the first time
        </p>
    </div>
    <div class="col s12 m6 l4 center-align padding20 topic">
        <a href="https://goo.gl/D4e0xL" >
        <img src="/static/img/group50.png" alt="icon">
        <br>
        <span class="white-text">Working Group</span>
       </a>
        <p class="white-text" style="font-weight: lighter;">
            Join the API Interoperability working group
        </p>
    </div>

</div>

<div style="display: none;" class="section scrollspy" id="intro2">
    <div class="container">
        <div class="row">
          <div class="col s8">
            <h2 class="center header text_h2">Why do we need SmartAPIs? </h2>
            <p class="intro-text">Data analysis is increasingly being performed using cloud-based, web-friendly application programming interfaces (APIs). Thousands of tools and APIs are available through web service registries such as <a href="http://www.programmableweb.com/">Programmable Web</a>, <a href="https://www.biocatalogue.org/">BioCatalogue</a> and cloud platforms such as <a href="https://galaxyproject.org/">Galaxy</a>. Searching these and other API repositories to find a set of tools to retrieve or operate on data of interest presents a number of formidable challenges: users must not only supply the right combination of search terms, but must also closely examine the API outputs to determine whether they can be connected together. SmartAPIs tackle this challenge because they contain the rich metadata needed to precisely describe the service and the data that it operates on or provides.
            </p>
          </div>
          <div class="col s4">
            <img class="responsive-img" src="/static/img/gear.png">
          </div>
        </div>
    </div>
</div>


<div style="display: none;" class="section scrollspy" id="intro3">
    <div class="container">
      <div class="row">
        <div class="col s4">
            <img class="responsive-img" src="/static/img/map.png">
        </div>
        <div class="col s8">
          <h2 class="center header text_h2"> What does the SmartAPI offer? </h2>
          <p class="intro-text">Richly annotated APIs will provide the assets by which users will be able to search, browse, query, and reuse APIs. Users and intelligent agents being able to traverse a highly connected network of smartAPIs. Users will be able to automatically find APIs whose outputs are the inputs for other services. Ultimately, we envision the automatic generation of workflows that take users to where they want to go with what they have today.</p>
        </div>
      </div>
    </div>
</div>
<div id="tracker" style="height: 100px; width: 100%;" class="indexBackground">
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    var options = [
    {selector: '#tracker', offset: 100, callback: function(){
        $('#intro1').fadeIn(5000);
    } },
    {selector: '#tracker', offset: 150, callback: function(){
        $('#topicsBox').slideDown('slow');
    } },
    {selector: '#tracker', offset: 200, callback: function(){
        $('#intro2').slideDown('slow');
    } },
    {selector: '#tracker', offset: 250, callback: function(){
        $('#intro3').slideDown('slow');
    } }
  ];
  Materialize.scrollFire(options);
</script>

{% include "footer.html" %}
{% endblock %}
