<!DOCTYPE html>
<html lang="en">
    <head>

      <meta property="og:locale" content="en_US" />
      <meta property="og:url" content="http://smart-api.info/">
      <meta property="og:site_name" content="SmartAPI">
      <meta property="og:title" content="SmartAPI | Building a connected network of FAIR APIs" />
      <meta name="description" content="The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs)" />
      <meta property="og:image" content="">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="706">
      <meta property="og:image:height" content="506">
      <meta property="og:image" content="/static/img/logo-large.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="706">
      <meta property="og:image:height" content="506">
      <meta property="fb:app_id" content="" />
      <meta name="twitter:title" content="SmartAPI | Building a connected network of FAIR APIs" />
      <meta name="twitter:image" content="/static/img/logo-medium.png" />
      <meta name="twitter:url" content="http://smart-api.info/" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="The SmartAPI project aims to maximize the FAIRness (Findability, Accessibility, Interoperability, and Reusability) of web-based Application Programming Interfaces (APIs)" />
      <link rel="apple-touch-icon" href="/static/img/logo-medium.png" />
      <link rel="shortcut icon" type="image/png" href="/static/img/logo-small.png"/>
      <link rel="shortcut icon" type="image/png" href="/static/img/logo-small.png"/>


        <!-- Import jQuery UI -->
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet">-->

        <!-- Materialize CSS -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#2196F3">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Import Palette Colors -->
        <!--<link rel="stylesheet" type="text/css" href="./static/palette.css">-->
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css" rel="stylesheet">

        <link href="/static/css/smartapi.css" rel="stylesheet">
        <link href="/static/css/animista.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">

        {% block extra_head %}
        {% endblock %}

    </head>

    <body id="top" class="scrollspy">

            {% block content %}
            {% endblock %}



        <!-- Import jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>-->

        <!-- Materialize Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- Select2 https://select2.github.io/ -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>

        <script src="/static/js/smartapi.js"></script>

        {% block extra_scripts %}
        {% endblock %}
        <script type="text/javascript">
            $('.collapsible').collapsible();
        </script>
    </body>
</html>
