{% extends "main.html" %}
{% include "smartapi-head.html" %}
{% block content %}
{% include "header.html" %}
<style>

</style>
<main id="portals" class="white" v-cloak>
  <!-- MAIN SECTIONS -->
  <section class="center light-blue lighten-4 dashboardBack padding20">
    <span v-if="name == 'translator'">
      <img src="/static/img/TranslatorLogo.JPG" aria-label="NCATS" height="50px"/>
      <img src="/static/img/ncats-logo-1.png" aria-label="NCATS" height="50px"/>
    </span>
    <h1 class="blue-text bold flow-text">
      <span v-if="name == 'translator'">
        NCATS BioMedical Data Translator
      </span>
      <span v-else v-text="name"></span>
    </h1>
  </section>

  <template v-if="name == 'translator'">
    {% include "portal-translator.html" %}
  </template>

</main>

{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@biothings-explorer/smartapi-kg@1.0.16/bundle.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.1/cytoscape.min.js" integrity="sha256-oYPiLQ2sL4jlYuCJE3rDZFD0OUy8t1fL6U0wIWyqUf8=" crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js"></script>
  <script>

  const store = new Vuex.Store({
      state: {
        'name': Object,
      },
      strict: true,
      mutations: {
        saveContext(state,payload){
          state.name= payload['context']['portal'];
        },

      },
      getters:{
        getName:(state)=>{
          return state.name
        },
      },
      actions:{

      }
    });


  var app = new Vue({
      el: '#portals',
      data: function(){
        return {
        }
      },
      computed: {
        name : function(){
          return store.getters.getName
        },
      },
      watch:{

      },
      methods: {
        compiledMarkdown: function (mdtext,url) {
          if (url){
            fetch(mdtext)
            .then(response => response.text())
            .then(function(result){
              return marked(result, { sanitize: true })
            })
          }else{
            return marked(mdtext, { sanitize: true })
          }
        },
        convertMarkdownToHtml: function(url,target){
            // covert markdown from raw data url to html, and dump html in target
            axios.get(url).then(response=>{

                var md = new Remarkable({
                  html:         true,        // Enable HTML tags in source
                  xhtmlOut:     false,        // Use '/' to close single tags (<br />)
                  breaks:       false,        // Convert '\n' in paragraphs into <br>
                  langPrefix:   'language-',  // CSS language prefix for fenced blocks
                  linkify:      true,        // Autoconvert URL-like text to links

                  // Enable some language-neutral replacement + quotes beautification
                  typographer:  false,

                  // Double + single quotes replacement pairs, when typographer enabled,
                  // and smartquotes on. Set doubles to '«»' for Russian, '„“' for German.
                  quotes: '“”‘’',

                  // Highlighter function. Should return escaped HTML,
                  // or '' if the source string is not changed
                  highlight: function (/*str, lang*/) { return ''; }
                });
                var targetDump = document.getElementById(target);
                var html = md.render(response.data);
                targetDump.innerHTML = html;

            }).catch(err=>{
                throw err;
            });


        },
      },
      created: function(){
        if ({{Context}}) {
          // console.log({{Context}})
          var payload = {};
          payload["context"] = {{Context}};
          store.commit('saveContext',payload);
        }

      },mounted:function(){
        var self = this;

      }
  });
  </script>
{% endblock %}
