{% block content %}
  <main id="portal">
    <div class="d-flex align-items-stretch row flex-wrap m-0">
      <!-- Left -->
      <div class="col s12 m6 padding20">
        <h3 class="center blue-text bold">BUILD A TRANSLATOR KP (Knowledge Provider) API</h3>
        <section>
          <div class="d-flex">
            <h5 class="meta_grad" style="margin-right:5px;padding:2px;"></h5>
            <h5 class="meta_grad" style="margin-right:5px;padding:4px;"></h5>
            <h5 class="white-text meta_grad rounded-right padding20"><i class="material-icons">filter_1</i> Create a KP API</h5>
          </div>
          <p class="center">
            <img src="/static/img/build_api-01.svg" width="100px" alt="create api"/>
          </p>
          <p>
            To create a KP API that's ready to be integrated into the Translator ecosystem, you can:
            <ul>
              <li>
                <i class="material-icons green-text">done</i> Build a REST API with JSON output (use your own preferred structure).
              </li>
              <li>
                <i class="material-icons green-text">done</i> Build a ReasonerStdAPI, follow the instructions <a target="_blank" rel="noreferrer" href="https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI">here <i class="fa fa-external-link-square" aria-hidden="true"></i></a>.
              </li>
            </ul>
            Regardless the type of APIs you are implementing, we recommend to follow these <a class="modal-trigger green-text" href="#modal" @click="handleModal('best-practices')">API best-practices</a>.
          </p>
          <p>
            <b>Tip: </b>You may consider using <a href="https://docs.biothings.io/en/latest/" target="_blank" rel="noreferrer">BioThings SDK <i class="fa fa-external-link-square" aria-hidden="true"></i></a> to build your KP APIs. BioThings SDK will create a high-quality APIs following all these best-practices by default. If you need the help, please <a href="mailto:biothings@googlegroups.com">contact</a> BioThings team (aka "Service Provider" KP team in Translator).
          </p>
        </section>
        <section>
          <div class=" d-flex">
            <h5 class="meta_grad" style="margin-right:5px;padding:2px;"></h5>
            <h5 class="meta_grad" style="margin-right:5px;padding:4px;"></h5>
            <h5 class="white-text meta_grad rounded-right padding20"><i class="material-icons">filter_2</i> Document your API with metadata</h5>
          </div>
          <p class="center">
            <img src="/static/img/navigate_api-01.svg" width="100px" alt="document api"/>
          </p>
          <p>
            To take full advantage of SmartAPI and make your KP API compatible with Meta-KG you will need to:
          </p>
          <ul>
            <li>
              <i class="material-icons green-text">done</i> 1. Create your API metadata following the latest <a href="http://spec.openapis.org/oas/v3.0.3" target="_blank" rel="noreferrer">OpenAPI v3 API specification <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
            </li>
            <li>
              <i class="material-icons green-text">done</i> 2. Describe the semantics of your API's input and output. <a class="modal-trigger green-text" href="#modal" @click="handleModal('sematic-io')">Learn more</a>.
            </li>
          </ul>
          <p>
            You can use this <a href="/editor">editor</a> build to write/edit your API metadata. You can start with an existing metadata example from <a target="_blank" rel="noreferrer" href="https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/mygene.info/openapi_minimum.yml">mygene.info</a> API. The editor automatically validates your API metadata and gives a live preview of auto-generated API documentation.
          </p>
          <p>
            This guide can also <a href="/guide">guide</a> through the process/tools on how to create your OpenAPI v3 API metadata or how to upgrade an existing Swagger v2 API metadata to OpenAPI v3.
          </p>

        </section>
        <section>
          <div class=" d-flex">
            <h5 class="meta_grad" style="margin-right:5px;padding:2px;"></h5>
            <h5 class="meta_grad" style="margin-right:5px;padding:4px;"></h5>
            <h5 class="white-text meta_grad rounded-right padding20"><i class="material-icons">filter_3</i> Register your API</h5>
          </div>
          <p>
            Once you are ready and <a href="/add_api">register</a> your KP API it will be listed on the <a href="/registry/translator">SmartAPI registy</a> and
            your API will be visible to other users.
          </p>
          <p>
            The registry provides useful information and operation documentation, API status, editing tools and many other neat features!
          </p>
          <div class="center">
            <img alt="registry pluses" src="/static/img/registry_plus-01.png" width="90%"/>
          </div>
        </section>
      </div>
      <!-- Right -->
      <div class="col s12 m6 padding20 meta_grad white-text container">
        <div class="center">
          <h3 class="center cyan-text bold">NAVIGATE YOUR TRANSLATOR KP API</h3>
          <img src="/static/img/metakg-01.png" aria-label="NCATS" width="150px"/>
          <h1>META-KG</h1>
        </div>
        <p>
          The SmartAPI Meta Knowledge Graph (Meta-KG) represents how biomedical concepts can be connected through APIs. Each node in the meta-KG represents a biolink entity type, e.g. Gene, SequenceVariant, ChemicalSubstance. Each edge in the meta-KG represents a unique combination of a biolink predicate, e.g. targets, treats, and an API which delivers the association.
        </p>
        <div class="center">
          <img src="/static/img/metaex.png" width="200px" alt="query example"/>
          <hr />
          <small>Disease affets Gene</small>
        </div>
        <p>
          The Meta-KG is constructed using the collection of SmartAPI specifications currently registered in SmartAPI. All APIs registered with x-smartapi field will be integrated into the meta-KG. In addition, all ReasonerStdAPIs registered in SmartAPI and implemented the /predicate endpoint will also be integrated.
        </p>
        <h5 class="bold center">Search APIs based on meta-kg operations</h5>
        <p class="center">
          <a class="btn green btn-large" href="/portal/translator/metakg">Try it</a>
        </p>
        <h4 class="cyan-text center">Example</h4>
        <div class="white grey-text rounded center p-1">
          <p>
            I want to find all API operations in which a biological concept <b>AFFECTS</b> a <b>GENE</b>…
          </p>
        </div>
        <p>
          Meta-KG would then find all connections with <i>predicate</i> “affects” and <i>output_type</i> “Gene” and give you a list of APIs which can give you type of results.
        </p>
        <img src="/static/img/graph_example.jpg" width="100%" alt="graph example" class="rounded"/>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <div id="desc"></div>
      </div>
    </div>
  </main>
{% endblock %}
