{% extends "main.html" %}
{% include "smartapi-head.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>
    .chartContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .chartContainer div > canvas{
        flex-basis: 40%;
        min-width: 300px;
        max-width: 350px;
        padding: 20px;
    }
    .summaryContainer{
        width: 100%;
        padding: 2em .5em;
    }
</style>
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<main id="summary" class="meta_grad summaryContainer" v-cloak>
    <div id="summary2" class="container grey lighten-2 padding20 center-align">
        <div class="chartContainer">
            <a class="btn red" href="/portal/translator">Back to Portal</a>
            <div>
                <img src="/static/img/TranslatorLogo.JPG" aria-label="NCATS" height="77px"/>
                <h1>Portal Summary</h1>
                <p>
                    <a href="/registry/translator" v-text="'('+totalAPIs+') APIs'"></a>
                </p>
            </div>
        </div>
        <template v-if="summaries && summaries.length">
            <div class="chartContainer">
                <template v-for="summary in summaries" :key="summary.name">
                    <summary-chart :data="data" :summary_type="summary.name" :colors="summary.colors"></summary-chart>
                </template>
            </div>
        </template>
    </div>
</main>
{% endraw %}
{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
  <script>

    Vue.component('summary-chart', {
        data: function(){
        return{
            tipClass:'',
            showDetails: false,
            tabledata:[],
            columns:[]
        }
        },
        props: ['data', 'summary_type', 'colors'],
        methods:{
            makeTable(){
                console.log('td', this.tabledata)
                if(this.showDetails){
                    var table = new Tabulator("#"+this.summary_type+'table', {
                        height:300, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically
                        data: this.tabledata, 
                        layout:"fitColumns",
                        columns: [
                            {title:"API", field:"name", formatter:"textarea"},
                            {title:this.summary_type.replaceAll('_',' '), field:"label", formatter:"textarea"},
                        ],
                        rowClick:function(e, row){ 
                            var a = document.createElement("a");
                            a.href = "/registry?q="+row.getData().id 
                            a.target = '_blank'
                            a.click();
                        },
                    });
                }
            },
            getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            },
            getRandomColors(numberOfColors){
                let colors = []
                for (var i = 0; i < numberOfColors; i++){
                    colors.push(this.getRandomColor())
                }
                return colors;
            },
            byTeamsIn(field){
                let self = this;
                let teams = {}
                //console.log('By Teams in: '+field)

                self.data.forEach(item => {
                    if(Object.prototype.hasOwnProperty.call(item['info'], field) && Object.prototype.hasOwnProperty.call(item['info'][field], 'team')){
                        self.tabledata.push({
                            id: item['_id'], 
                            name: item['info']['title'], 
                            label: item['info'][field]['team'].toString()
                        })
                        if(typeof item['info'][field]['team'] !== 'string'){
                            item['info'][field]['team'].forEach(team => {
                                if(team in teams){
                                    teams[team]++
                                }else{
                                    teams[team] = 1
                                }
                            })
                        }else{
                            if(item['info'][field]['team'] in teams){
                                teams[item['info'][field]['team']]++
                            }else{
                                teams[item['info'][field]['team']] = 1
                            }
                        }
                        
                    }
                })

                teams_sorted = Object.fromEntries(
                    Object.entries(teams).sort(([,a],[,b]) => a-b).reverse()
                );

                //console.log(`%c Teams in ${field}: `, 'color:cyan')
                // for (const team in teams_sorted) {
                    //console.log(`%c 👥 ${team}: `+teams_sorted[team], 'color:lightblue')
                // }
                //console.log('----------------------------')

                let data = {
                    datasets: [{
                        data: Object.values(teams_sorted),
                        'backgroundColor': self.colors == 'random' ? self.getRandomColors(Object.keys(teams_sorted).length) : self.colors
                    }],
                    labels: Object.keys(teams_sorted)
                };
                self.drawHorBarChart(data);
            },
            byComponentsIn(field){
                let self = this;
                let components = {}
                //console.log('By Components in: '+field)

                self.data.forEach(item => {
                    if(Object.prototype.hasOwnProperty.call(item['info'], field) && Object.prototype.hasOwnProperty.call(item['info'][field], 'component')){
                        self.tabledata.push({
                            id: item['_id'], 
                            name: item['info']['title'], 
                            label: item['info'][field]['component']
                        })
                        if(typeof item['info'][field]['component'] !== 'string'){
                            item['info'][field]['component'].forEach(team => {
                                if(c in components){
                                    components[c]++
                                }else{
                                    components[c] = 1
                                }
                            })
                        }else{
                            if(item['info'][field]['component'] in components){
                                components[item['info'][field]['component']]++
                            }else{
                                components[item['info'][field]['component']] = 1
                            }
                        }
                        
                    }
                })

                components_sorted = Object.fromEntries(
                    Object.entries(components).sort(([,a],[,b]) => a-b).reverse()
                );

                //console.log(`%c Teams in ${field}: `, 'color:lightpink')
                // for (const c in components_sorted) {
                    //console.log(`%c 🧵 ${c}: `+components_sorted[c], 'color:pink')
                // }
                //console.log('----------------------------')

                let data = {
                    datasets: [{
                        data: Object.values(components_sorted),
                        'backgroundColor': self.colors == 'random' ? self.getRandomColors(Object.keys(components_sorted).length) : self.colors
                    }],
                    labels: Object.keys(components_sorted)
                };
                self.drawBarChart(data);
            },
            byStatus(field){
                let self = this;
                let statuses = {}

                self.data.forEach(item => {
                    if(Object.prototype.hasOwnProperty.call(item['_status'], field)){
                        //table data
                        if (field == 'refresh_status'){
                            self.tabledata.push({
                                id: item['_id'], 
                                name: item['info']['title'], 
                                label: item['_status'][field] == '200' ? 'OK' : 
                                        item['_status'][field] == '299' ? 'OK' :
                                        item['_status'][field] == '404' ? 'Not Found' :
                                        item['_status'][field] == '499' ? 'Invalid' : 'Broken'
                            })
                        }else{
                            self.tabledata.push({
                                id: item['_id'], 
                                name: item['info']['title'], 
                                label: item['_status'][field]
                            })
                        }
                        //chart data
                        if(item['_status'][field] in statuses){
                            statuses[item['_status'][field]]++
                        }else{
                            statuses[item['_status'][field]] = 1
                        }
                    }
                })                

                if (field == 'refresh_status') {
                    // assign UI used names
                    let with_labels = {'OK': 0, 'Not Found': 0, 'Invalid':0, 'Broken':0}
                    for (const key in statuses) {
                        switch (key) {
                            case '200':
                                with_labels['OK'] += statuses[key]
                                break;
                            case '299':
                                with_labels['OK'] += statuses[key]
                                break;
                            case '404':
                                with_labels['Not Found'] += statuses[key]
                                break;
                            case '499':
                                with_labels['Invalid'] += statuses[key]
                                break;
                            default:
                                with_labels['Broken'] += statuses[key]
                                break;
                        }
                    }
                    statuses = with_labels
                }

                let data = {
                    datasets: [{
                        data: Object.values(statuses),
                        'backgroundColor': self.colors == 'random' ? self.getRandomColors(Object.keys(statuses).length) : self.colors
                    }],
                    labels: Object.keys(statuses)
                };

                // self.drawPieChart(data);
            },
            hasFieldAndTag(field, tag){
                let self = this;
                let yesTF = 0;
                let noTF = 0;
                let yesTnoF = 0;
                let noTyesF = 0;

                let yesTF_label = `✅ Tagged "${tag}" ✅ Ext -${field}`
                let yesTnoF_label = `✅ Tagged "${tag}" ❌ Ext -${field}`
                let noTF_label = `❌ Tagged "${tag}" ❌ Ext -${field}`
                let noTyesF_label = `❌ Tagged "${tag}" ✅ Ext -${field}`

                //console.log('%c Checking for Field/Tag: '+field+" / "+tag, 'color:green')

                self.data.forEach(item => {
                    if(Object.prototype.hasOwnProperty.call(item, "tags") 
                    && JSON.stringify(item['tags']).includes(tag)){
                      if(Object.prototype.hasOwnProperty.call(item['info'], field)){
                        yesTF++
                        self.tabledata.push({
                            id: item['_id'], 
                            name: item['info']['title'], 
                            label: yesTF_label})
                      }else{
                        yesTnoF++
                        self.tabledata.push({id: item['_id'], name: item['info']['title'], label: yesTnoF_label})
                      }
                    }else{
                      if(Object.prototype.hasOwnProperty.call(item['info'], field)){
                        noTyesF++
                        self.tabledata.push({id: item['_id'], name: item['info']['title'], label: noTyesF_label})
                      }else{
                        noTF++
                        self.tabledata.push({id: item['_id'], name: item['info']['title'], label: noTF_label})
                      }
                    }
                })

                //console.log(`%c `+yesTF_label+" : "+yesTF, 'color:limegreen')
                //console.log(`%c `+yesTnoF_label+" : "+yesTnoF, 'color:yellow')
                //console.log(`%c `+noTyesF_label+" : "+noTyesF, 'color:orange')
                //console.log(`%c `+noTF_label+" : "+noTF, 'color:coral')
                //console.log('----------------------------')

                let data = {
                    datasets: [{
                        data: [],
                        backgroundColor: []
                    }],
                    labels: []
                };

                yesTF ? (data.datasets[0].data.push(yesTF), data.labels.push(yesTF_label),data.datasets[0].backgroundColor.push('#5ed668')) : false
                yesTnoF ? (data.datasets[0].data.push(yesTnoF), data.labels.push(yesTnoF_label),data.datasets[0].backgroundColor.push("#ffbf47")) : false
                noTyesF ? (data.datasets[0].data.push(noTyesF), data.labels.push(noTyesF_label),data.datasets[0].backgroundColor.push("#925ed6")) : false
                noTF ? (data.datasets[0].data.push(noTF), data.labels.push(noTF_label),data.datasets[0].backgroundColor.push("#e65a78")) : false

                self.drawDoughnutChart(data);
            },
            drawDoughnutChart(data){
                let self = this;
                var ctx = document.getElementById(this.summary_type);

                new Chart(ctx, {
                    'type': 'doughnut',
                    'data': data,
                    'options': {
                        'title': {
                            display: true,
                            text: self.summary_type.replace('_',' '),
                            fontColor: 'black',
                            fontSize: '20'
                        },
                        legend: {
                            position: 'top',
                            labels: {
                                fontColor: "grey"
                            }
                        }
                    }
                });
            },
            drawPieChart(data){
                let self = this;
                var ctx = document.getElementById(this.summary_type);

                let myNewChart = new Chart(ctx, {
                    'type': 'pie',
                    'data': data,
                    'options': {
                        'title': {
                            display: true,
                            text: self.summary_type.replace('_',' '),
                            fontColor: 'black',
                            fontSize: '20'
                        }
                    }
                });
            },
            drawHorBarChart(data){
                let self = this;
                var ctx = document.getElementById(this.summary_type);

                new Chart(ctx, {
                    'type': 'horizontalBar',
                    'data': data,
                    'options': {
                        'title': {
                            display: true,
                            text: self.summary_type.replaceAll('_',' '),
                            fontColor: 'black',
                            fontSize: '20'
                        },
                        legend: {
                            display: false,
                        },
                        'scales': {
                            yAxes: [{
                                ticks: {
                                    precision:0
                                }
                            }],
                        },
                    }
                });
            },
            drawBarChart(data){
                let self = this;
                var ctx = document.getElementById(this.summary_type);

                new Chart(ctx, {
                    'type': 'bar',
                    'data': data,
                    'options': {
                        'title': {
                            display: true,
                            text: self.summary_type.replaceAll('_',' '),
                            fontColor: 'black',
                            fontSize: '20'
                        },
                        legend: {
                            display: false,
                        },
                        'scales': {
                            yAxes: [{
                                ticks: {
                                    precision:0
                                }
                            }],
                        },
                    }
                });
            },
            handleSummary(type){
                //console.log('%c Summary Type: '+type, 'color:white; background-color:black;padding:2px;')
                switch (type) {
                    case 'x-translator_Compliant':
                        this.hasFieldAndTag('x-translator', 'translator');
                        break;
                    case 'x-trapi_Compliant':
                        this.hasFieldAndTag('x-trapi', 'trapi');
                        break;
                    case 'By_Teams':
                        this.byTeamsIn('x-translator');
                        break;
                    case 'By_Component':
                        this.byComponentsIn('x-translator');
                        break;
                    case 'Uptime_Status':
                        this.byStatus('uptime_status');
                        this.tipClass = 'apiStatus'
                        break;
                    case 'Source_Status':
                        this.byStatus('refresh_status');
                        this.tipClass = 'urlStatus'
                        break;
                    default:
                        break;
                }
            }
        },
        mounted: function(){
            this.handleSummary(this.summary_type);
        },
        template: `<div>
                    <canvas :id="summary_type" width="100%" height="auto" :class="tipClass"></canvas>
                    <div class="p-1">
                        <button class="smallButton" :class="showDetails ? 'green white-text':'grey' " @click="showDetails = !showDetails; makeTable()">Details</button>
                    </div>
                    <div v-show="showDetails" :id="summary_type+'table'"></div>
                   </div>`
    });

  var app = new Vue({
      el: '#summary',
      data: function(){
        return {
            summaries: Array,
            totalAPIs: 0
        }
      },
      methods: {
        getSummaries(url){
            let self = this;
            axios.get(url).then(res=>{
                // console.log('ALL RES', res.data)
                self.data = res.data.hits
                self.totalAPIs = res.data.total
                Vue.set(self, 'summaries', [
                    {'name': 'x-translator_Compliant', 'colors': ["#5ed668", "#ffbf47","#925ed6","#e65a78"]},
                    {'name': 'x-trapi_Compliant', 'colors': ["#5ed668", "#ffbf47","#925ed6","#e65a78"]},
                    {'name': 'By_Teams', 'colors': 'random'},
                    {'name': 'By_Component', 'colors': 'random'},
                    {'name': 'Uptime_Status', 'colors': ["#5ed668", "#ffc107","#0277bd","#ff5722"]},
                    {'name': 'Source_Status', 'colors': ["#5ed668","#ffc107","#e65a78","#9c27b0"]},
                ])
            }).catch(err=>{
                throw err;
            });
        },
        initTips(){
                tippy( '#summary', {
                    target: '.urlStatus',
                    content: `<div class="white" style="padding:0px;">
                                <table>
                                    <thead>
                                    <tr>
                                        <td colspan="2" class='grey-text center'>
                                        <b>API Metadata Source URL Status</b>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class='green-text center'>
                                        <b>OK</b>
                                        </td>
                                        <td class="black-text">
                                        <small>Source URL is working and returns valid metadata.</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='orange-text center'>
                                        <b>NOT FOUND</b>
                                        </td>
                                        <td class="black-text">
                                        <small>Source URL returns not found.</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='red-text center'>
                                        <b>INVALID</b>
                                        </td>
                                        <td class="black-text">
                                        <small>Source URL works but contains invalid metadata.</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='purple-text center'>
                                        <b>BROKEN</b>
                                        </td>
                                        <td class="black-text">
                                        <small>Source URL is broken.</small>
                                        </td>
                                    </tr>
                                    <tr class="cyan lighten-5">
                                        <td colspan='2' class='blue-grey-text'>
                                        <p>
                                            <b>Note: </b> API metadata cannot be synchronized with its source URL if the status is not <b class='green-text'>OK</b>. 
                                        </p>
                                        <p>
                                            <b>Need help?</b> Click on the <b class='indigo-text'>Validate Only</b> button to see issues then the <b class='green-text'>Refresh</b> button once all issues have been resolved.
                                        </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>`,
                                placement: 'left-end',
                                theme:'light',
                                trigger:'click',
                                sticky:true,
                                interactive:true,
                    });

                    tippy( '#summary2', {
                    target: '.apiStatus',
                    content: `<div class="white" style="padding:0px;">
                                <table>
                                <thead>
                                    <tr>
                                    <td colspan="2" class='grey-text center'>
                                        <b>Overall API Endpoint Uptime Status</b>
                                    </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td class='green-text center'>
                                        <b>PASS/GOOD</b>
                                    </td>
                                    <td class="black-text">
                                        <small>Your OpenAPI V3 API endpoints provide examples and all return code 200.</small>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class='red-text center'>
                                        <b>FAIL</b>
                                    </td>
                                    <td class="black-text">
                                        <small>Your OpenAPI V3 API endpoints provide examples but return code other than 200.</small>
                                    </td>
                                    </tr>
                                    <tr> 
                                    <td class='orange-text center'>
                                        <b>UNKNOWN</b>
                                    </td>
                                    <td class="black-text">
                                        <small>None of your OpenAPI V3 API endpoints provide examples and cannot be tested. <a href='/faq#api-monitor' target="_blank">Learn more about how to to enable API status check </a>.</small>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class='blue-text center'>
                                        <b>INCOMPATIBLE</b>
                                    </td>
                                    <td class="black-text">
                                        <small>Your API's specification does not match OpenAPI V3 specification and will not be tested. Use our guide to learn how to upgrade your metadata to OpenAPI V3 <a href="/guide" target="_blank">here</a>.</small>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>`,
                            placement: 'left-end',
                    theme:'light',
                    trigger:'click',
                    sticky:true,
                    interactive:true,
                });
            },
        getPortalData(portal){
            let self = this;
            let url = ''
            switch (portal.toLowerCase()) {
                case 'translator':
                    url = "/api/query/?q=__all__&fields=info,tags,_status&size=1000&tags=%22translator%22"
                    self.getSummaries(url)
                    break;
                default:
                    url = ''
                    break;
            }
        }
      },
      mounted: function(){
          this.getPortalData('translator');
          this.initTips();
      }
  });
  </script>
{% endblock %}
