{% block content %}
  <div id="portal">
    <section class="container-fluid padding20">
      <div class="center">
        <img alt="build api" src="/static/img/build_api-01.svg" width="150px"/>
      </div>
      <h2 class="bold center blue-grey-text">BUILD A TRANSLATOR KP (Knowledge Provider) API</h2>
      <div class="row d-flex align-items-stretch">
        <div class="padding20 col s12 m6 grey lighten-3">
          <h2 class="blue-text bold">1. Create a KP API</h3>
          <p>
            To create a KP API ready to be integrated into the Translator ecosystem, you can
            <ul>
              <li>
                <i class="material-icons">done</i> 1. Build a REST API with JSON output (use your own preferred structure).
              </li>
              <li>
                <i class="material-icons">done</i> 2. Build a ReasonerStdAPI, follow the instruction <a href="https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI">here</a>.
              </li>
              <!--<li>
                <i class="material-icons">done</i> Add additional support for gzip, CORS, and HTTP/HTTPS.
              </li>-->
            </ul>
            Regardless the type of APIs you are implementing, we recommend to follow these API best-practices (link to a md file).
          </p>
          <p>
            <b>Tip: </b>You may consider using <a href="https://docs.biothings.io/en/latest/" target="_blank" rel="noreferrer">BioThings SDK</a> to build your KP APIs. It will create a high-quality API following all these best-practics by default. If you need the help, please contact BioThings team (aka "Service Provider" KP team in Translator). 
          </p>
          <button class="btn blue" @click="convertMarkdownToHtml('https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/README.md','desc')">See Docs</button>
          <p>
            <small>Issues? Open on <a href="https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/README.md" target="_blank" rel="noreferrer">GitHub</a>.</small>
          </p>
          <div class="descBox padding20" id="desc"></div>
        </div>
        <div class="padding20 col s12 m6 grey lighten-3">
          <h2 class="blue-text bold">2. Document your API with metadata</h3>
            <p>
              Once a KP API is live, register it in <a href="https://smart-api.info/add_api">SmartAPI registry, so that it will be visible to the Translator community.
              <ul>
                <li>
                  <i class="material-icons">done</i> 1. Create your API metadata following the latest <a href="http://spec.openapis.org/oas/v3.0.3">OpenAPI v3 API specification</a>
                </li>
                <li>
                  <i class="material-icons">done</i> 2. Describe the semantics of your API's input and output.
                </li>
                <!--<li>
                  <i class="material-icons">done</i> Semantic API I/O specification using the <b>_x-smartapi_</b> extension
                </li>-->
              </ul>
            </p>
            <button class="btn blue" @click="convertMarkdownToHtml('https://raw.githubusercontent.com/SmartAPI/smartAPI/master/docs/API_METADATA.md','desc_meta')">See Docs</button>
            <p>
              <small>Issues? Open on <a href="https://github.com/SmartAPI/smartAPI/blob/master/docs/API_METADATA.md" target="_blank" rel="noreferrer">GitHub</a>.</small>
            </p>
            <div class="descBox padding20" id="desc_meta"></div>
        </div>
      </div>
    </section>

    <section class="container-fluid padding20">
      <div class="center">
        <img alt="build api" src="/static/img/navigate_api-01.svg" width="150px"/>
      </div>
      <h2 class="bold center blue-grey-text">NAVIGATE YOUR TRANSLATOR KP API</h2>
      <div class="padding20 grey lighten-3">
        <h5 class="bold">API Registry</h5>
        <p>
          Once you <a href="/add_api">register</a> an API it will be listed on the <a href="/registry/translator">SmartAPI registy</a> and
          your API will be visible to other users and provide useful information and operation documentation as well as API status and other neat features.
        </p>
      </div>
      <div class="padding20 grey lighten-3">
        <h5 class="bold">META KG</h5>
        <p>
          The SmartAPI Meta Knowledge Graph (Meta-KG) represents how biomedical concepts can be connected through APIs. Each node in the meta-KG represents a biolink entity type, e.g. Gene, SequenceVariant, ChemicalSubstance. Each edge in the meta-KG represents a unique combination of a biolink predicate, e.g. targets, treats, and an API which delivers the association.
        </p>
        <p>
          The Meta-KG is constructed using the collection of SmartAPI specifications currently registered in SmartAPI. All APIs registered with x-smartapi field will be integrated into the meta-KG. In addition, all ReasonerStdAPIs registered in SmartAPI and implemented the /predicate endpoint will also be integrated.
        </p>
        <div class="descBox padding20" id="desc_kg"></div>
        <div class="center blue-grey darken-3 padding20 white-text dashboardBack">
          <img src="/static/img/metakg-01.png" aria-label="NCATS" width="150px"/>
          <h2 class="bold">META KG</h2>
          <h5 class="bold">Search APIs based on meta-kg operations</h5>
          <p>
            An example would be all meta-kg operations having "predicate" as "affects" and using "Gene" as its "output_type".
          </p>
          <img src="/static/img/graph_example.jpg" width="100%" alt="graph example"/>
          <p>
            <a class="btn green btn-large" href="/portal/translator/metakg">Try it</a>
          </p>
        </div>

      </div>
    </section>
  </div>
{% endblock %}
