{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<style>

</style>
<main id="privacy-app" class="white" style="width: 100%;">
  <div class="container ">
    <div>
      <h3 class="blue-text center">Privacy Notice for SmartAPI</h3>
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
      	<tbody>
      	  <tr>
      	  	<td width="10%" align="center" valign="top"><font face="helvetica,arial" size="2">&nbsp;</font></td>
      		  <td width="80%" align="left" valign="top">
              <font face="helvetica,arial" size="2">
                <br>
                <b>Cookies</b>
                <br>
                <p>
                  To enhance your experience on our site, many of our web pages use "cookies".  Cookies are small text files that we place in your computer's browser to store your preferences.  Cookies, by themselves, do not tell us your email address or other personal information unless you choose to provide this information to us by, for example, registering to use our service.  Once you choose to provide a web page with personal information, this information may be linked to the data stored in the cookie.  A cookie is like an identification card.  It is unique to your computer and can only be read by the server that gave it to you.
                </p>
                <p>
                  We use cookies to understand site usage and to improve the content and offerings on our site.  For example, we may use cookies to personalise your experience on our web pages (e.g. to recognise you by name when you return to our site).  We also may use cookies to offer you products and services.
                </p>
                <p>
                  Cookies save you time as they help us to remember who you are. Cookies help us to be more efficient.  We can learn about what content is important to you and what is not.  We can revise or remove web pages that are not of interest and focus our energies on content you want.
                </p>
                <br>
                <b>Consent</b>
                <br>
                <p class="blue-text">
                  By continuing with this website you consent to cookies being used and agree to us using any data provided by you in any of our services.
                </p>

                <br>
                <b>Google Analytics</b>
                <br>
                <p>
                  SmartAPI uses Google Analytics to track user interaction. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Learn more</a> about Google Analytics and cookie usage.
                </p>
                <p>
                  If you want to control which cookies you accept.  You can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server.  Most browsers automatically accept cookies.  You can set your browser option so that you will not receive cookies and you can also delete existing cookies from your browser.  You may find that some parts of the site will not function properly if you have refused cookies.
                </p>
                <p>
                  Please be aware that if you do not configure your browser you will accept cookies provided by this website.
                </p>
                <p>
                  You can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server.
                </p>
              </font>
            </td>
      		<td width="10%" align="center" valign="top"><font face="helvetica,arial" size="2">&nbsp;</font></td>
      	</tr>
      </tbody>
      </table>
    </div>
  </div>
</main>

{% endraw %}
{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script>

  var app = new Vue({
      el: '#privacy-app',
      data: function(){
        return {

        }
      },
      methods: {

      },
      mounted: function(){

      }
  });
  </script>
{% endblock %}
