{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main id="regApp" class="indexBackground row">
  <div class="col s12 l4 padding20">
    <div class="arrow_box center-align padding20" style="border-radius: 10px;">
      <h5 class="white-text">Before You Submit</h5>
    </div>
    <div class="center-align padding20">
      <h5 class="white-text textShadow" style="font-weight: bolder;">DID YOU...</h5>
      <ul id="beforeSubmitList" class="footerList textShadow" style="background-color: rgba(4, 75, 123,.6); display: none;">
        <li class="white-text padding20">
          <i class="material-icons cyan-text puff-in-center">check</i> Add the required <a target="_blank" href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/smartapi-list.md#fixed-fields-1">SmartAPI Extensions</a>?
        </li>
        <li class="white-text padding20">
          <i class="material-icons cyan-text puff-in-center">check</i> Clear all errors in the <a href="http://smart-api.info/editor-oa3/" target="_blank">Editor</a>?
        </li>
        <li class="white-text padding20">
          <i class="material-icons cyan-text puff-in-center">check</i> Copy the link to the raw data?
        </li>
        <li class="white-text padding20" style="font-size: 12px; border-bottom: none;">
          Need Help? Use our guide to help you through the process of adding an API.<br><br>
          <a href="/documentation" class="clearButton">GUIDE</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section no-pad-bot single_section container col l8 s12" style="margin-bottom: 10% !important; margin-top: 10%;">
    <div id="submitBox" class="container center-align white hoverable padding20">
      <h3 class="header center blue-grey-text">Register your API metadata</h3>
        <form id="apireg_form">
            <i class="material-icons prefix">link</i>
            <input placeholder="Enter the URL to your API Metadata here" name="url" type="url" class="validate">
            <br>
            <input type="checkbox" id="dry_run" name="dryrun"/>
            <label for="dry_run">Dry run only. API won't actually saved.</label></p>
            <button class="btn waves-effect waves-light red accent-2" onclick="javascript:this.form.reset()">Cancel</button>
            <button class="btn waves-effect waves-light blue accent-2" id="submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <a class="modal-trigger" href="#submit_mask"></a>

  <div id="submit_mask" class="modal">
    <div class="modal-content">
      <h4>Submitting...</h4>
    </div>
  </div>
</main>
{% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script>
  var app = new Vue({
    el: 'regApp',
    data: function(){
      return{
        choice:''
      }
    },
    methods:{

    },
    mounted: function(){
      setTimeout(function(){
        $('#beforeSubmitList').slideDown('slow');
      }, 1000);
        
      
    }
  });
</script>
{% endblock %}
