{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class="section no-pad-bot single_section">
  <div class="container">
    <br><br>
    <h3 class="header center blue-text">Register your API metadata</h3>
    <div class="row center">
      <br><br>

      <form id="apireg_form">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">link</i>
                <input placeholder="Enter the URL to your API Metadata here" name="url" type="url" class="validate">
                <!--<label for="url_input">API Metadata URL</label>-->

            </div>
        </div>
        <div>
          <div class="row">
            <div class="center-align">
              <input type="checkbox" id="dry_run" name="dryrun"/>
              <label for="dry_run">Dry run only. API won't actually saved.</label></p>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col s3 offset-s3">
              <button class="btn waves-effect waves-light red accent-2" onclick="javascript:this.form.reset()">Cancel</button>
            </div>
            <div class="col s3">
              <button class="btn waves-effect waves-light blue accent-2" id="submit" type="submit">Submit</button>
             </div>
           </div>
         </div>
        </form>
    </div>
  </div>
</div>

<a class="modal-trigger" href="#submit_mask"></a>

<div id="submit_mask" class="modal">
  <div class="modal-content">
    <h4>Submitting...</h4>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
