{% extends "main.html" %}
{% include "smartapi-head.html" %}
{% block content %}
{% include "header.html" %}
<style>
.swal2-icon.swal2-warning{
  font-size: 1em;
}
</style>
<main id="regApp" class="dashboardBack row" style="margin: 0; display: flex;">

  <div class="section no-pad-bot single_section col l12 s12" style="margin-bottom: 10% !important; margin-top: 5%;">
    <div id="submitBox" class="container center-align white hoverable padding20 z-depth-5" style="border-radius: 10px;">
      <object width="200px"  alt="SmartAPI" data="/static/img/api-welcome.svg" class=""></object>
      <h3 class="center blue-grey-text flow-text">Register your API metadata</h3>
        <form id="apireg_form">
            <input placeholder="Enter the URL to your raw API Metadata here" name="url" type="url" class="validate browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 85%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
            <br>
            <input type="checkbox" id="dry_run" name="dryrun"/>
            <label for="dry_run">Dry run only. API won't actually saved.</label></p>
            <button class="btn waves-effect waves-light red accent-2" onclick="javascript:this.form.reset()">Cancel</button>
            <button class="btn waves-effect waves-light blue accent-2" id="submit" type="submit">Submit</button>
            <p class="center blue-text">
               If you hosted your data on GitHub make sure to use the raw data link!
            </p>
            <img width="40%" class="hide-on-small-only" src="/static/img/raw.gif" alt="copy the raw data link" style="border: 2px solid #c4c4c4; border-radius: 10px;"/>
            <h4 class="blue-grey-text">Need Help?</h4>
            <p class="blue-grey-text center">
              Use our guide to help you through the process of adding an API.
              <br /><br />
              <a href="/guide" class="btn blue">GUIDE</a>
            </p>
            <blockquote class="padding20 grey-text">
              Swagger V2 can be submitted, however it will not experiece full functionality on SmartAPI and BioThings Explorer.
              <br />
              <a target="_blank" href="https://github.com/SmartAPI/smartAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md">Learn More about OpenAPI V3 Specification <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
              <br />
              <a href="/guide"><i class="fa fa-info-circle" aria-hidden="true"></i> Upgrade your Metadata</a>
            </blockquote>
        </form>
      </div>
    </div>
  </div>

  <a class="modal-trigger" href="#submit_mask"></a>

  <div id="submit_mask" class="modal">
    <div class="modal-content">
      <h4>Submitting...</h4>
    </div>
  </div>
</main>
{% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script>
  var app = new Vue({
    el: 'regApp',
    data: function(){
      return{
        choice:''
      }
    },
    methods:{

    },
    mounted: function(){
      setTimeout(function(){
        $('#arrowBox').slideDown('slow');
      }, 1000);


    }
  });
</script>
{% endblock %}
