{% extends "main.html" %}
{% block extra_head %}
{% endblock %}
{% block content %}
{% include "header.html" %}
<style>
  .collection a.collection-item{
    color: var(--blue-medium);
  }
  mark{
    background: transparent;
    color: red;
    font-weight: bold;
  }

  .disable {
    pointer-events: none;
    cursor: not-allowed;
  }

  .noPadding{
    padding: 0px !important;
  }

  .whiteFadeBox{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  .descriptionContainer{
    max-height: 200px;
    overflow: hidden;
  }

  .descriptionContainer:hover{
    cursor: pointer;
  }

  .max-height-none{
    max-height: none !important;
    overflow: auto;
  }

  .max-height-200{
    max-height: 200px !important;
    overflow: hidden;
  }

  .expandBtn{
    flex:1;
    align-self:center;
    max-width:30px;
    padding:3px;
    border-radius: 10px;
    cursor: pointer;
  }

  .expandBtn:hover{
    background: lightgrey !important;
  }


</style>
  {% raw %}
    <main>
      <!-- Loading Screen -->
      <div id="loading-overlay" class="center-align" style="background-color: rgba(18, 52, 84, 0.5); cursor: default;">
        <div class="center-align" style="padding-top: 300px;">
          <object width="100px"  alt="Loading" data="/static/img/fly.gif" class=""></object>
          <h3 class="white-text logoFont">Loading...</h3>
        </div>
      </div>
    <div id="app" style="height: 100%;" class="white">
        <div class="row full-height">
            <div class="col l2 s12 hide-on-med-and-down hide-on-small-only sidebar">
                <!-- <h5 style="padding-top:100px" class="blue-grey-text">Tags</h5>
                <div class="collection">
                    <a :class="{ disable: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), active: tag.active, blue: tag.active  && tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase(), green: tag.active  && tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() , 'white-text': tag.active}" v-for="tag in tags" href="#!" class="collection-item smallFont" @click.prevent="tag.active = !tag.active;search(query);">{{tag.name}}&nbsp;({{tag.count}})</a>
                </div> -->
                <h5 style="padding-top:100px" class="blue-grey-text"><i class="fa fa-filter" aria-hidden="true"></i> Filters</h5>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header blue-grey lighten-5 blue-grey-text smallFont"><i class="fa fa-tag" aria-hidden="true"></i> By Tags</div>
                    <div class="collapsible-body noPadding">
                      <div class="collection">
                          <a :class="{ disable: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), active: tag.active, blue: tag.active  && tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase(), green: tag.active  && tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() , 'white-text': tag.active}" v-for="tag in tags" href="#!" class="collection-item smallFont" @click.prevent="tag.active = !tag.active;search(query);">{{tag.name}}  <span class="bold">({{tag.count}})</span></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header blue-grey lighten-5 blue-grey-text smallFont"><i class="fa fa-user" aria-hidden="true"></i> By Owners</div>
                    <div class="collapsible-body noPadding">
                      <div class="collection">
                          <a :class="{ active: author.active, blue: author.active }" v-for="author in authors" href="#!" class="collection-item smallFont " @click.prevent="author.active = !author.active;search(query);">{{author.name}}  <span class="bold">({{author.count}})</span> <span class="red-text" v-if="userInfo && author.name === userInfo.name">(Me)</span></a>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="col l10 s12 ">
                <div class="row">
                    <form class="col s12 center-align" @submit.prevent="search(query)" id="api_search_form">
                      <template v-if='specialTagsUI'>
                        <div  class="col s12 l3 input-field center-align">
                          <a class='tooltipped' data-position="bottom" :data-tooltip="'Learn More about '+specialTagName" :href="specialTagURL" target="_blank" style="cursor: pointer !important;">
                            <img v-if="specialTagsUI" width="auto" style="max-height: 40px; max-width:100%;" height="auto" :src="specialTagImage"  :alt="specialTagName"/>
                          </a>
                        </div>
                        <div class="input-field col s12 l6">
                            <input aria-required="false" required='false' id="search_query" type="text" v-model="query" name="query" placeholder="Enter any query term here" class="browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 50%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
                            <input style="width:5px; opacity:0 !important;"  class="swatch" style="background-color: #E4F2FC;" id="shareButton" :value="shareURL">
                            </input>
                            <button title="Click To Copy Search URL" v-if="shareURLButtonVisible" style="cursor: pointer;" class="smallButton copyBtn scale-in-center" data-clipboard-target="#shareButton"><i class="fa fa-clipboard" aria-hidden="true"></i> Share Search</button>
                        </div>
                      </template>
                      <template v-else>
                        <div class="input-field col s12 l6 offset-l3">
                            <input aria-required="false" required='false' id="search_query" type="text" v-model="query" name="query" placeholder="Enter any query term here" class="browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 50%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
                            <input style="width:5px; opacity:0 !important;"  class="swatch" style="background-color: #E4F2FC;" id="shareButton" :value="shareURL">
                            </input>
                            <button title="Click To Copy Search URL" v-if="shareURLButtonVisible" style="cursor: pointer;" class="smallButton copyBtn scale-in-center" data-clipboard-target="#shareButton"><i class="fa fa-clipboard" aria-hidden="true"></i> Share Search</button>
                        </div>
                      </template>

                        <div class="col s12 selected-tags">
                            <div class="chip scale-in-center" v-for="tag in tags" v-if="tag.active" :class="{ green: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), 'white-text': tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() }">
                                <i class="fa fa-tag" aria-hidden="true"></i>  {{tag.name}}
                                <i v-if="tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase()" class="close material-icons" @click="tag.active = false;search(query)">close</i>
                            </div>
                            <div class="chip scale-in-center" v-for="author in authors" v-if="author.active">
                                <i class="fa fa-user" aria-hidden="true"></i>  {{author.name}}
                                <i class="close material-icons" @click="author.active = false;search(query)">close</i>
                            </div>
                        </div>
                        <div class="col s12">
                            <button type="submit" class="waves-effect waves-light blue btn">search</button>&nbsp;&nbsp;&nbsp;
                            <button class="waves-effect waves-light blue btn" v-on:click="clear_form()">clear</button>
                        </div>
                    </form>
                </div>
                <div class="row search-results">
                    <div class="col s12">
                        <div class="blue-grey-text">
                          Total APIs: <span class="blue-text">{{total}}</span>
                          <span style="float: right">Sorted <a id="sortName" @click.prevent="sortApisByName()" class="smallButton">A-Z</a></span>
                        </div>
                        <template v-if="total === 0">
                          <div class="card">
                            <div class="card-content center ">
                              <img src="/static/img/api-fail.svg" width="150px"/>
                              <h5 class="blue-text">Your Search Returned No Results</h5>
                            </div>
                          </div>
                        </template>
                        <div class="card context" v-for="(api,index) in paginatedApis">
                            <div class="card-content ">
                                <span class="card-title">
                                  <span class="blue-text bold">
                                    {{api.info.title}}
                                  </span>
                                  <span class="versionBadge grey">
                                    V.{{api.info.version}}
                                  </span>
                                  <span v-if=" api.hasOwnProperty('openapi') " class="versionBadge green">
                                    OAS3
                                  </span>
                                  <span v-else-if=" api.hasOwnProperty('swagger') " class="versionBadge blue">
                                    Swagger2
                                  </span>
                                  <a style="cursor: pointer !important;" href="/dashboard" v-if="userInfo && api._meta.github_username === userInfo.login " class="versionBadge orange darken-4">
                                    My&nbsp;API
                                  </a>
                                </span>
                                <br />
                                <br />
                                <template v-if="api.info.description && api.info.description.length > 500">
                                  <description :text='api.info.description'></description>
                                </template>
                                <template v-else>
                                  <div class="blue-grey-text flow-text" v-html="compiledMarkdown(api.info.description || '')"></div>
                                </template>
                                <hr style="border: dotted 1px #e8e8e8 !important;"/>
                                <div class="full-width">
                                  <a v-for="tag in api.tags" href="#!" @click.prevent="matchTagAndSearch(tag.name);search(query);" class="grey-text link" style="font-size: 12px; margin:3px; cursor: pointer;">
                                    <i class="fa fa-tag" aria-hidden="true"></i> {{tag.name}}
                                  </a>
                                </div>
                            </div>
                            <div class="card-action grey lighten-3">
                                <a style="border-radius: 20px;" class="btn grey white-text smallFont" href="#" @click.prevent=" ()=>{toggleDetails(api); showHideDetails($event);}">
                                   show details
                                </a>
                            </div>
                            <div class="card-content blue-grey lighten-5" v-if="api.showDetails == true">
                                <div class="row">
                                  <table class="col l6">
                                    <tbody>
                                      <tr>
                                        <td class="noPadding blue-grey-text">
                                          SmartAPI ID:
                                        </td>
                                        <td class="noPadding">
                                          <a class="link" target="_blank" v-bind:href='"/api/metadata/"+api._id'>{{api._id}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="noPadding blue-grey-text">
                                          Metadata URL:
                                        </td>
                                        <td class="noPadding">
                                          <a class="link" target="_blank" v-bind:href='api._meta.url'>{{_.truncate(api._meta.url)}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="noPadding blue-grey-text">
                                          Version:
                                        </td>
                                        <td class="noPadding">
                                          <span class="blue-text">{{api.info.version}}</span>
                                        </td>
                                      </tr>
                                      <template v-for='name in checkForName(api)'>
                                        <tr>
                                          <td class="noPadding blue-grey-text">
                                            Name:
                                          </td>
                                          <td class="noPadding">
                                            <span class="blue-text">{{ name }}</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td colspan="2">
                                            <a class="btn green smallFont"
                                               v-bind:href='"/ui/"+api._id' >
                                               View API Doc
                                            </a>
                                          </td>
                                        </tr>
                                      </template>
                                    </tbody>
                                  </table>
                                </div>
                                <table v-if=" api.hasOwnProperty('openapi') " class="bordered grey lighten-5" style="margin: 20px 0px;">
                                  <thead class="grey lighten-1">
                                    <th class="center-align blue-grey-text">
                                      Operations
                                    </th>
                                    <th class="center-align blue-grey-text">
                                      Summary
                                    </th>
                                  </thead>
                                    <tr v-for="(summary, operation) in getOperations(api)">
                                      <td class="">
                                        <span :class="operationStyling(operation)">{{operation}}</span>
                                      </td>
                                      <td class="blue-grey-text">
                                        {{summary}}
                                      </td>
                                    </tr>
                                </table>
                                <br />
                                <a class="waves-effect waves-light btn blue smallFont"
                                   v-bind:href='"/editor/"+api._id'>
                                   Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <ul class="pagination">
                                    <li class="waves-effect" :class="{ disabled: page <= 1 }">
                                        <a href="#" @click.prevent="prevPage()"><i class="material-icons">chevron_left</i> Previous</a>
                                    </li>
                                    <li class="waves-effect" :class="{ active: page == n, blue: page == n, 'white-text': page == n  }" v-for="n in pages">
                                        <a href="#" @click.prevent="page = n">{{n}}</a>
                                    </li>
                                    <li class="waves-effect" :class="{ disabled: page >= pages }">
                                        <a href="#" @click.prevent="nextPage()">Next <i class="material-icons">chevron_right</i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12 m6 l6 right-align">
                                Per page:
                                <select class="perPage" v-model="perPage" @change="calculatePages" id="perPage">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
    {% endraw %}
{% include "footer.html" %}
{% endblock %}


{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="/static/js/clipboard.js"></script>
    <script>
        new ClipboardJS('.copyBtn');
            ClipboardJS.isSupported();

            Vue.component('description', {
              data: function(){
                return{
                  result:'',
                  fullTXT:false
                }
              },
              props: ['text'],
              methods:{
                compileMDWN: function(mdtext){
                  this.result = marked(mdtext, { sanitize: true });
                  return this.result;
                }
              },
              mounted: function(){
                console.log('text',this.text)
                this.compileMDWN(this.text)
              },
              template: `<div style="display:flex;">
                          <div v-if="!fullTXT" class="grey center expandBtn" @click.prevent="fullTXT = !fullTXT;">
                            <i class="material-icons">expand_less</i>
                            <br />
                            <i class="material-icons">expand_more</i>
                          </div>
                          <div v-else class="green center expandBtn" @click.prevent="fullTXT = !fullTXT;">
                            <i class="material-icons">expand_more</i>
                            <br />
                            <i class="material-icons">expand_less</i>
                          </div>
                          <div style="flex:7;" v-bind:class="{'max-height-none padding20' : fullTXT, 'max-height-200 padding20': !fullTXT}">
                            <div class="blue-grey-text flow-text" v-html="text"></div>
                            <div v-if="!fullTXT" class="whiteFadeBox center"></div>
                          </div>
                        </div>`
            })

        var app = new Vue({
            el: '#app',
            data: function(){
              return {
                  total: 0,
                  apis: [],
                  tags:[],
                  query: '',
                  page: 1,
                  pages: 1,
                  perPage: 20,
                  keywords:'',
                  sortASC: true,
                  specialTagsUI: false,
                  specialTagName: '',
                  specialTagImage: '',
                  specialTagURL: '',
                  specialTagOriginalName: '',
                  userInfo: {},
                  context:{},
                  authors: [],
                  shareURL:'',
                  shareURLButtonVisible: false
              }
            },
            methods: {
              test: function(show){
                console.log('SHOW', show)
                if (show) {
                  return 'max-height-none green'
                }else{
                  return 'max-height-200 red'
                }
              },
                handleDescriptionClick(event, show){
                  if (show) {
                    event.target.style.maxHeight = 'none';
                    if (event.target.children[1]) {
                      event.target.children[1].hidden = true;
                    }
                  }else{
                    event.target.style.maxHeight = '200px';
                    if (event.target.children[1]) {
                      event.target.children[1].hidden = false;
                    }
                  }
                },
                matchTagAndSearch: function(tagName){
                  var self = this;
                  for (var i = 0; i < self.tags.length; i++) {
                    if (self.tags[i].name === tagName) {
                      self.tags[i].active = true;
                      self.search(self.tags[i].name);
                    }
                  }
                },
                checkForName: function(api){
                  if (_.get(api, 'info.contact.name')) {
                    return [api.info.contact.name];
                  }
                  else{
                    return ['Name Unavailable'];
                  }
                },
                showHideDetails: function(event){
                  //toggle show/hide text on details link per card
                  let text = $(event.target).text().trim().toLowerCase();
                  if(text === 'show details'){
                    event.target.innerHTML = 'hide details';
                  }
                  else if(text === 'hide details'){
                    event.target.innerHTML = 'show details';
                  }
                },
                operationStyling: function(op){
                  //styles operations based on type
                  switch( op.substr(0,3) ){
                        case 'GET' :
                          return 'bold blue-text operation';
                          break;
                        case 'POS' :
                          return 'bold green-text operation';
                          break;
                        case 'PUT' :
                          return 'bold amber-text operation';
                          break;
                        case 'DEL' :
                            return 'bold red-text operation';
                            break;
                        case 'HEA' :
                            return 'bold deep-purple-text operation';
                            break;
                        case 'PAT' :
                            return 'bold brown-text operation';
                            break;
                        case 'PAR' :
                            return 'bold teal-text operation';
                            break;
                        default:
                           return 'bold gray-text operation'
                            break;
                  }
                },
                loading_start: function(){
                    $('#loading-overlay').show();
                },
                loading_end: function(){
                    $('#loading-overlay').hide();
                },
                getKeywords: function(){
                  var self= this;
                  // Read the keyword
                  self.keywords = $("input[name='query']").val();
                  self.mark(self.keywords);
                },
                mark: function(kw){
                  //unmark and mark current search
                  var self= this;
                  $(".context").unmark({
                    done: function() {
                      $(".context").mark(kw);
                    }
                  });
                },
                refreshApis: function(){

                    var self = this;
                    self.context= {{Context}};
                    if (self.context.Special) {
                      self.handleSpecialTags(self.context.Tags[0]);
                    }else if(!self.context.Special && self.context.Tags ) {
                      self.handleRegularTags(self.context.Tags);
                    }
                    //check for existing query in url string
                    this.checkforQuery();
                    let query = this.query;
                    if(!this.query){
                      query="__all__"
                    }
                    var params = {
                        "params": {
                            "q": query,
                            'fields': 'info,_meta,paths,tags,openapi,swagger'
                        }
                    }
                    var filters = this.getQueryFilters();
                    if (filters)
                        params["params"]["filters"] = filters;
                    self.loading_start();
                    axios.get("/api/query?size=100", params).then(function(response){
                        self.loading_end();
                        self.apis = _.sortBy(response.data.hits,'info.title');
                        self.apis = response.data.hits;
                        for (var i = 0; i < self.apis.length; i++) {
                          self.apis[i].showFullText = false;
                        }
                        self.total = response.data.total;
                        self.calculatePages();
                    });
                },
                refreshTags: function (){
                    var self = this;
                    axios.get('/api/suggestion?field=tags.name').then(function(response){
                        self.tags = _.map(response.data.field_values.buckets, function(item){
                            return {'name':item.key, 'count': item.doc_count, 'active': false};
                        });
                        self.refreshApis();
                    });
                },
                getAuthors: function (){
                    var self = this;
                    axios.get('/api/suggestion?field=info.contact.name').then(function(response){
                        self.authors = _.map(response.data.field_values.buckets, function(item){
                            return {'name':item.key, 'count': item.doc_count, 'active': false};
                        });
                        // self.refreshApis();
                    });
                },
                getQueryFilters: function(){
                    var filters = [];
                    var authorFilters = [];
                    var finalFilters = {};
                    this.tags.forEach(function(item){
                      if (item.active)
                          filters.push(item.name);
                      });
                    if (filters.length > 0)
                        // filters = {'tags.name.raw': filters};
                        finalFilters['tags.name.raw'] = filters;
                        // return filters;
                    this.authors.forEach(function(item){
                      if (item.active){
                        console.log(item.name)
                        authorFilters.push(item.name);
                      }
                      });
                    if (authorFilters.length > 0){
                      finalFilters['info.contact.name.raw'] = authorFilters;
                      return finalFilters;
                    }

                    // return filters;
                    return finalFilters;
                },
                clear_form: function(){
                    this.query = '';
                    this.refreshApis();
                },
                searchForTags: function(tagName){
                  var self = this;
                  for (var i = 0; i < self.tags.length; i++) {
                    if (self.tags[i].name === tagName) {
                      self.tags[i].active = !self.tags[i].active;
                      self.search();
                    }
                    else{
                      self.search();
                    }
                  }
                },
                buildShareURL: function(q){
                  var filters = [];
                  var finalFilters = '';
                  var finalURL = window.location.origin+window.location.pathname;
                  this.tags.forEach(function(item){
                    if (item.active)
                        filters.push(item.name);
                    });
                  if (filters.length > 0) {
                    finalFilters = filters.join(',')
                    finalURL = finalURL+'?q='+q+"&tags="+finalFilters;
                  }else{
                    finalURL = finalURL+'?q='+q;
                  }
                  this.shareURL =finalURL;
                  this.shareURLButtonVisible = true;
                },
                search: function (query) {
                    var self = this;
                    self.context= {{Context}};
                    if (!self.context.Special && !query){
                      // console.log(self.context.Special)
                      query = $('#search_query').val();
                      query = query || "__all__";
                    }
                    else if (self.context.Special && !query) {
                      // console.log(self.context.Special)
                      query = query || "__all__";
                      self.handleSpecialTags(self.context.Tags[0]);
                    }
                    if (query) {
                        var params = {
                            "params": {
                                "q": query,
                                'fields': 'info,_meta,paths,tags,openapi,swagger'
                            }
                        };
                        var filters = this.getQueryFilters();
                        if (filters)
                            params["params"]["filters"] = filters;
                        this.loading_start();
                        // Share search URL
                        self.buildShareURL(query);

                        $(".context").unmark();
                        axios.get('/api/query?size=100', params).then(function (response) {
                            self.loading_end();
                            $(".context").unmark();
                            self.apis = response.data.hits;
                            for (var i = 0; i < self.apis.length; i++) {
                              self.apis[i].showFullText = false;
                            }
                            console.log(self.apis)
                            self.handleContext(self.context);
                            self.total = response.data.total;
                            self.calculatePages();
                        });
                    }
                },
                calculatePages: function () {
                    this.pages = Math.ceil(this.apis && this.apis.length / this.perPage);
                },
                prevPage: function () {
                    if (this.page > 1)
                        this.page -= 1
                },
                nextPage: function () {
                    if (this.page < this.pages)
                        this.page += 1
                },
                compiledMarkdown: function (mdtext) {
                    return marked(mdtext, { sanitize: true })
                },
                toggleDetails: function (api) {
                    this.$set(api, 'showDetails', !api.showDetails);
                },
                getOperations: function (api, raw=false) {
                    var operations = {};
                    if (raw) {
                        for(var path in api.paths) {
                            for(var method in api.paths[path]) {
                                operations[[method.toUpperCase(), path].join(' ')] = api.paths[path][method].summary;
                            }
                        }
                    }else{
                        api.paths.forEach(function(path){
                            for(var method in path['pathitem']) {
                                operations[[method.toUpperCase(), path.path].join(' ')] = path['pathitem'][method].summary;
                            }
                        })
                    }
                    return operations;
                },
                sortApisByName: function(){
                  var self = this;
                  $(".context").unmark();
                  self.sortASC = !self.sortASC;
                },
                getUserInfo: function(){
                  var self= this;
                  axios.get('/user').then(response=>{
                    self.userInfo = response.data;
                  }).catch(err=>{
                    throw err;
                  })
                },
                handleRegularTags: function(rTags){
                  var self = this;
                    self.specialUI = false;
                    for (var i = 0; i < rTags.length; i++) {
                      for (var x = 0; x < self.tags.length; x++) {
                        if (rTags[i] === self.tags[x].name) {
                          self.tags[x].active = true;
                        }
                      }
                    }
                },
                handleContext: function(context){
                  if (context.Special) {
                    this.handleSpecialTags(this.context.Tags[0]);
                  }else if (!context.Special && context.Tags) {
                    this.handleRegularTags(this.context.Tags);
                  }
                },
                handleSpecialTags: function(tagname){
                  var self = this;
                    self.specialTagsUI = true;
                    self.specialTagOriginalName = tagname.toUpperCase();
                    switch (tagname) {
                      case 'translator':
                        self.specialTagName = 'NCATS Biomedical Data Translator';
                        self.specialTagImage = '/static/img/ncats-logo.png';
                        self.specialTagURL = 'https://ncats.nih.gov/translator';
                        break;
                        case 'nihdatacommons' || 'NIHdatacommons':
                          self.specialTagName = 'NIH Data Commons';
                          self.specialTagImage = '/static/img/nih-logo.png';
                          self.specialTagURL = 'https://commonfund.nih.gov/commons';
                          break;
                      default:
                        self.specialTagName = tagname.toUpperCase();
                        self.specialTagImage = '/static/img/logo-small.png';
                        self.specialTagURL = 'https://smart-api.info';
                    }
                    for (var i = 0; i < self.tags.length; i++) {
                      if (self.tags[i].name.toLowerCase() === tagname.toLowerCase()) {
                        self.tags[i].active = true;
                      }
                    }
                },
                checkforQuery: function(){
                  var url_string = window.location.href
                  var url = new URL(url_string);
                  var q = url.searchParams.get("q");
                  if (q) {
                    this.query = q;
                  }
                }
            },
            created: function () {
                this.getUserInfo();
                $(".button-collapse").sideNav();
                $('.collapsible').collapsible();
                this.refreshTags();
                this.getAuthors();
                this.context = {{Context}};

            },
            updated: function(){
              // Highlight matches in results
              this.getKeywords();
              if (this.query) {
                $('.card').addClass('scale-in-center');
              }
            },
            computed: {
                paginatedApis: function () {
                    var start = (this.page - 1) * this.perPage,
                        end = start + this.perPage;
                    return this.apis && this.apis.slice(start, end);
                }
            },
            watch:{
              sortASC: function(sort){
                var self = this;
                if (!sort) {
                  self.apis = _.sortBy(self.apis,'info.title');
                  $("#sortName").text('A-Z');
                }else if (sort){
                  self.apis = _.sortBy(self.apis,'info.title').reverse();
                  $("#sortName").text('Z-A');
                }
              }
            }
        });
    </script>
{% endblock %}
