{% extends "main.html" %}
{% block extra_head %}
<style>
html,
body {
    height: 100%;
}
</style>
{% endblock %}

{% block content %}
{% include "header.html" %}

  {% raw %}
    <div id="loading-overlay">
          <div class="preloader-wrapper big active loading-container">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>

    <div id="app" style="height: 100%">
        <div class="side-nav" id="filters">
            <div class="row">
                <div class="col s12">
                    <h5>Tags</h5>
                    <div class="collection">
                        <a v-for="tag in tags" href="#!" class="collection-item" :class="{ active: tag.active }" @click.prevent="tag.active = !tag.active">
                         >{{tag.name}}&nbsp;({{tag.count}})
                        </a>
                    </div>
                    <h5>Owners</h5>
                    <div class="collection">
                        <a v-for="owner in owners" href="#!" class="collection-item" :class="{ active: owner.active }" @click.prevent="owner.active = !owner.active;filterByOwner(owner.name)">{{owner.name}}<span v-if="owner.name ===userInfo.username"> (me)</span></a>
                    </div>
                    <!-- <h5>Schemes</h5>
                    <div class="collection">
                        <a v-for="scheme in schemes" href="#!" class="collection-item" :class="{ active: scheme.active }" @click.prevent="scheme.active = !scheme.active">
                         {{scheme.id}}
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row full-height">
            <div class="col l2 hide-on-med-and-down sidebar">
                <h5 style="padding-top:100px">Tags</h5>
                <div class="collection">
                    <a v-for="tag in tags" href="#!" class="collection-item" :class="{ active: tag.active }" @click.prevent="tag.active = !tag.active;search(query)">{{tag.name}}&nbsp;({{tag.count}})</a>
                </div>
                <h5>Owners</h5>
                <div class="collection">
                    <span v-for="owner in owners">
                        <li style="list-style: none; cursor: default;"  class="collection-item" :class="{ active: owner.active }" >
                            <div @click.prevent="owner.active = !owner.active;filterByOwner(owner.name)">{{owner.name}} ({{owner.docs}}) <span v-if="owner.name === userInfo.username" style="font-weight: bolder; color: indianred"> (me)&nbsp;</span>
                            </div>
                            <a style="cursor: pointer;" class="center-align" target="_blank" :href="'https://github.com/'+owner.name"><i class="tiny material-icons">person</i></a>
                        </li>
                        
                    </span>
                </div>
                <!-- <h5>Schemes</h5>
                <div class="collection">
                    <a v-for="scheme in schemes" href="#!" class="collection-item" :class="{ active: scheme.active }" @click.prevent="scheme.active = !scheme.active">{{scheme.id}}</a>
                </div> -->
            </div>
            <div class="col l10 s12">
                <div class="row">
                    <form class="col s12 center-align" @submit.prevent="search(query)" id="api_search_form">
                        <div class="input-field col s12 l6 offset-l3">
                            <i class="material-icons prefix">search</i>
                            <input id="search_query" type="text" v-model="query" name="query" placeholder="Enter any query term here">
                            <label for="search_query"></label>
                        </div>
                        <div class="col s12 selected-tags">
                            <div class="chip" v-for="tag in tags" v-if="tag.active">
                                {{tag.name}}
                                <i class="close material-icons" @click="tag.active = false;search(query)">close</i>
                            </div>
                            <div class="chip" v-for="owner in owners" v-if="owner.active">
                                {{owner.name}}
                                <i class="close material-icons" @click="owner.active= false;search()">close</i>
                            </div>
                            <!-- <div class="chip" v-for="scheme in schemes" v-if="scheme.active">
                                {{scheme.id}}
                                <i class="close material-icons" @click="scheme.active = false">close</i>
                            </div> -->
                        </div>
                        <div class="col s12">
                            <button type="submit" class="waves-effect waves-light blue btn">search</button>&nbsp;&nbsp;&nbsp;
                            <button class="waves-effect waves-light blue btn" v-on:click="clear_form()">clear</button>
                        </div>
                    </form>
                </div>
                <div class="row search-results">
                    <div class="col s12">
                        <div>Total APIs: {{total}}</div>
                        <div class="card " v-for="api in paginatedApis">
                            <div class="card-content ">
                                <span class="card-title">{{api.info.title}}</span>
                                <p v-html="compiledMarkdown(api.info.description || '')"></p>
                            </div>
                            <div class="card-action">
                                <a href="#" @click.prevent="toggleDetails(api)">Details</a>
                            </div>
                            <div class="card-content" v-if="api.showDetails == true">
                                <strong>SmartAPI ID:</strong> <a v-bind:href='"/api/metadata/"+api._id'>{{api._id}}</a><br>
                                <strong>Metadata URL:</strong> <a v-bind:href='api._meta.url'>{{_.truncate(api._meta.url)}}</a><br>
                                <strong>version:</strong> {{api.info.version}}<br>
                                <strong>developer:</strong> {{api.info.contact.name}}<br>
                                <strong>operations:</strong>
                                <ul class="browser-default">
                                    <li v-for="(summary, operation) in getOperations(api)">
                                        <strong>{{operation}}</strong> - {{summary}}
                                    </li>
                                </ul>
                                <a class="waves-effect waves-light btn blue"
                                   v-bind:href='"/ui/?url=/api/metadata/"+api._id' target="_blank">
                                   View API Doc<i class="material-icons right">send</i>
                                </a>
                                <a class="waves-effect waves-light btn blue"
                                   v-bind:href='"/editor-oa3/?url=/api/metadata/"+api._id' target="_blank">
                                   Edit<i class="material-icons right">edit</i>
                                </a>
                                <!-- delete button if api developer is current user -->
                                <a v-if="api.info.contact.name === userInfo.name" class="waves-effect waves-light btn red"
                                   v-bind:href='"http://smart-api.info/api/metadata/"+api._id' target="_blank">
                                   Delete<i class="material-icons right">delete</i>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <ul class="pagination">
                                    <li class="waves-effect" :class="{ disabled: page <= 1 }">
                                        <a href="#" @click.prevent="prevPage()"><i class="material-icons">chevron_left</i> Previous</a>
                                    </li>

                                    <li class="waves-effect" :class="{ active: page == n }" v-for="n in pages">
                                        <a href="#" @click.prevent="page = n">{{n}}</a>
                                    </li>

                                    <li class="waves-effect" :class="{ disabled: page >= pages }">
                                        <a href="#" @click.prevent="nextPage()">Next <i class="material-icons">chevron_right</i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s6 right-align">
                                Per page:
                                <select class="perPage" v-model="perPage" @change="calculatePages" id="perPage">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
{% include "footer.html" %}
{% endblock %}


{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });

        var app = new Vue({
            el: '#app',
            data: {
                total: 0,
                apis: [],
                tags:[],
                //user object from github, hardcoded for testing 
                //TO-DO: Save user info here from Github login response
                userInfo: {'username':'newgene','name':'Chunlei Wu'},
                owners: [],
                ownertags: [],
                // tags: [{
                //     id: 'tag1',
                //     count: 1,
                //     active: false
                // }, {
                //     name: 'tag2',
                //     count: 1,
                //     active: false
                // }],
                // schemes: [{
                //     id: 'scheme1',
                //     active: false
                // }, {
                //     id: 'scheme2',
                //     active: false
                // }, {
                //     id: 'scheme3',
                //     active: false
                // }, {
                //     id: 'scheme4',
                //     active: false
                // }],
                query: '',
                page: 1,
                pages: 1,
                perPage: 20
            },
            methods: {
                deactivateOtherOwners: function(OP){
                    for (var i = 0; i < this.owners.length; i++) {
                        if (this.owners[i].name !== OP && this.owners[i].active) {
                            this.owners[i].active = false;
                        }
                    }
                },
                filterByOwner: function (OP){
                    //console.log(OP);
                    var self=this;

                    if( !OP){
                        self.search();
                    }
                    else{
                        self.loading_start();
                        //search only one owner at a time
                        this.deactivateOtherOwners(OP);
                        //request user's posts by username
                        axios.get('http://smart-api.info/api/query?q=_meta.github_username:'+OP).then(response=>{
                            //console.log('OWNERS RES '+JSON.stringify(response.data));
                            self.loading_end();
                            self.apis = response.data.hits;
                            self.total = response.data.total;
                            self.calculatePages();
                        }).catch(err=>{
                            throw err;
                        })
                    }
                },
                getOwners: function(){
                var self = this;
                    //request owners data from api
                    axios.get('http://smart-api.info/api/suggestion?field=_meta.github_username&size=100').then(response=>{
                        //console.log("res test "+JSON.stringify(response.data.field_values.buckets));
                        let results = response.data.field_values.buckets;
                        results.map( (item, index) =>{
                           self.owners.push({'name': item.key, 'id': index, 'active': false, 'docs': item.doc_count})
                        })
                        console.log(self.owners);

                    }).catch(err=>{
                        throw err;
                    });
                },
                loading_start: function(){
                    //$('#loading-overlay').show();
                },
                loading_end: function(){
                    //$('#loading-overlay').hide();
                },
                refreshApis: function(){
                    var self = this;
                    // axios.get('/api/metadata/all?meta=1').then(function (response) {
                    //     self.apis = response.data;
                    var params = {
                        "params": {
                            "q": "__all__",
                        }
                    }
                    var filters = this.getQueryFilters();
                    if (filters)
                        params["params"]["filters"] = filters;
                    this.loading_start();
                    axios.get("/api/query?size=100", params).then(function(response){
                        self.loading_end();
                        self.apis = response.data.hits;
                        self.total = response.data.total;
                        self.calculatePages();
                    });
                },
                refreshTags: function (){
                    var self = this;
                    axios.get('/api/suggestion?field=tags.name').then(function(response){
                        self.tags = _.map(response.data.field_values.buckets, function(item){
                            return {'name':item.key, 'count': item.doc_count, 'active': false};
                        });
                    });
                },
                getQueryFilters: function(){
                    var filters = [];
                    this.tags.forEach(function(item){
                        if (item.active)
                            filters.push(item.name);
                    });
                    if (filters.length > 0)
                        filters = {'tags.name.raw': filters};
                        return filters;
                },
                clear_form: function(){
                    this.query = '';
                    this.refreshApis();
                },
                search: function (query) {
                    if (!query)
                        query = $('#search_query').val();
                    query = query || "__all__";
                    if (query) {
                        var self = this;
                        var params = {
                            "params": {
                                "q": query,
                            }
                        };
                        var filters = this.getQueryFilters();
                        if (filters)
                            params["params"]["filters"] = filters;
                        this.loading_start();
                        axios.get('/api/query?size=100', params).then(function (response) {
                            self.loading_end();
                            self.apis = response.data.hits;
                            self.total = response.data.total;
                            self.calculatePages();
                        });
                    }
                },
                calculatePages: function () {
                    this.pages = Math.ceil(this.apis && this.apis.length / this.perPage);
                },
                prevPage: function () {
                    if (this.page > 1)
                        this.page -= 1
                },
                nextPage: function () {
                    if (this.page < this.pages)
                        this.page += 1
                },
                compiledMarkdown: function (mdtext) {
                    return marked(mdtext, { sanitize: true })
                },
                toggleDetails: function (api) {
                    this.$set(api, 'showDetails', !api.showDetails);
                },
                getOperations: function (api, raw=false) {
                    var operations = {};
                    if (raw) {
                        for(var path in api.paths) {
                            for(var method in api.paths[path]) {
                                operations[[method, path].join(' ')] = api.paths[path][method].summary;
                            }
                        }
                    }else{
                        api.paths.forEach(function(path){
                            for(var method in path['pathitem']) {
                                operations[[method, path.path].join(' ')] = path['pathitem'][method].summary;
                            }
                        })
                    }
                    return operations;
                }
            },
            mounted: function (){
                this.getOwners();
            },
            created: function () {
                this.refreshApis();
                this.refreshTags();
                this.filterByOwner();   
            },
            computed: {
                paginatedApis: function () {
                    var start = (this.page - 1) * this.perPage,
                        end = start + this.perPage;
                    return this.apis && this.apis.slice(start, end);
                }
            }
        });
    </script>
{% endblock %}
