<header>
<title>SmartAPI</title>
<div class="navbar-fixed">
  <nav id="nav_f" class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper center-align">
      <a href="/" class="brand-logo hide-on-med-and-down" style="font-size: 12px; margin-left: -90px;letter-spacing:2px;">
        <!-- <object style="margin-bottom: -5px;" width="30px;" alt="SmartAPI Nav Logo" data="/static/img/logo-small.svg"></object> -->
        <span>Powered by <object style="margin-bottom: -13px;" width="150px;" alt="SmartAPI Nav Logo" data="/static/img/header-logo.png"></object></span>
      </a>
      <a href="/" class="brand-logo show-on-medium-and-down hide-on-large-only" style="letter-spacing:2px; font-size: 12px;">
        <object style="margin-bottom: -5px;" width="30px;" alt="SmartAPI Nav Logo" data="/static/img/logo-small.svg"></object>
        <span>Powered by <span class="l-blue-text logoFont">SmartAPI</span></span>
      </a>
    </div>
  </nav>
</div>
</header>
