<header>
<title>SmartAPI</title>
<div class="navbar-fixed">
  <nav id="nav_f" class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper center-align">
      <a href="/"><img style="margin-top: 15px !important;" width="30px;" alt="SmartAPI Nav Logo" src="/static/img/logo-small.svg"/></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="margin-left: 15px;">menu</i></a>
    </div>
  </nav>
</div>

<ul class="side-nav" id="mobile-demo" >
  <li><a href="/">Home</a></li>
  <li><a href="/add_api">Add an API</a></li>
  <li><a href="/registry">Registry</a></li>
  <li><a href="http://smart-api.info/editor-oa3/" target="_blank">Editor</a></li>
  <li id="side_user_link"></li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content center-align">
  <li><a class="blue-text" href="/dashboard">My Dashboard <i class="material-icons blue-text">dashboard</i></a></li>
  <li class="divider"></li>
  <li><a class="blue-text" href="/add_api">Add an API <i class="material-icons blue-text">add</i></a></li>
  <li><a class="red-text" href="/logout?next='/'">Logout <i class="material-icons red-text">exit_to_app</i></a></li>
</ul>

</header>
