{% extends "main.html" %}
{% block content %}
{% include "simple-header.html" %}
{% raw %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.43.0/swagger-ui.css" integrity="sha256-9jIRYJHiSOCrFcEa7U84nXvo3FRg3uiE2+A/YqBS4AM=" crossorigin="anonymous">
<link  type="text/css" rel="stylesheet" href="/static/css/swagger.css"/>
<main id="ui-app" class="indexBackground uiBack" style="width: 100%;">
  <div class="grey lighten-5 z-depth-3" id="swagger-ui" style="overflow: hidden;"></div>
</main>
{% endraw %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.43.0/swagger-ui-bundle.js" integrity="sha256-2pA2pa1BY6+FvXEF8lzpX57QcWSOe2Bj5YXGa/+AWWs=" crossorigin="anonymous"></script>
  <script>

  // Plug-in to hide empty tags in Swagger UI
  const HideEmptyTagsPlugin = () => {
    return {
      statePlugins: {
        spec: {
          wrapSelectors: {
            taggedOperations: (ori) => (...args) => {
              return ori(...args)
                .filter(tagMeta => tagMeta.get("operations") && tagMeta.get("operations").size > 0)
            }
          }
        }
      }
    }
  };


  var app = new Vue({
      el: '#ui-app',
      data: function(){
        return {
          apiID:'',
          smartStyle: true,
          name: '',
          api : {}
        }
      },
      methods: {
        loadSwaggerUI: function(dataurl){
          let self = this;

          const ui = SwaggerUIBundle({
              url: dataurl,
              dom_id: '#swagger-ui',
              deepLinking: true,
              presets: [
                SwaggerUIBundle.presets.apis,
              ],
              plugins: [
                SwaggerUIBundle.plugins.DownloadUrl,
                // plug-in to hide empty tags
                HideEmptyTagsPlugin
              ],
              onComplete:()=>{
                $("hgroup.main").after('<a class="blue" style="padding:5px; border-radius:5px; border:1px grey solid; color:white !important; text-decoration:none;" href="/registry?q='+self.apiID+'">Back to SmartAPI Registry</a>');

                let servers_selected = $("div.servers label select").val();
                console.log("severs", servers_selected)
                if (servers_selected) {
                  if (servers_selected.includes('http:') && window.location.protocol == 'https:') {
                    $("div.servers label select").after('<div class="yellow lighten-4 red-text padding20"> <i class="material-icons">warning</i> Your connection is secure (HTTPS) and the selected server utilizes an insecure communication (HTTP). <br/>This will likely result in errors, please select a matching protocol server or change your connection. </div>')
                  }
                }
              }
            })
            window.ui = ui;
        },
        getMetadata(url){
          let self = this;
          axios.get(url).then(res=>{
            // console.log('res',res.data)
            let data = res.data
            if (data) {
              let meta = null;
              self.api = data
              // Open graph and Meta
              meta = document.createElement('meta');
              meta.setAttribute('property',"og:title");
              self.name = data.info.title
              meta.setAttribute('content',"SmartAPI | "+data.info.title);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('name',"description");
              meta.setAttribute('content',data.info.description);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('property',"og:description");
              meta.setAttribute('content',data.info.description);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('property',"og:url");
              meta.setAttribute('content',window.location.href);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('property',"og:locale");
              meta.setAttribute('content',"en_US");
              document.getElementsByTagName('head')[0].appendChild(meta);

              // Twitter
              meta = document.createElement('meta');
              meta.setAttribute('name',"twitter:title");
              meta.setAttribute('content',"SmartAPI | "+data.info.title);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('name',"twitter:url");
              meta.setAttribute('content',window.location.href);
              document.getElementsByTagName('head')[0].appendChild(meta);

              meta = document.createElement('meta');
              meta.setAttribute('name',"twitter:description");
              meta.setAttribute('content',data.info.description);
              document.getElementsByTagName('head')[0].appendChild(meta);

            }

          }).catch(err=>{
            throw err;
          });
        }
      },
      mounted: function(){
        this.apiID = '{{apiID}}';
        this.loadSwaggerUI('/api/metadata/'+this.apiID+'?format=yaml');
        this.getMetadata('/api/metadata/'+this.apiID);

      }
  });
  </script>
{% endblock %}
