{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% raw %}
<!-- <link type="text/css" rel="stylesheet" href="/static/css/swagger-ui.css"/> -->
<link type="text/css" rel="stylesheet" href="/static/css/swagger-news.css"/>
<style>
  h2.title span {
   display: none !important;
 }
 h2.title{
   padding-top: 20px;
 }
 span.url{
   word-wrap: break-word;
 }

 div.info{

 }

</style>

<main id="ui-app" class="indexBackground uiBack" style="width: 100%;">
  <div class=" transparent center-align padding20 " style="margin-bottom: -50px; margin-top:0px;">
    <span class="hide-on-small-only show-on-medium-and-up" style="margin-bottom: 60px;">
      <img width="15%" alt="SmartAPI" src="/static/img/logo-large.svg" />
      <h4  class="white-text logoFont lighter" style="margin:5px;">Smart<span class="l-blue-text">API</span></h4>
    </span>
    <span class="show-on-small hide-on-med-and-up" style="margin-bottom: 60px;">
      <h5  class="white-text logoFont lighter" style="margin:5px;">SmartAPI</h5>
    </span>
  </div>
  <div v-if="!data" class="white blue-text container center-align" style="padding: 200px 20px;border-radius: 20px;">
    <p v-if="!data">
      <h4 class="title">Please Wait...</h4>
    </p>
  </div>
  <div class="grey container lighten-5 center-align z-depth-3" id="swagger-ui" style="overflow: hidden; margin-bottom:20px; border-radius: 20px;"></div>
</main>

{% endraw %}
{% include "footer.html" %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  <!-- `SwaggerUIBundle` is now available on the page -->
  <!-- <script src="/static/js/swagger-ui-standalone-preset.js"></script> -->
  <!-- SwaggerUIStandalonePreset and StandaloneLayout -->
  <script>

  // Plug-in to hide empty tags in Swagger UI
  const HideEmptyTagsPlugin = () => {
    return {
      statePlugins: {
        spec: {
          wrapSelectors: {
            taggedOperations: (ori) => (...args) => {
              return ori(...args)
                .filter(tagMeta => tagMeta.get("operations") && tagMeta.get("operations").size > 0)
            }
          }
        }
      }
    }
  };


  var app = new Vue({
      el: '#ui-app',
      data: function(){
        return {
          apiID:'',
          data: false
        }
      },
      methods: {
        loadSwaggerUI: function(dataurl){

          const ui = SwaggerUIBundle({
              url: dataurl,
              dom_id: '#swagger-ui',
              deepLinking: true,
              presets: [
                SwaggerUIBundle.presets.apis,
                // SwaggerUIStandalonePreset
                // disables TopBar
              ],
              plugins: [
                SwaggerUIBundle.plugins.DownloadUrl,
                // plug-in to hide empty tags
                HideEmptyTagsPlugin
              ],
              // layout: "StandaloneLayout"
              // disables TopBar
            })
            window.ui = ui;

        }
      },
      mounted: function(){

        this.apiID = '{{apiID}}';

        var params = {
            "params": {
                "q": this.apiID
            }
        }

        axios.get('/api/query?size=100', params).then(res=>{
          //console.log(res.data.hits);
          let api= res.data.hits[0];
          //console.log(api._meta.url);
          this.loadSwaggerUI(api._meta.url);
          this.data = true;
        }).catch(err=>{
          throw err;
        });
      },
      updated: function(){

      }
  });

  </script>
{% endblock %}
