{% extends "main.html" %}
{% block content %}
{% include "simple-header.html" %}
{% raw %}
<!-- <link type="text/css" rel="stylesheet" href="/static/css/swagger-ui.css"/> -->
<link type="text/css" rel="stylesheet" href="/static/css/swagger-news.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/custom-swagger.css"/>

<main id="ui-app" class="indexBackground uiBack" style="width: 100%;">
  <div v-if="!data" class="white blue-text center-align" style="padding: 200px 20px;">
    <p v-if="!data">
      <h4 class="title">Please Wait...</h4>
    </p>
  </div>
  <div class="grey lighten-5 z-depth-3" id="swagger-ui" style="overflow: hidden;"></div>
  <div class="blue-grey darken-4 padding20 center l-blue-text lighter">
    <a href="http://smart-api.info/" target="_blank" class="logoFont l-blue-text">SmartAPI</a>
  </div>
</main>

{% endraw %}
{% endblock %}
{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  <!-- `SwaggerUIBundle` is now available on the page -->
  <!-- <script src="/static/js/swagger-ui-standalone-preset.js"></script> -->
  <!-- SwaggerUIStandalonePreset and StandaloneLayout -->
  <script>

  // Plug-in to hide empty tags in Swagger UI
  const HideEmptyTagsPlugin = () => {
    return {
      statePlugins: {
        spec: {
          wrapSelectors: {
            taggedOperations: (ori) => (...args) => {
              return ori(...args)
                .filter(tagMeta => tagMeta.get("operations") && tagMeta.get("operations").size > 0)
            }
          }
        }
      }
    }
  };


  var app = new Vue({
      el: '#ui-app',
      data: function(){
        return {
          apiID:'',
          data: false
        }
      },
      methods: {
        loadSwaggerUI: function(dataurl){

          const ui = SwaggerUIBundle({
              url: dataurl,
              dom_id: '#swagger-ui',
              deepLinking: true,
              presets: [
                SwaggerUIBundle.presets.apis,
                // SwaggerUIStandalonePreset
                // disables TopBar
              ],
              plugins: [
                SwaggerUIBundle.plugins.DownloadUrl,
                // plug-in to hide empty tags
                HideEmptyTagsPlugin
              ],
              // layout: "StandaloneLayout"
              // disables TopBar
            })
            window.ui = ui;

        }
      },
      mounted: function(){

        this.apiID = '{{apiID}}';

        var params = {
            "params": {
                "q": this.apiID
            }
        }

        axios.get('/api/metadata/'+this.apiID+'?format=yaml').then(res=>{
          let api= res.data;
          console.log(JSON.stringify(res.data, null, 2));
          this.loadSwaggerUI(res.data);
          this.data = true;
        }).catch(err=>{
          throw err;
        });
      },
      updated: function(){

      }
  });

  </script>
{% endblock %}
