{% extends "main.html" %}
{% block extra_head %}
{% endblock %}
{% block content %}
{% include "header.html" %}
<style>
[v-cloak] > * { display:none; }
</style>
{% raw %}
<main class="white">
    <div id="app" style="height: 100%;" class="white container" v-cloak>
      <!-- Loading Screen -->
      <div v-show="loading" class="center-align">
        <div class="center-align">
          <h5 class="blue-text logoFont">Loading...</h5>
        </div>
      </div>
        <div class="row full-height">
          <div class="col l2 s12 hide-on-med-and-down hide-on-small-only sidebar">
              <h5 style="padding-top:100px" class="blue-text center"> Filters</h5>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header blue-grey white-text">
                    <small>Tags</small>
                  </div>
                  <div class="collapsible-body noPadding">
                    <div class="collection">
                        <a :class="{ disable: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), active: tag.active, blue: tag.active  && tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase(), green: tag.active  && tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() , 'white-text': tag.active}" v-for="tag in tags" href="#!" class="collection-item smallFont" @click.prevent="toggleTag(tag,'tag');search(query); googleAnalytics('Registry_Tag', tag.name)">{{tag.name}}  <span class="bold">({{tag.count}})</span></a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header blue-grey white-text center-align">
                    <small>Owners</small>
                  </div>
                  <div class="collapsible-body noPadding">
                    <div class="collection">
                        <a :class="{ active: author.active, blue: author.active }" v-for="author in authors" href="#!" class="collection-item smallFont " @click.prevent="toggleTag(author,'author');search(query); googleAnalytics('Registry_Author', author.name)">{{author.name}}  <span class="bold">({{author.count}})</span> <span class="red-text" v-if="userInfo && author.name === userInfo.name">(Me)</span></a>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- Popular tags -->
              <ul class="collection" style="margin-top:100px;" v-show="popularTags && popularTags.length > 5">
                <div class="collection-header orange-text center padding20">
                  Most Active <br /><small>(Last 30 days)</small>
                </div>
                <template v-for="pop in popularTags">
                  <a :class="{ active: pop.active, blue: pop.active }" @click.prevent="toggleTag(pop.name,'tag');search(query); googleAnalytics('Registry_Tag', pop.name)" href="#!" class="collection-item" style="padding:4px;" >
                    <small v-text="'#'+pop.name"></small>
                  </a>
                </template>
              </ul>
          </div>
            <div class="col s12 hide-on-med-and-up show-on-small-only">
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header blue-grey white-text">
                      <small>Filter by Tags</small>
                    </div>
                    <div class="collapsible-body noPadding">
                      <div class="collection">
                        <div class="colllection-item padding20">
                          <template v-for="tag in tags">
                            <a class="getBTEApis chip" :class="{ disable: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), active: tag.active, blue: tag.active  && tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase(), green: tag.active  && tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() , 'white-text': tag.active}" href="#!"  @click.prevent="tag.active = !tag.active;search(query); googleAnalytics('Registry_Tag', tag.name)">{{tag.name}}  <span class="bold">({{tag.count}})</span></a>
                          </template>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header blue-grey white-text center-align">
                      <small>Filter by Owners</small>
                    </div>
                    <div class="collapsible-body noPadding">
                      <div class="collection">
                        <div class="colllection-item padding20">
                          <template v-for="author in authors" >
                            <a :class="{ active: author.active, blue: author.active }" href="#!" class="getBTEApis chip" @click.prevent="author.active = !author.active;search(query); googleAnalytics('Registry_Author', author.name)">{{author.name}}  <span class="bold">({{author.count}})</span> <span class="red-text" v-if="userInfo && author.name === userInfo.name">(Me)</span></a>
                          </template>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
            <form class="col s12 l10 center-align" @submit.prevent="search(query)" id="api_search_form">
              <template v-if='specialTagsUI'>
                <div  class="col s12 l3 input-field center-align">
                  <a class='tooltipped' data-position="bottom" :data-tooltip="'Learn More about '+specialTagName" :href="specialTagURL" target="_blank" style="cursor: pointer !important;">
                    <img v-if="specialTagsUI" width="auto" style="max-height: 40px; max-width:100%;" height="auto" :src="specialTagImage"  :alt="specialTagName"/>
                  </a>
                </div>
                <div class="input-field col s12 l6">
                    <input aria-required="false" required='false' id="search_query" type="text" v-model="query" name="query" placeholder="Enter any query term here" class="browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 80%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
                </div>
              </template>
              <template v-else>
                <div class="input-field col s12 l6 offset-l3">
                    <input aria-required="false" required='false' id="search_query" type="text" v-model="query" name="query" placeholder="Enter any query term here" class="browser-default margin20 grey lighten-5 blue-grey-text lighter" style="width: 80%; outline: none; padding: 10px; border-radius: 20px; border:var(--blue-medium) 2px solid;">
                </div>
              </template>

                <div class="col s12 selected-tags">
                    <div class="chip" v-for="tag in tags" v-if="tag.active" :class="{ green: tag.name.toLowerCase() === specialTagOriginalName.toLowerCase(), 'white-text': tag.name.toLowerCase() === specialTagOriginalName.toLowerCase() }">
                      #{{tag.name}}
                        <i v-if="tag.name.toLowerCase() !== specialTagOriginalName.toLowerCase()" class="close material-icons" @click="toggleTag(tag,'tag');search(query)">close</i>
                    </div>
                    <div class="chip" v-for="author in authors" v-if="author.active">
                        #{{author.name}}
                        <i class="close material-icons" @click="toggleTag(author,'author');search(query)">close</i>
                    </div>
                    <div class="chip" v-for="pop in popularTags" v-if="pop.active">
                        #{{pop.name}}
                        <i class="close material-icons" @click="pop.active = false;search(query)">close</i>
                    </div>
                </div>
                <div class="col s12">
                    <button type="submit" @click="googleAnalytics('Registry_Searches',query)" class="waves-effect waves-light blue btn">search</button>&nbsp;&nbsp;&nbsp;
                    <a class="blue btn" href="/registry">clear</a>
                </div>
            </form>
            <div class="col s12 l10">
                <div class="row search-results" id="tippyParentCopy">
                    <div class="col s12" id="tippyParent">
                        <div class="blue-grey-text">
                           <div class="row">
                             <div class="col s5 m10">
                               Total APIs: <span class="blue-text">{{total}}</span>
                               <button :data-clipboard-text='shareURL' @click.prevent="googleAnalytics('Registry_SharedURL', window.location.search );" v-if="shareURLButtonVisible" class="smallButton grey copyBtn" title='Copy to clipboard'>
                                 <i class="fa fa-clipboard" aria-hidden="true"></i> Copy Search URL
                               </button>
                             </div>
                             <div class="col s5 m2">
                               <select class="browser-default" @change='sortResults($event)'>
                                 <option value="" disabled selected>Sort By</option>
                                 <option value="Search Relevance">Relevance</option>
                                 <option value="Alpabethically A-Z">Alpabethically A-Z</option>
                                 <option value="Alpabethically Z-A">Alpabethically Z-A</option>
                                 <option value="Recently Updated">Recently Updated</option>
                               </select>
                             </div>
                           </div>
                        </div>
                        <template v-if="total === 0">
                          <div class="card">
                            <div class="card-content center">
                              <i class="fa fa-exclamation-circle fa-2x grey-text" aria-hidden="true"></i>
                              <h5 class="grey-text">Your Search Returned No Results</h5>
                            </div>
                          </div>
                        </template>
                        <template v-for="(api,index) in paginatedApis">
                          <apicontainer :api="api" :key="index"></apicontainer>
                        </template>
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <ul class="pagination">
                                    <li :class="{ disabled: page <= 1 }">
                                        <a href="#" @click.prevent="prevPage()"><i class="material-icons">chevron_left</i> Previous</a>
                                    </li>
                                    <li :class="{ active: page == n, blue: page == n, 'white-text': page == n  }" v-for="n in pages">
                                        <a href="#" @click.prevent="page = n">{{n}}</a>
                                    </li>
                                    <li :class="{ disabled: page >= pages }">
                                        <a href="#" @click.prevent="nextPage()">Next <i class="material-icons">chevron_right</i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12 m6 l6 right-align">
                                Per page:
                                <select class="perPage" v-model="perPage" @change="calculatePages" id="perPage">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
    {% endraw %}
{% include "footer.html" %}
{% endblock %}


{% block extra_scripts %}
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/static/js/clipboard.js"></script>
<script src="/static/js/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139873613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-139873613-1', {
    'custom_map': {
      // 'dimension1': 'registrytag','dimension2':'registryapi','dimension3':'registryurl','dimension4':'registrysearch',
      'dimension5':'registryResults',
      'metric1':'registry-item'
    }
  });
</script>
<script>

const store = new Vuex.Store({
    state: {
      'analytics':Object,
      'tags':Array,
      'userInfo': Object,
      'bteapis' : [],
      'apis': [],
      'tags': [],
      'authors': [],
      'popularTags':[],
      'context': Object
    },
    strict: true,
    mutations: {
      saveAnalytics(state,payload){
        state.analytics = payload['analytics'];
        let pop = []
        for (var i = 0; i < state.analytics.length; i++) {
          if (state.analytics[i][0] ==='tag') {
            pop.push({'name':state.analytics[i][1],'active':false,'count':state.analytics[i][2]})
          }
        }
        state.popularTags = pop;
      },
      saveUserInfo(state,payload){
        state.userInfo = payload['user'];
        // console.log('USER',state.userInfo)
      },
      saveBTEApis(state,payload){
        state.bteapis= payload['apis'];
      },
      saveApis(state,payload){
        state.apis= payload['apis'];
        // console.log('APIS',state.apis)
      },
      saveTags(state,payload){
        state.tags= payload['tags'];
      },
      saveAuthors(state,payload){
        state.authors= payload['authors'];
      },
      saveContext(state,payload){
        state.context= payload['context'];
      },
      toggleTag(state,payload){
        let tag= payload['tag'];
        for (var i = 0; i < state.tags.length; i++) {
          if (state.tags[i].name === tag.name) {
            Vue.set(state.tags[i],'active',!state.tags[i]['active'])
          }
        }
      },
      toggleAuthor(state,payload){
        let tag= payload['author'];
        for (var i = 0; i < state.authors.length; i++) {
          if (state.authors[i].name === tag.name) {
            Vue.set(state.authors[i],'active',!state.authors[i]['active'])
          }
        }
      },
      sort(state,payload){
        let type = payload['type'];
        switch (type) {
          case 'Alpabethically A-Z':
            state.apis = _.sortBy(state.apis,'info.title');
            break;
          case 'Alpabethically Z-A':
            state.apis = _.sortBy(state.apis,'info.title').reverse();
            break;
          case 'Recently Updated':
            state.apis = _.sortBy(state.apis,'._meta.timestamp').reverse();
            break;
          default:
            state.apis = _.sortBy(state.apis,'info.title');
        }
      },
      savePopularTags(state,payload){
        state.popularTags= payload['popularTags'];
      },
    },
    getters:{
      // exposed as store.getters.nameOfGetter
      getHitsFor: (state) => (apiname) => {
        let data={'labels':[],'datasets':[]};
        let label = '';
        let dataArray=[];

        for (var i = 0; i < state.analytics.length; i++) {
          if (state.analytics[i][1].toLowerCase() === apiname.toLowerCase()) {
            label = state.analytics[i][0].toUpperCase();
            data.labels.push(label);
            let number = state.analytics[i][2];
            dataArray.push(number)
          }

        }
        data.datasets.push({'label':"Users",'data':dataArray,'backgroundColor': ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],})
        // console.log('user interactions...',data)
        return data
      },
      getUser:(state)=>{
        return state.userInfo
      },
      getBTEApis:(state)=>{
        return state.bteapis
      },
      getApis:(state)=>{
        return state.apis
      },
      getPaginatedApis: (state) => (start,end) =>{
        if (state.apis) {
          return state.apis.slice(start, end);
        }else{
          return []
        }
      },
      getTags: (state)=>{
        return state.tags
      },
      getAuthors: (state)=>{
        return state.authors
      },
      getPopularTags: (state)=>{
        return state.popularTags
      },
      getContext: (state)=>{
        return state.context
      }
    }
  });

Vue.component('status', {
  data: function(){
    return{
      status:'',
      clss:'',
    }
  },
  props: ['api'],
  methods:{
    getStatus(api){
      let self = this;
      if (api['_meta'].hasOwnProperty('uptime_status')) {
        let stat = api['_meta']['uptime_status'];
        switch (stat) {
          case 'unknown':
            self.status = 'UNKNOWN';
            self.clss = 'orange';
            break;
          case 'good':
            self.status = 'PASS';
            self.clss = 'green';
            break;
          case 'bad':
            self.status = 'FAIL';
            self.clss = 'red';
            break;
          case 'incompatible':
            self.status = 'INCOMPATIBLE';
            self.clss = 'blue';
            break;
          default:
          self.status = '';
          self.clss = 'grey';
        }
      }
    },
    setTooltip(){
      tippy( '.apiStatus', {
        content: `<div>
                    <table>
                      <tbody>
                        <tr>
                          <td class='green-text center'>
                            <b>PASS</b>
                          </td>
                          <td class="blue-grey-text">
                            Your OpenAPI V3 API endpoints provide examples and all return code 200.
                          </td>
                        </tr>
                        <tr>
                          <td class='red-text center'>
                            <b>FAIL</b>
                          </td>
                          <td class="blue-grey-text">
                            Your OpenAPI V3 API endpoints provide examples but return code other than 200.
                          </td>
                        </tr>
                        <tr>
                          <td class='orange-text center'>
                            <b>UNKNOWN</b>
                          </td>
                          <td class="blue-grey-text">
                            None of your OpenAPI V3 API endpoints provide examples and cannot be tested. <a href='/faq#api-monitor' target="_blank">Learn more about how to to enable API status check </a>.
                          </td>
                        </tr>
                        <tr>
                          <td class='blue-text center'>
                            <b>INCOMPATIBLE</b>
                          </td>
                          <td class="blue-grey-text">
                            Your API's specification does not match OpenAPI V3 specification and will not be tested. Use our guide to learn how to upgrade your metadata to OpenAPI V3 <a href="/guide" target="_blank">here</a>.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>`,
        placement: 'left',
        theme:'light',
        trigger:'click',
        sticky:true,
        interactive:true,
      });
    }
  },
  mounted: function(){
    this.setTooltip();
    this.getStatus(this.api);
  },
  template: `<div v-show='status' class="apiStatus" title="Click to learn more">
              <div class="blue-grey-text">Status</div>
              <div :class="clss" v-text='status'></div>
             </div>`
});


  new ClipboardJS('.copyBtn');
      ClipboardJS.isSupported();

  Vue.component('description', {
    data: function(){
      return{
        result:null,
        fullTXT:false
      }
    },
    props: ['text'],
    methods:{
      compileMDWN: function(mdtext){
        this.result = marked(mdtext, { sanitize: true });
        return this.result;
      }
    },

    mounted: function(){
      this.compileMDWN(this.text)
    },
    template: `<div>
                <div class="expandContainer" v-bind:class="{'max-height-none' : fullTXT, 'max-height-200': !fullTXT}">

                  <div class="center">

                    <a class="btn grey lighten-1 expandButtonLess" v-if="fullTXT" @click.prevent="fullTXT = !fullTXT;">
                      Collapse
                    </a>
                  </div>

                  <div class="blue-grey-text" v-html="result"></div>

                  <div class="center">
                    <a class="btn grey lighten-1 expandButtonLess" v-if="fullTXT" @click.prevent="fullTXT = !fullTXT;">
                      Collapse
                    </a>
                  </div>

                  <div v-if="!fullTXT" class="whiteFadeBox center">
                    <a class="btn grey lighten-1 expandButtonMore" v-if="!fullTXT" @click.prevent="fullTXT = !fullTXT;">Click to expand</a>
                  </div>
                </div>
              </div>`
  });

  Vue.component('apicontainer', {
    data: function(){
      return{
        showDetails:false
      }
    },
    props: ['api'],
    methods:{
      isUsedByBTE(name){
        var self = this;
        if (self.bteapis && self.bteapis.includes(name) ) {
          return true
        }else{
          return false
        }
      },
      compiledMarkdown: function (mdtext) {
          return marked(mdtext, { sanitize: true })
      },
      getDate(timestamp){
        var date = moment(timestamp).format("LL");
        return date;
      },
      checkForName: function(api){
        if (_.get(api, 'info.contact.name')) {
          return [api.info.contact.name];
        }
        else{
          return ['Name Unavailable'];
        }
      },
      googleAnalytics(category, label){
        // console.log('category',category,label)
        // gtag('event','click',{'event_category':'general','event_label':label,'event_value':1})

        switch (category) {
          case 'Registry_Tag':
            gtag('event','click',{'event_category':'tag','event_label':label,'event_value':1})
            break;
          case 'Registry_Author':
            gtag('event','click',{'event_category':'author','event_label':label,'event_value':1})
            break;
          case 'Registry_APIs':
            gtag('event','click',{'event_category':'expanded','event_label':label,'event_value':1})
            break;
          case 'Registry_SharedURL':
            gtag('event','click',{'event_category':'shared','event_label':label,'event_value':1})
            break;
          case 'Registry_Searches':
            gtag('event','click',{'event_category':'searched','event_label':label,'event_value':1})
            break;
          case 'Registry_Documentation':
            gtag('event','click',{'event_category':'documentation','event_label':label,'event_value':1})
            break;
          default:
          gtag('event','click',{'event_category':'general','event_label':label,'event_value':1})
        }
      },
      operationStyling: function(op){
        //styles operations based on type
        switch( op.substr(0,3) ){
              case 'GET' :
                return 'bold light-blue darken-1 white-text operation';
                break;
              case 'POS' :
                return 'bold light-green white-text operation';
                break;
              case 'PUT' :
                return 'bold amber lighten-2 white-text operation';
                break;
              case 'DEL' :
                  return 'bold deep-orange darken-1 white-text operation';
                  break;
              case 'HEA' :
                  return 'bold deep-purple lighten-1 white-text operation';
                  break;
              case 'PAT' :
                  return 'bold brown lighten-1 white-text operation';
                  break;
              case 'PAR' :
                  return 'bold teal lighten-1 white-text operation';
                  break;
              default:
                 return 'bold gray lighten-1 white-text operation'
                  break;
        }
      },
      getOperations: function (api, raw=false) {
        var self= this;
          var operations = [];
          if (raw) {
              for(var path in api.paths) {
                  for(var method in api.paths[path]) {
                      operations.push({'method': self.validateFields(method.toUpperCase()), 'summary': path['pathitem'][method].summary, 'path': path })
                  }
              }
          }else{
              api.paths.forEach(function(path){
                  for(var method in path['pathitem']) {
                    if (path['pathitem'][method].hasOwnProperty('summary')) {
                      operations.push({'method': self.validateFields(method.toUpperCase()), 'summary': path['pathitem'][method].summary, 'path': path.path })
                    }else if (path['pathitem'][method].hasOwnProperty('description')) {
                      operations.push({'method': self.validateFields(method.toUpperCase()), 'summary': path['pathitem'][method].description, 'path': path.path })
                    }
                  }
              })
          }
          return operations;
      },
      validateFields(path){
        let paths = ['GET','POST','PUT','DELETE','PATCH','TRACE','HEAD','CONNECT'];
        if (paths.includes(path)) {
          return path;
        }else if (path === "PARAMETERS") {
            return 'GET';
        }
      },
      matchTagAndSearch: function(tagName){
        var self = this;
        for (var i = 0; i < self.tags.length; i++) {
          if (self.tags[i].name === tagName) {
            self.tags[i].active = true;
            self.search(self.tags[i].name);
          }
        }
      },
      search: function (query) {
          var self = this;
          // self.context= {{Context}};
          if (!self.context.Special && !query){
            query = $('#search_query').val();
            query = query || "__all__";
          }
          else if (self.context.Special && !query) {
            query = query || "__all__";
            self.handleSpecialTags(self.context.Tags[0]);
          }
          if (query) {
              self.googleAnalytics('Registry_Searches',query)
              var params = {
                  "params": {
                      "q": encodeURIComponent(query),
                      'fields': 'info,_meta,paths.path,paths.pathitem.get.summary,paths.pathitem.post.summary,paths.pathitem.delete.summary,paths.pathitem.patch.summary,paths.pathitem.put.summary,paths.pathitem.head.summary,paths.pathitem.put.summary,options.pathitem.head.summary,paths.pathitem.put.summary,paths.pathitem.trace.summary,paths.pathitem.get.description,paths.pathitem.post.description,paths.pathitem.delete.description,paths.pathitem.patch.description,paths.pathitem.put.description,paths.pathitem.head.description,paths.pathitem.put.description,options.pathitem.head.description,paths.pathitem.put.description,paths.pathitem.trace.description,tags,openapi,swagger,'
                  }
              };
              var filters = this.getQueryFilters();
              if (Object.keys(filters).length !== 0){
                params["params"]["filters"] = filters;
              }
              // self.loading_start();
              // Share search URL
              self.buildShareURL(query);

              $(".context").unmark();
              axios.get('/api/query?size=100', params).then(function (response) {
                  // self.loading_end();
                  $(".context").unmark();

                  var payload = {};
                  payload["apis"] = response.data.hits;
                  store.commit('saveApis',payload);

                  // self.handleContext(self.context);
                  // self.total = response.data.total;
                  // self.page = 1;
                  // self.calculatePages();
              }).catch(err=>{
                throw err;
                // self.loading_end();

              });
          }
      },
      getQueryFilters: function(){
        var self = this;
          var filters = [];
          var authorFilters = [];
          var finalFilters = {};
          self.tags.forEach(function(item){
            if (item.active)
                filters.push(item.name);
            });
          if (filters.length > 0){
            finalFilters['tags.name.raw'] = filters;
          }

          self.popularTags.forEach(function(item){
            if (item.active && !filters.includes(item.name))
                filters.push(item.name);
            });
          if (filters.length > 0){
            finalFilters['tags.name.raw'] = filters.concat(filters);
          }

          self.authors.forEach(function(item){
            if (item.active){
              authorFilters.push(item.name);
            }
            });
          if (authorFilters.length){
            finalFilters['info.contact.name.raw'] = authorFilters;
          }

          return finalFilters;
      },
      toggleTag(tag,type){

        switch (type) {
          case 'author':
          var payload = {};
          payload["author"] = tag;
          store.commit('toggleAuthor',payload);
            break;
            case 'tag':
            var payload = {};
            payload["tag"] = tag;
            store.commit('toggleTag',payload);
              break;
          default:
            return false
        }
      },
      buildShareURL: function(q){
        var filters = [];
        var authorFilters = [];
        var finalFilters = '';
        var finalAuthorFilters ='';
        var finalURL = window.location.origin+window.location.pathname;
        // Collect TAGS
        this.tags.forEach(function(item){
          if (item.active)
              filters.push(item.name);
          });
        // Collect Owners
        this.authors.forEach(function(item){
          if (item.active){
            authorFilters.push(item.name);
          }
        });
        //Detect QUERY
        if (q !== '__all__') {
          finalURL = finalURL+'?q='+q;
          //if any tags are actuve
          if(authorFilters.length || filters.length){
            finalURL = finalURL+"&";
          }
        }
        //if tags active but no query
        else if(authorFilters.length || filters.length){
          finalURL = finalURL+"?";
        }
        // if BOTH filters exists
        if (filters.length && authorFilters.length) {
          finalFilters = filters.join(',')
          finalURL = finalURL+"tags="+finalFilters;

          finalAuthorFilters = authorFilters.join(',')
          finalURL = finalURL+"&owners="+finalAuthorFilters;
        }
        // if Owners Exist but no Tags
        else if (!filters.length && authorFilters.length) {
          finalAuthorFilters = authorFilters.join(',')
          finalURL = finalURL+"owners="+finalAuthorFilters;
        }
        // if Tags exists but no owners
        else if (filters.length && !authorFilters.length) {
          finalFilters = filters.join(',')
          finalURL = finalURL+"tags="+finalFilters;
        }

        this.shareURL =finalURL;
        //HTML5 change url history
        window.history.pushState({"html":'content',"pageTitle":'SmartAPI'},"", finalURL);
        this.shareURLButtonVisible = true;
      },
    },
    computed:{
      userInfo:function(){
        return store.getters.getUser
      },
      bteapis: function(){
        return store.getters.getBTEApis
      },
      apis: function(){
        return store.getters.getApis
      },
      tags: function(){
        return store.getters.getTags
      },
      authors: function(){
        return store.getters.getAuthors
      },
      popularTags: function(){
        return store.getters.getPopularTags
      },
      context: function(){
        return store.getters.getContext
      },
    },
    mounted: function(){

    },
    template: `
    <div class="card context">
    <div class="card-content ">
          <span class="card-title">
            <span class="blue-grey-text bold" v-text="api.info.title"></span>
            <span class="versionBadge grey">
              V.<span v-text="api.info.version"></span>
            </span>
            <span v-if=" api.hasOwnProperty('openapi') " class="versionBadge green">
              OAS3
            </span>
            <span v-else-if=" api.hasOwnProperty('swagger') " class="versionBadge blue">
              Swagger2
            </span>
            <a style="cursor: pointer !important;" href="/dashboard" v-if="userInfo && api._meta.github_username === userInfo.login " class="versionBadge light-blue">
              My&nbsp;API
            </a>
            <a title="This API is being used by BioThings Explorer" style="cursor: pointer !important;" v-if="isUsedByBTE(api.info.title)" target="_blank" href="https://biothings.io/explorer">
              <img height="28px;" src="http://biothings.io/static/img/biothings-explorer-256.png"/>
            </a>
            <status :api='api' ></status>
          </span>
          <template v-if="api.info.description && api.info.description.length > 500">
            <description :text='api.info.description'></description>
          </template>
          <template v-else>
            <div class="blue-grey-text" v-html="compiledMarkdown(api.info.description || '')"></div>
          </template>
          <hr style="border: dotted 1px #e8e8e8 !important;"/>
          <div class="full-width grey-text">
            <template v-for="(tag,index) in api.tags">
              <a  href="#!" @click.prevent="toggleTag(tag,'tag');search();googleAnalytics('Registry_Tag', tag.name)" class="link">
                <small>#<span v-text="tag.name"></span></small>
              </a>
              <span v-if="index !== api.tags.length-1">, </span>
            </template>
          </div>
      </div>
      <!-- TOGGLE DETAILS -->
      <div class="card-action grey lighten-3" v-if="apis.length > 1" :class="showDetails?'blue':'grey'">
          <a style="border-radius: 20px;" class="btn getBTEApis" :class="showDetails?'grey lighten-3 blue-text':'blue white-text'" href="#" @click.prevent="showDetails = !showDetails; googleAnalytics('Registry_APIs',api.info.title)" v-text="showDetails?'HIDE DETAILS':'SHOW DETAILS'"></a>
      </div>
      <div class="card-content detailsBack" v-if="showDetails || apis.length === 1">
        <div class="row" style="width:60%;magin;margin: auto !important;">
          <div class="col s12 right-align">
            <small class="grey-text">Updated: </small><small class="white-text"><span v-text="getDate(api._meta.timestamp)"></span> </span></small>
          </div>
          <div class="col s12 center">
            <h5 class="grey-text"><span class="white-text bold">
              <span v-text="api.info.title"></span>
              </span> V <span v-text="api.info.version"></span>
            </h5>
          </div>
          <div class="col s12 center">
            <template v-for='name in checkForName(api)'>
              <template v-if="name != 'Name Unavailable'">
                <small class="blue-grey-text">by</small>
                <small class="white-text">
                  <i class="fa fa-user" aria-hidden="true"></i> <span v-text="name"></span>
                </small>
              </template>
            </template>
          </div>
          <div class="col s12 center">
            <small class="white-text">SmartAPI ID</small>
            <a class="link" target="_blank" v-bind:href='"/api/metadata/"+api._id'>
              <small>
                <span :id="'id'+api._id" :value="api._id" v-text="api._id"></span> <i class="fa fa-external-link" aria-hidden="true"></i>
              </small>
            </a>
            <button class="smallButton grey copyBtn" :data-clipboard-text="api._id">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col s12 center">
            <small class="white-text">Metadata URL</small>
            <a class="link" target="_blank" v-bind:href='api._meta.url'>
              <small><span v-text="_.truncate(api._meta.url)"></span> <i class="fa fa-external-link" aria-hidden="true"></i></small>
            </a>
            <button class="smallButton grey copyBtn" :data-clipboard-text="api._meta.url">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col s12 center">
            <small class="white-text">SmartAPI Registry URL</small>
            <a class="link" target="_blank" v-bind:href='"?q="+api._id'>
              <small><span :id="'url'+api._id" :value="api._id">http://smart-api.info/registry?q=<span v-text="api._id"></span> </span></small>
            </a>
            <button class="smallButton grey copyBtn" :data-clipboard-text="'http://smart-api.info/registry?q='+api._id">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col s12 center" style="padding:20px;">
            <a class="btn green getBTEApis"
               v-bind:href='"/ui/"+api._id' @click="googleAnalytics('Registry_Documentation', api.info.title)">
               View API Documentation
            </a>
            <a class="btn blue getBTEApis"
               v-bind:href='"/editor/"+api._id'>
               Edit <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
          <template v-if=" api.hasOwnProperty('openapi') ">
            <h6 class="center white-text">(<span v-text="getOperations(api).length"></span>) Operations</h6>
            <table  class="bordered grey lighten-5" style="margin: 20px 0px;">
              <col width="10%">
              <col width="30%">
              <col width="60%">
                <tr v-for="operation in getOperations(api)">
                  <td class="center" style="white-space: pre-wrap; word-break: break-word;padding:3px; border-radius: 0px !important;" :class="operationStyling(operation.method)">
                    <small ><span v-text="operation.method"></span></small>
                  </td>
                  <td style="white-space: pre-wrap; word-break: break-word;padding:3px;">
                    <small class="blue-text bold"><span v-text="operation.path"></span></small>
                  </td>
                  <td class="blue-grey-text" style="padding:3px;">
                    <small><span v-text="operation.summary"></span></small>
                  </td>
                </tr>
            </table>
          </template>
      </div>
    </div>
    `
  });

  var app = new Vue({
      el: '#app',
      store: store,
      data: function(){
        return {
            total: 0,
            query: '',
            page: 1,
            pages: 1,
            perPage: 20,
            keywords:'',
            specialTagsUI: false,
            specialTagName: '',
            specialTagImage: '',
            specialTagURL: '',
            specialTagOriginalName: '',
            // context:{},
            shareURL:'',
            shareURLButtonVisible: false,
            sort: 'Relevance',
            loading: false
        }
      },
      methods: {

          getBTEapis(){
            var self = this;
            axios.get('https://biothings.io/explorer_beta/api/v2/metadata/apis').then(res=>{
              if (res.data.api) {
                var payload = {};
                payload["apis"] = res.data.api;
                store.commit('saveBTEApis',payload);
              }
            }).catch(err=>{
              throw err;
            });
          },
          googleAnalytics(category, label){
            // console.log('category',category,label)
            // gtag('event','click',{'event_category':'general','event_label':label,'event_value':1})

            switch (category) {
              case 'Registry_Tag':
                gtag('event','click',{'event_category':'tag','event_label':label,'event_value':1})
                break;
              case 'Registry_Author':
                gtag('event','click',{'event_category':'author','event_label':label,'event_value':1})
                break;
              case 'Registry_APIs':
                gtag('event','click',{'event_category':'expanded','event_label':label,'event_value':1})
                break;
              case 'Registry_SharedURL':
                gtag('event','click',{'event_category':'shared','event_label':label,'event_value':1})
                break;
              case 'Registry_Searches':
                gtag('event','click',{'event_category':'searched','event_label':label,'event_value':1})
                break;
              case 'Registry_Documentation':
                gtag('event','click',{'event_category':'documentation','event_label':label,'event_value':1})
                break;
              default:
              gtag('event','click',{'event_category':'general','event_label':label,'event_value':1})
            }
          },
          sortResults(e){
            this.sort = e.target.value;
          },

          handleDescriptionClick(event, show){
            if (show) {
              event.target.style.maxHeight = 'none';
              if (event.target.children[1]) {
                event.target.children[1].hidden = true;
              }
            }else{
              event.target.style.maxHeight = '200px';
              if (event.target.children[1]) {
                event.target.children[1].hidden = false;
              }
            }
          },

          showHideDetails: function(event){
            //toggle show/hide text on details link per card
            let text = $(event.target).text().trim().toLowerCase();
            if(text === 'show details'){
              event.target.innerHTML = 'hide details';
            }
            else if(text === 'hide details'){
              event.target.innerHTML = 'show details';
            }
          },

          loading_start: function(){
              this.loading = true;
          },
          loading_end: function(){
              this.loading = false;
          },
          getKeywords: function(){
            var self= this;
            // Read the keyword
            self.keywords = $("input[name='query']").val();
            self.mark(self.keywords);
          },
          mark: function(kw){
            //unmark and mark current search
            var self= this;
            $(".context").unmark({
              done: function() {
                $(".context").mark(kw);
              }
            });
          },
          refreshApis: function(){
              var self = this;
              self.handleContext(self.context);
              //check for existing query in url string
              self.checkforQuery();
              let query = self.query;
              if(!self.query){
                query="__all__"
              }
              var params = {
                  "params": {
                      "q": encodeURIComponent(query),
                      'fields': 'info,_meta,paths.path,paths.pathitem.get.summary,paths.pathitem.post.summary,paths.pathitem.delete.summary,paths.pathitem.patch.summary,paths.pathitem.put.summary,paths.pathitem.head.summary,paths.pathitem.put.summary,options.pathitem.head.summary,paths.pathitem.put.summary,paths.pathitem.trace.summary,paths.pathitem.get.description,paths.pathitem.post.description,paths.pathitem.delete.description,paths.pathitem.patch.description,paths.pathitem.put.description,paths.pathitem.head.description,paths.pathitem.put.description,options.pathitem.head.description,paths.pathitem.put.description,paths.pathitem.trace.description,tags,openapi,swagger,'
                  }
              }
              var filters = self.getQueryFilters();
              if (Object.keys(filters).length !== 0){
                params["params"]["filters"] = filters;
              }
              self.loading_start();
              axios.get("/api/query?size=100", params).then(function(response){
                  self.loading_end();

                  var payload = {};
                  payload["apis"] = response.data.hits;
                  store.commit('saveApis',payload);

                  // self.apis = response.data.hits;
                  self.total = response.data.total;
                  self.calculatePages();
              }).catch(err=>{
                throw err;
                self.loading_end();
              });
          },
          loadFilters: function (){
              var self = this;
              axios.get('/api/suggestion?field=tags.name').then(function(response){
                  let tags = _.map(response.data.field_values.buckets, function(item){
                      return {'name':item.key, 'count': item.doc_count, 'active': false};
                  });
                  var payload = {};
                  payload["tags"] = tags;
                  store.commit('saveTags',payload);

                  axios.get('/api/suggestion?field=info.contact.name').then(function(response){
                      let authors = _.map(response.data.field_values.buckets, function(item){
                          return {'name':item.key, 'count': item.doc_count, 'active': false};
                      });

                      var payload = {};
                      payload["authors"] = authors;
                      store.commit('saveAuthors',payload);

                      //When all filters all loaded
                      //share url params depend on filters being loaded
                      self.refreshApis();
                  });

              });
          },
          getQueryFilters: function(){
              var filters = [];
              var authorFilters = [];
              var finalFilters = {};
              this.tags.forEach(function(item){
                if (item.active)
                    filters.push(item.name);
                });
              if (filters.length > 0){
                finalFilters['tags.name.raw'] = filters;
              }

              this.popularTags.forEach(function(item){
                if (item.active && !filters.includes(item.name))
                    filters.push(item.name);
                });
              if (filters.length > 0){
                finalFilters['tags.name.raw'] = filters.concat(filters);
              }

              this.authors.forEach(function(item){
                if (item.active){
                  authorFilters.push(item.name);
                }
                });
              if (authorFilters.length){
                finalFilters['info.contact.name.raw'] = authorFilters;
              }

              return finalFilters;
          },
          searchForTags: function(tagName){
            var self = this;
            for (var i = 0; i < self.tags.length; i++) {
              if (self.tags[i].name === tagName) {
                self.tags[i].active = !self.tags[i].active;
                self.search();
              }
              else{
                self.search();
              }
            }
          },
          buildShareURL: function(q){
            var filters = [];
            var authorFilters = [];
            var finalFilters = '';
            var finalAuthorFilters ='';
            var finalURL = window.location.origin+window.location.pathname;
            // Collect TAGS
            this.tags.forEach(function(item){
              if (item.active)
                  filters.push(item.name);
              });
            // Collect Owners
            this.authors.forEach(function(item){
              if (item.active){
                authorFilters.push(item.name);
              }
            });
            //Detect QUERY
            if (q !== '__all__') {
              finalURL = finalURL+'?q='+q;
              //if any tags are actuve
              if(authorFilters.length || filters.length){
                finalURL = finalURL+"&";
              }
            }
            //if tags active but no query
            else if(authorFilters.length || filters.length){
              finalURL = finalURL+"?";
            }
            // if BOTH filters exists
            if (filters.length && authorFilters.length) {
              finalFilters = filters.join(',')
              finalURL = finalURL+"tags="+finalFilters;

              finalAuthorFilters = authorFilters.join(',')
              finalURL = finalURL+"&owners="+finalAuthorFilters;
            }
            // if Owners Exist but no Tags
            else if (!filters.length && authorFilters.length) {
              finalAuthorFilters = authorFilters.join(',')
              finalURL = finalURL+"owners="+finalAuthorFilters;
            }
            // if Tags exists but no owners
            else if (filters.length && !authorFilters.length) {
              finalFilters = filters.join(',')
              finalURL = finalURL+"tags="+finalFilters;
            }

            this.shareURL =finalURL;
            //HTML5 change url history
            window.history.pushState({"html":'content',"pageTitle":'SmartAPI'},"", finalURL);
            this.shareURLButtonVisible = true;
          },
          search: function (query) {
              var self = this;
              // self.context= {{Context}};
              if (!self.context.Special && !query){
                query = $('#search_query').val();
                query = query || "__all__";
              }
              else if (self.context.Special && !query) {
                query = query || "__all__";
                self.handleSpecialTags(self.context.Tags[0]);
              }
              if (query) {
                  self.googleAnalytics('Registry_Searches',query)
                  var params = {
                      "params": {
                          "q": encodeURIComponent(query),
                          'fields': 'info,_meta,paths.path,paths.pathitem.get.summary,paths.pathitem.post.summary,paths.pathitem.delete.summary,paths.pathitem.patch.summary,paths.pathitem.put.summary,paths.pathitem.head.summary,paths.pathitem.put.summary,options.pathitem.head.summary,paths.pathitem.put.summary,paths.pathitem.trace.summary,paths.pathitem.get.description,paths.pathitem.post.description,paths.pathitem.delete.description,paths.pathitem.patch.description,paths.pathitem.put.description,paths.pathitem.head.description,paths.pathitem.put.description,options.pathitem.head.description,paths.pathitem.put.description,paths.pathitem.trace.description,tags,openapi,swagger,'
                      }
                  };
                  var filters = this.getQueryFilters();
                  if (Object.keys(filters).length !== 0){
                    params["params"]["filters"] = filters;
                  }
                  self.loading_start();
                  // Share search URL
                  self.buildShareURL(query);

                  $(".context").unmark();
                  axios.get('/api/query?size=100', params).then(function (response) {
                      self.loading_end();
                      $(".context").unmark();

                      var payload = {};
                      payload["apis"] = response.data.hits;
                      store.commit('saveApis',payload);

                      self.handleContext(self.context);
                      self.total = response.data.total;
                      self.page = 1;
                      self.calculatePages();
                  }).catch(err=>{
                    throw err;
                    self.loading_end();

                  });
              }
          },
          calculatePages: function () {
              this.pages = Math.ceil(this.apis && this.apis.length / this.perPage);
          },
          prevPage: function () {
              if (this.page > 1)
                  this.page -= 1
          },
          nextPage: function () {
              if (this.page < this.pages)
                  this.page += 1
          },


          getUserInfo: function(){
            var self= this;
            axios.get('/user').then(response=>{
              var payload = {};
              payload["user"] = response.data;
              store.commit('saveUserInfo',payload);
            }).catch(err=>{
              throw err;
            })
          },
          handleRegularTags: function(rTags){
            var self = this;
              self.specialUI = false;
              for (var i = 0; i < rTags.length; i++) {
                for (var x = 0; x < self.tags.length; x++) {
                  if (rTags[i].toLowerCase() === self.tags[x].name.toLowerCase()) {
                    // self.tags[x].active = true;
                    var payload = {};
                    payload["tag"] = self.tags[x].name.toLowerCase();
                    store.commit('toggleTag',payload);
                  }
                }
              }
          },
          handleOwnerTags: function(rTags){
            var self = this;
              self.specialUI = false;
              for (var i = 0; i < rTags.length; i++) {
                for (var x = 0; x < self.authors.length; x++) {
                  if (rTags[i].toLowerCase() === self.authors[x].name.toLowerCase()) {
                    // self.authors[x].active = true;
                    var payload = {};
                    payload["author"] = self.authors[x].name.toLowerCase();
                    store.commit('toggleAuthor',payload);
                  }
                }
              }
          },
          handleContext: function(context){
            // console.log(context);
            if (context.Special) {
              this.handleSpecialTags(this.context.Tags[0]);
            }
            if (!context.Special && !_.isEmpty(context.Tags)) {
              this.handleRegularTags(this.context.Tags);
            }
            if (!context.Special &&  !_.isEmpty(context.Owners)) {
              this.handleOwnerTags(this.context.Owners);
            }
          },
          handleSpecialTags: function(tagname){
            var self = this;
              self.specialTagsUI = true;
              self.specialTagOriginalName = tagname.toUpperCase();
              switch (tagname) {
                case 'translator':
                  self.specialTagName = 'NCATS Biomedical Data Translator';
                  self.specialTagImage = '/static/img/ncats-logo.png';
                  self.specialTagURL = 'https://ncats.nih.gov/translator';
                  break;
                  case 'nihdatacommons' || 'NIHdatacommons':
                    self.specialTagName = 'NIH Data Commons';
                    self.specialTagImage = '/static/img/nih-logo.png';
                    self.specialTagURL = 'https://commonfund.nih.gov/commons';
                    break;
                default:
                  self.specialTagName = tagname.toUpperCase();
                  self.specialTagImage = '/static/img/logo-small.png';
                  self.specialTagURL = 'https://smart-api.info';
              }
              for (var i = 0; i < self.tags.length; i++) {
                if (self.tags[i].name.toLowerCase() === tagname.toLowerCase()) {
                  self.tags[i].active = true;
                }
              }
          },
          checkforQuery: function(){
            var url_string = window.location.href
            var url = new URL(url_string);
            var q = url.searchParams.get("q");
            if (q) {
              this.query = q;
            }
          },
          getAnalytics(){
            var self = this;
            axios.get('https://gasuperproxy-1470690417190.appspot.com/query?id=ahxzfmdhc3VwZXJwcm94eS0xNDcwNjkwNDE3MTkwchULEghBcGlRdWVyeRiAgIDMgsmRCgw').then(res=>{
              if (res.data.rows) {
                var payload = {};
                payload["analytics"] = res.data.rows;
                store.commit('saveAnalytics',payload);
              }

            }).catch(err=>{
              throw err;
            });
          },
          toggleTag(tag,type){

            switch (type) {
              case 'author':
              var payload = {};
              payload["author"] = tag;
              store.commit('toggleAuthor',payload);
                break;
                case 'tag':
                var payload = {};
                payload["tag"] = tag;
                store.commit('toggleTag',payload);
                  break;
              default:
                return false
            }
          },
          matchTagAndSearch: function(tagName){
            var self = this;
            for (var i = 0; i < self.tags.length; i++) {
              if (self.tags[i].name === tagName) {
                self.toggleTag(self.tags[i].name,'tag')
                self.search();
              }
            }
          },
      },
      created: function () {
          this.getUserInfo();
          this.getBTEapis();
          $(".button-collapse").sideNav();
          $('.collapsible').collapsible();
          this.loadFilters();
          // this.context = {{Context}};
          if ({{Context}}) {
            var payload = {};
            payload["context"] = {{Context}};
            store.commit('saveContext',payload);
          }


      },
      mounted:function(){

        this.getAnalytics();

        tippy( '#tippyParentCopy', {
          target: '.copyBtn',
          content:'Copied',
          animateFill: false,
          animation: 'fade',
          theme:'light',
          trigger:'click'});

      },
      updated: function(){
        // Highlight matches in results
        this.getKeywords();
      },
      computed: {
          paginatedApis: function () {
              var start = (this.page - 1) * this.perPage,
                  end = start + this.perPage;
              // return this.apis && this.apis.slice(start, end);
              return store.getters.getPaginatedApis(start, end);
          },
          userInfo: function(){
            return store.getters.getUser
          },
          apis: function(){
            return store.getters.getApis
          },
          tags: function(){
            return store.getters.getTags
          },
          authors: function(){
            return store.getters.getAuthors
          },
          popularTags: function(){
            return store.getters.getPopularTags
          },
          context: function(){
            return store.getters.getContext
          },
      },
      watch:{
        sort: function(sort){
          var self = this;
          if (sort  === 'Search Relevance') {
            self.search();
          }else {
            var payload = {};
            payload["type"] = sort
            store.commit('sort',payload)
          }
        },
      }
  });
</script>
{% endblock %}
