/* UI */
.swagger-ui .info .title{
  font-size: 3.5em !important;
  margin-bottom: 20px;
  line-height: normal;
}
.swagger-ui{
  margin-bottom: 50px;
}
h2.title{
  margin-top: 20px;
}
span.url{
  word-wrap: break-word;
}
div.info a{
  color: var(--blue-medium) !important;
  text-decoration: underline;
}
.swagger-ui .servers>label select {
  min-width: 130px;
  max-width: 100%;
  display: block;
}
.swagger-ui svg:not(:root){
  display: none;
}
.swagger-ui select{
  display: inline;
}
/* Custom Stylesheet */
.loadBlock {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  z-index: 1000;
}
.badgepill{
  border-radius: 5px;
  padding: 2px;
  color: white;
  display: inline;
}
.pRelative{
  position: relative;
}
.pAbsolute{
  position: absolute;
}
#topicsBox{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.fair{
  font-size: 3em;
  align-items: center;
  vertical-align: middle;
  color: var(--blue-medium);
  padding: 20px;
  text-align: center;
}
.contributor{
  background: rgb(255, 255, 255);
  padding: 10px !important;
  transition: all 1s;
}
.contributor:hover{
  background: rgb(224, 224, 224);
  padding: 10px;
  cursor: pointer;
}
#modal1{
  border-top: 25px solid var(--blue-medium);
}
.fairTable tbody tr td{
  padding: 0px;
}
.aboutPic{
  border: #c4c4c4 solid 10px;
}
.contributor-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contributor-box{
  flex:1;
  flex-basis: 170px;
  max-width: 170px;
}
.squarePic{
  object-fit: cover;
  width:105px;
  height:105px;
}
.tabs .indicator{
  background: var(--blue-medium);
}
.tippy-tooltip{
  padding: 0px !important;
}
.rounded{
  border-radius: 10px;
}
.rounded-right{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.meta_grad{
  background: #304586;
  background: -moz-linear-gradient(top,rgba(48,69,134,1) 0,rgba(105,54,130,1) 100%);
  background: -webkit-linear-gradient(top,rgba(48,69,134,1) 0,rgba(105,54,130,1) 100%);
  background: linear-gradient(to bottom,rgba(48,69,134,1) 0,rgba(105,54,130,1) 100%);
}
.p-1{
  padding: .25rem;
}
.swal2-icon.swal2-warning{
  font-size: 1em;
}
.register_input{
  width: 85% !important;
  margin: auto !important;
}
.m-0{
  margin: 0px !important;
}
.codeBox{
  border-radius: 5px;
  border: inset 2px #f2f2f2 solid;
  text-align: left;
}
.resultsContainer{
  margin: 0px;
}
.resultsContainer li{
  border-bottom: 2px solid rgb(172, 172, 172) !important;
}
.resultsContainer li:last-child{
  border-bottom: none !important;
}
.resultsContainer li:nth-child(odd){
  background-color: white;
}
.resultsContainer li:nth-child(even){
  background-color: #e6f5ff;
}
.copyButton{
  background-color: rgba(0,0,0,.1);
  color:#afafaf !important;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  border: #737373 1px solid;
  border-radius: 10%;
  transition: 1s all;
  word-break:keep-all;
}
.copyButton:hover{
  background-color: rgba(0,0,0,.4);
  color:white !important;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  border: white 1px solid;
  border-radius: 10%;
  transition: 1s all;
}
.copyButton:focus{
  background-color: rgba(0,0,0,.4);
  color:white !important;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  border: white 1px solid;
  border-radius: 10%;
  transition: 1s all;
}
.flexP{
  display: flex;
  min-height: 80vh;
}
.flex1{
  flex: 1;
}
.flex7{
  flex: 7;
}
.position-absolute{
  position: absolute;
}
.position-relative{
  position: relative;
}
.contentDocs{
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#targetDiv{
  max-width: 80vw;
  overflow: auto;
}
h2, h1, h3{
  font-size: 2em !important;
}
.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--blue-dark);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
  box-shadow: 0px 0px 10px black;
  opacity: .9;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
}
.sidenav a:hover {
  color: white;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a.closebtn:hover{
  color: red !important;
  transition: 1s all;
}
mark{
  background: transparent;
  color: red;
  font-weight: bold;
}
#first_name:focus{
  width: 25% !important;
  text-align: center;
}
.default_color{
 background-color: #2196F3 !important
}
.default_color_text{
 color: #2196F3 !important
}
.icon-block {
  padding: 0 15px;
}
[v-cloak] > * {
  display:none;
}
.loader{
  position: absolute;
  margin:auto;
  top: 46vh;
  left: 46vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #328cc4;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
      transform: scale(0);
 }
  100% {
      transform: scale(1);
 }
}
@keyframes lds-ellipsis3 {
  0% {
      transform: scale(1);
 }
  100% {
      transform: scale(0);
 }
}
@keyframes lds-ellipsis2 {
  0% {
      transform: translate(0, 0);
 }
  100% {
      transform: translate(24px, 0);
 }
}
.apiDetails tbody tr td{
  padding: 3px;
}
.tippy-tooltip{
  padding: 0px !important;
}
#loading-overlay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.1);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}
#loading-overlay .loading-container {
  z-index:4;
  position: absolute;
  top: 50%;
  left: 50%;
}
#intro1, #intro2, #intro3 {
 padding-top: 4rem;
}
#intro2 {
 background: rgb(247, 247, 247);
}
.intro-text {
  text-align: justify;
}
#index-banner {
  min-height: 50vh;
  max-height: 864px;
  position: relative;
  background-color: #323232;
}
#nav_f{
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}
/* Rounded avatars */
.avatar {
  width: 36px;
  float: left;
  margin-top: 1em;
 /*margin-right: 1em;
 */
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.brand-logo{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}
.text_h3, .text_h2 {
  font-weight: 100;
}
.span_h2 {
  font-weight: 300;
 color: #2196F3;
}
.text_b{
  color: #2196F3;
}
.promo i {
  color: #2196F3;
  font-size: 7rem;
  display: block;
}
.text_pink{
 color:#EF9A9A;
}
nav ul a {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
}
.section_logo {
  max-width: 85px !important;
}
/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff;
 /* change if the mask should have another color then white */
  z-index:1200;
 /* makes sure it stays on top */
}
@media only screen and (max-width: 480px) {
  .text_h {
      padding: 4% 0;
      font-size: 5em;
      font-weight: 100;
      color: white;
 }
}
input, textarea {
  border-bottom: 1px solid #fff;
}
nav a.button-collapse {
  left: -25px;
}
.parallax-container {
  max-height: 400px;
}
footer.page-footer {
  margin-top: 0px !important;
}
/* for reg_form.html */
/* label color */
.input-field label {
  color: #727272;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1976D2;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #B6B6B6;
  box-shadow: 0 1px 0 0 #B6B6B6;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #1976D2;
}
.single_section {
  margin-bottom: 20% !important;
}
/* for registry.html */
.full-height {
  height: 100%;
  height: calc(100% - 64px);
  margin-bottom: 0;
}
.bold{
  font-weight: bold;
}
.sidebar {
  height: 100%;
  overflow-y: auto;
}
.selected-tags {
  margin-bottom: 10px;
}
.pagination li i {
  vertical-align: -30%;
}
.perPage {
  display: inline-block;
  width: auto;
}
