/*MARCO CANO Additions*/
:root{
  --blue-light:#E4F2FC;
  --blue-medium:#3F85BB;
  --blue-dark:#273238;
}
/* Small side nav css */
.side-nav{
  background-color: var(--blue-dark);
}

.side-nav a{
  color: var(--blue-light) !important;
  text-transform: uppercase !important;
  font-size: 1.2em !important;
  font-weight: lighter !important;
}

.bold{
  font-weight: bold;
}

.underlined{
  text-decoration: underline;
}

.title {
  color: var(--blue-dark);
  font-weight: lighter;
}

.roundPhoto{
  width: 25%;
  border-radius: 100%;
  padding: 15px;
  box-shadow: 1px 1px 2px grey;
  border: none;
}

.roundPhotoLink{
  width: 20%;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 1px 1px 2px grey;
  border: none;
  background-color: transparent;
}

.roundPhotoLink:hover{
  width: 20%;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 1px 1px 2px grey;
  border: none;
  background-color: white;
}

.noBorder{
  border: none !important;
}

.padding20{
  padding: 20px !important;
}

.docBack{
  background-image: url('../img/docBack.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.margin20{
  margin: 20px !important;
}

hr{
  border: 1px #dbdbdb solid !important;
}

.tableTextOverflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
  position:absolute;
  top:50%;
}

.middle-indicator-text{
  font-size: 4.2rem;
}

a.middle-indicator-text{
  color:white !important;
}
.content-indicator{
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.indicators{
  visibility: hidden;
}

.green{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,69b500+100 */
  background: rgb(143,196,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(143,196,0,1) 0%, rgba(105,181,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(105,181,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(143,196,0,1) 0%,rgba(105,181,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#69b500',GradientType=0 ); /* IE6-9 */
}

.blue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,257ac4+100 */
  background: rgb(37,141,200); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(37,122,196,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(37,122,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,122,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#257ac4',GradientType=0 ); /* IE6-9 */
}

.red{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e55b2b+0,e23326+100 */
  background: rgb(229,91,43); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(229,91,43,1) 0%, rgba(226,51,38,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(229,91,43,1) 0%,rgba(226,51,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(229,91,43,1) 0%,rgba(226,51,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55b2b', endColorstr='#e23326',GradientType=0 ); /* IE6-9 */
}

.whiteBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.themeBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#273238+0,e4f2fc+100 */
  background: rgb(39,50,56); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(39,50,56,1) 0%, rgba(228,242,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(39,50,56,1) 0%,rgba(228,242,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(39,50,56,1) 0%,rgba(228,242,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273238', endColorstr='#e4f2fc',GradientType=0 ); /* IE6-9 */
}

.testBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b85bc+0,273238+57 */
  background: rgb(43,133,188); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(43,133,188,1) 0%, rgba(39,50,56,1) 57%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(43,133,188,1) 0%,rgba(39,50,56,1) 57%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(43,133,188,1) 0%,rgba(39,50,56,1) 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b85bc', endColorstr='#273238',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mainBackgroundParticle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#273238+0,3883be+100 */
  background: rgb(39,50,56) !important; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(39,50,56,1) 0%, rgba(56,131,190,1) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(39,50,56,1) 0%,rgba(56,131,190,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(39,50,56,1) 0%,rgba(56,131,190,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273238', endColorstr='#3883be',GradientType=0 ) !important; /* IE6-9 */
}

.uiBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#273238+0,939393+79&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(39,50,56,1) 0%, rgba(147,147,147,0.21) 79%, rgba(147,147,147,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(39,50,56,1) 0%,rgba(147,147,147,0.21) 79%,rgba(147,147,147,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(39,50,56,1) 0%,rgba(147,147,147,0.21) 79%,rgba(147,147,147,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273238', endColorstr='#00939393',GradientType=0 ); /* IE6-9 */
}

.whiteTransBack{
  background-color: rgba(255,255,255,.8);
}

.blue-text{
  color: #3883BE !important;
}

.flexDad{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexKid{
  width: 50%;
  padding: 40px !important;
  text-align: center;
  font-size: 1em;
}

.mainBack{
  background-color: #CFEEFB;
  background-image: url('../img/net-pattern.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top left;
  position: relative;
  width: 100% !important;
  margin:0 auto;
  background-attachment: fixed;
}

.dashboardBack{
  background-image: url('/static/img/net.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position:300px 0; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position:300px 0; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position:300px 0; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position:300px 0; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position:300px 0; }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.animatedBlue{
  background: linear-gradient(270deg, #273238, #3982bc);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.animatedBackground:hover{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  animation: animatedBackground 20s linear infinite;
  -moz-animation: animatedBackground 20s linear infinite;
  -webkit-animation: animatedBackground 20s linear infinite;
  -ms-animation: animatedBackground 20s linear infinite;
  -o-animation: animatedBackground 20s linear infinite;
}

.animatedBackground{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  animation: animatedBackground paused;
  -moz-animation: animatedBackground paused;
  -webkit-animation: animatedBackground paused;
  -ms-animation: animatedBackground paused;
  -o-animation: animatedBackground paused;
}

.indexChild{
  background-color: transparent;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 20px;
}

#indexTitle{
  font-size: 4em;
  font-weight: lighter;
}

.flexDadIndex{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.flexKidIndex{
  width: 50%;
  min-width: 600px;
  flex-grow: 100%;
  padding: 40px !important;
  text-align: center;
  font-size: 1em;
}

.flexGuideDad{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.flexGuideKid{
  align-content: center;
  flex:3;
  flex-grow: 1;
  flex-shrink: 2;
  padding: 20px !important;
  text-align: center;
  box-sizing: border-box;
}

.text-shadow{
  font-weight: lighter;
  text-shadow: 1px 1px 2px grey;
}

.topic:hover{
  background-color: #90a4ae;
}

.margin10{
  margin:10px !important;
}

.margin20{
  margin:20px !important;
}

.topic{
  background-color: #627D8A;
  border-radius: 0px;
}

.clearButton{
  background-color: rgba(255,255,255,.1);
  margin-top: 10px;
  padding: 5px;
  border: solid white 2px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
}

.clearButton:hover{
  background-color: rgba(15, 55, 83, 0.7);
  margin-top: 10px;
  padding: 5px;
  border: solid #b3e5fc 2px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
  transition: .7s;
}

h1, h2 , h3, h4 ,h5{
  font-weight: 100;
}

/*Hide Images on Small Screen*/
@media only screen and (max-width: 500px) {

  .hideOnSmall{
    display: none;
  }

}

/*Hide Images on Medium Screen*/
@media only screen and (max-width: 900px) {

  .hideOnMedium{
    display: none;
  }

}

/*Hide Images on Medium Screen*/
@media only screen and (min-width: 900px) {

  .hideOnLarge{
    display: none;
  }

}

@-moz-keyframes spinTopic { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spinTopic { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spinTopic { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

#navPhoto{
  width: 50px;
  height: 50px;
  padding: 0px;
  box-sizing: border-box;
  margin:5px;
  border: 2px white solid;
}

#navPhoto:hover{
  width: 50px;
  height: 50px;
  padding: 0px;
  box-sizing: border-box;
  margin:5px;
  border: 2px #B9E6F8 solid;
}

#navPhotoLink{
  height: 60px;
  padding: 0;
}

.dynamicTable table tr:nth-child(odd){
  background-color: #eceff1;
}

.dynamicTable table tr{
  border-bottom: 1px grey solid;
}

.dynamicTable{
  width: 100%;
  max-width: 100%;
  overflow: scroll;
}

.footerList li{
  border-bottom: #607d8b dotted 1px;
}

.footerLink{
  color: #627D8A;
}

.footerLink:hover{
  transition: 1s;
  color: white;
}

/*Arrow Box -Bottom Arrow*/

.arrow_box {
  position: relative;
  background: #d3dfe7;
  padding:
}
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(49, 137, 195, 0);
  border-top-color: #d3dfe7;
  border-width: 30px;
  margin-left: -30px;
}

#beforeSubmitList li:hover{
  background-color: rgba(4, 75, 123,.8);
}

.textShadow{
  text-shadow: 2px 2px 1px #37474f;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer{
  bottom: 0;
}

.smallFont{
  font-size: 12px;
}

.lighter{
  font-weight: lighter;
}

.circleGradientBox{
  background: -webkit-radial-gradient(bottom left,#263238, #3C7092);
  background-size: 100%;
  transition:background-size  .5s ease-in;
  -moz-transition:background-size  .5s ease-in;
  -o-transition:background-size .5s ease-in;
  transition:background-size  .5s ease-in;
}

.circleGradientBox:hover{
  background-size: 150%;
}
/*materialize tooltip background*/
.backdrop{
  background-color: #607d8b;
  color: #eceff1;
}

.shine, .chrome {
  font-size: 2em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.shine {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

.scanChild1{
  background-color: #6bb3d2;
  opacity:.5;
  position: absolute;
  right:-600px;
  width:5px;
  height:800px;
  transition: 1.5s;
  transition: right 1.5s ease-out;
  -moz-transition: right  1.5s ease-out;
  -o-transition: right  1.5s ease-out;
  transition: right 1.5s ease-out;
}

.scanChild2{
  background-color: #3b8dbb;
  opacity:.5;
  position: absolute;
  left:-600px;
  width:5px;
  height:800px;
  transition: 1.5s;
  transition: left 1.5s ease-out;
  -moz-transition: left  1.5s ease-out;
  -o-transition: left 1.5s ease-out;
  transition: left 1.5s ease-out;
}

.scanParent:hover .scanChild1{
  right: 900px;
}

.scanParent{
  overflow: hidden;
  padding-top: 0px;
}

.scanParent:hover .scanChild2{
  left: 900px;
}

.coolCont{
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.coolCont div:nth-child(1){
  position: absolute;
  width: 100%;
  top:25%;
  transition: all 1s ease;
  opacity: 1;
}

.coolCont div:nth-child(2){
  position: absolute;
  width: 100%;
  top:-500px;
  transition: all 1s ease;
  opacity: 0;
}

.coolCont:hover div:nth-child(1){
  top:-500px;
  opacity: 0;
}

.coolCont:hover div:nth-child(2){
  top:20px;
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted lightblue;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* form input custom styling */

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(72, 161, 189);
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #2cb9fe;
  box-shadow: 0 1px 0 0 #2cb9fe;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #2cb9fe;
  box-shadow: 0 1px 0 0 #2cb9fe;
  background-color: rgb(200, 240, 255);
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.close:hover{
  color: red;
  transition: all .5s ease;
}

::selection{
  background: #328CC4;
  color: white;
}

.section{
  padding-bottom: 0px;
}

.dna-right{
  background-image: url('../img/dna.svg');
  background-size: 100px;
  background-repeat: repeat-y;
  background-position: right top;
  background-attachment: fixed;
}

.clearButtonBlue{
  background-color: rgba(15, 55, 83, 0.7);
  margin-top: 10px;
  padding: 5px;
  border: solid #338DC5 2px;
  border-radius: 10px;
  text-decoration: none;
  color: #b3e5fc;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
}

.clearButtonBlue:hover{
  background-color: rgba(15, 55, 83, 1);
  margin-top: 10px;
  padding: 5px;
  border: solid #338DC5 2px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
  transition: all .7s;
}

.clearButtonRed{
  background-color: rgba(208, 58, 58, .1);
  margin-top: 10px;
  padding: 5px;
  border: dotted  #c92a2a 2px;
  border-radius: 10px;
  text-decoration: none;
  color: #c92a2a;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
}

.clearButtonRed:hover{
  background-color: rgba(208, 58, 58, .1);
  margin-top: 10px;
  padding: 5px;
  border: solid  #c92a2a 2px;
  border-radius: 10px;
  text-decoration: none;
  color: #c92a2a;
  font-size: 1.5em;
  font-weight: lighter;
  font-variant: small-caps;
  transition: all .7s;
}

.divWithImage{
  background-size: cover;
  width: 100%;
  min-height: 300px;
  background-position: right;
  display: block;
}

.topic svg{
  width: 70px;
}

@font-face {
  font-family: smartFont;
  src: url('../img/Monoglyceride.ttf');
}

.logoFont{
  font-family: smartFont;
  letter-spacing:2px;
}

.l-blue-text{
  color: #AEE2F7;
}

.blue-text{
  color: #2F81C1;
}

.operation{
  padding: 10px;
  word-break: break-all;
}

.link{
  transition: all .5s;
}

.link:hover{
  color: var(--blue-medium) !important;
}

.bold{
  font-weight: bold !important;
}

.versionBadge{
  color: white !important;
  padding: 6px;
  border:none;
  color: #424242;
  font-size:10px;
  font-weight: bold;
  border-radius:10px;
  margin-right:3px;
  vertical-align: top;
  border: solid 1.5px lightgrey;
  text-shadow:0px 1px 1px black;

}

html,
body {
  height: 100%;
}
/* background for highlighted text in registry */
mark{
  background: #c7f8ff;
  color: black;
}

.transparentBlue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3982bc+1,273238+100 */
  background: rgb(57,130,188); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(57,130,188,1) 1%, rgba(39,50,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(57,130,188,1) 1%,rgba(39,50,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(57,130,188,1) 1%,rgba(39,50,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3982bc', endColorstr='#273238',GradientType=0 ); /* IE6-9 */
}
.determinate{
  transition: all 1s;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,7abaff+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(122,186,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(122,186,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(122,186,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#7abaff',GradientType=1 ); /* IE6-9 */
  color: var(--blue-medium);
  padding: 6px;
  text-align: center;
}

  .nextBox{
    background-color: #01579b !important;
    transition: 1s all;
  }

  .nextBox:hover{
    background-color: #0277bd !important;
    transition: 1s all;
  }

  .smallButton{
    padding:4px !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    border: none !important;
    cursor: pointer !important;
    background-color: rgb(209, 209, 209) !important;
    color: grey !important;
    transition: all .5s;
  }

  .smallButton:hover{
    padding:4px !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    border: none !important;
    cursor: pointer !important;
    background-color: rgb(121, 121, 121) !important;
    color: white !important;
    transition: all .5s;
  }

  .smallButton:focus{
    padding:4px;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: rgb(121, 121, 121);
    color: white;
    transition: all .5s;
  }

  .swatchParent{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

  .dont{
    flex: 1;
    flex-basis: 100px;
    margin: 10px;
    border-radius: 5px;
  }

  .swatch{
    flex: 1;
    max-width: 128px;
    padding: 20px 10px;
    border: white solid 1px;
    border-radius: 5px;
    width: auto;
    margin: 10px;
    transition: 1s all;
  }

  .downloadBox{
    flex: 1;
    max-width: 128px;
    padding: 20px 10px;
    border: white solid 1px;
    border-radius: 5px;
    width: auto;
    margin: 10px;
    transition: 1s all;
  }

  .swatch:hover{
    /* transform: scale(1.1); */
  }

  .downloadBox:hover > img{
    transform: translateY(-5px);
    transition: 1s all;
  }

  .brandBack{
    min-height: 40vh;
    background-image: url('/static/img/brand-hero.jpg');
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swal2-icon.swal2-warning{
    font-size: 1em;
  }

  .btn{
    border-radius: 20px !important;
  }

  .collection a.collection-item{
    color: var(--blue-medium);
  }
  mark{
    background: transparent;
    color: red;
    font-weight: bold;
  }

  .disable {
    pointer-events: none;
    cursor: not-allowed;
  }

  .noPadding{
    padding: 0px !important;
  }

  .whiteFadeBox{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  .descriptionContainer{
    max-height: 200px;
    overflow: hidden;
  }

  .descriptionContainer:hover{
    cursor: pointer;
  }

  .max-height-none{
    max-height: none !important;
    overflow: auto;
  }

  .max-height-200{
    max-height: 200px !important;
    overflow: hidden;
  }

  .expandButtonMore{
    margin:auto;
    transform: scale(.7);
    border-radius: 20px;
    transition: opacity .5s;
    opacity: 0;
  }

  .expandContainer{
    position: relative;
  }

  .expandContainer:hover a.expandButtonMore{
    opacity: 1;
  }

  .expandContainer:hover a.expandButtonLess{
    opacity: 1;
  }

  .expandButtonLess{
    margin:auto;
    transform: scale(.7);
    border-radius: 20px;
    transition: opacity .5s;
    opacity: 0;
  }

  .tablePillRow{
    margin-bottom: 3px;

  }

  .tablePillRow:hover td:first-child{
    background: var(--blue-medium) !important;
  }

  .tablePillRow:last-child:hover td:first-child{
    background: lightgrey !important;
  }

  .tablePillRow td:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #626262;
  }

  .tablePillRow td:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
  }

  .pillTable{
    margin: auto;
    max-width: 50vw;
    min-width: 60%;
    border-collapse:separate;
    border-spacing:0em .5em;
  }

  .pillTable tr td{
    padding: 5px 5px;
  }

/*MARCO CANO end*/
