h2.title span {
 display: none !important;
}
.swagger-ui .info .title{
 font-size: 3.5em !important;
 font-family: smartFont !important;
 margin-bottom: 20px;
 line-height: normal;
}

h2.title{
 padding-top: 20px;
}
span.url{
 word-wrap: break-word;
}

div.info{
text-align: center;
}

div.info a{
color: var(--blue-medium) !important;
text-decoration: underline;
}

.servers select{
 display: block;
 width: auto;
 max-width: 100%;
}

.swagger-ui .btn{
 margin-left: 10px;
 padding: 5px !important;
 line-height: normal;
 background-color: var(--blue-dark);
 color: white;
 border: var(--blue-light) 1px solid;
 transition: 1s all;
 font-weight: normal;
}
.swagger-ui input[type=email], .swagger-ui input[type=password], .swagger-ui input[type=search], .swagger-ui input[type=text] {
  min-width: 100px;
  margin: 5px 0;
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fff;
  max-width: 90%;
}

.swagger-ui .btn:hover{
 margin-left: 10px;
 padding: 5px !important;
 line-height: normal;
 background-color: var(--blue-medium);
 color: white;
 border: var(--blue-light) 1px solid;
 transition: 1s all;
 font-weight: normal;
}

.swagger-ui .parameters-col_description input[type=text]{
  height: auto !important;
}

.swagger-ui .opblock .opblock-summary:hover{
  background-color: var(--blue-light);;
  transition: .5s all;
}

.swagger-ui p{
  color: #364A5C !important;
}

.swagger-ui select{
  border: var(--blue-dark) 2px solid !important;
  color: var(--blue-dark) !important;
}

.swagger-ui section.models{
  background-color: #ececec;
}
/* resizes response box on Swagger UI - shows after clicking Execute*/
.swagger-ui .opblock-body pre {
  font-size: 12px;
  margin: 0;
  max-height: 500px;
  width:calc(100vw /3 *2.1);
  resize: horizontal;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  white-space: pre-wrap;
  border-radius: 4px;
  background: #41444e;
  font-family: Source Code Pro, monospace;
  font-weight: 600;
  color: #fff;
}
