/* Custom Stylesheet */

.default_color{background-color: #2196F3 !important}

.default_color_text{color: #2196F3 !important}

.icon-block {
    padding: 0 15px;
}

#loading-overlay {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.1);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#loading-overlay .loading-container {
  z-index:4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#intro1, #intro2, #intro3 {padding-top: 4rem;}

#intro2 {background: rgb(247, 247, 247);}

.intro-text {
  text-align: justify;
}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #2196F3;
}

#nav_f{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

/* Rounded avatars */
.avatar {
    width: 36px;
    float: left;
    margin-top: 1em;
    /*margin-right: 1em;*/
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.text_h {
    padding: 15% 0 0 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h3 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
  font-size: 1.8em;
  color: #fff;
}

.text_h2 {
  font-size: 2.5em;
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}


.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.section_logo {
    max-width: 85px !important;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}



/* for reg_form.html */

/* label color */
 .input-field label {
   color: #727272;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #1976D2;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #1976D2;
   box-shadow: 0 1px 0 0 #1976D2;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #B6B6B6;
   box-shadow: 0 1px 0 0 #B6B6B6;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #1976D2;
 }

 .single_section {
   margin-bottom: 20% !important;
 }



/* for registry.html */
.full-height {
   height: 100%;
   height: calc(100% - 64px);
   margin-bottom: 0;
}

.sidebar {
   height: 100%;
   overflow-y: auto;
}

.selected-tags {
   margin-bottom: 10px;
}

.pagination li i {
   vertical-align: -30%;
}

.perPage {
   display: inline-block;
   width: auto;
}

.textBlue{
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
  font-size: 1.8em;
  color: #329AEF;
}

.backBlue{
  background-color: #329AEF;
}

.padding20{
  padding: 20px;
}

.fontWeight{
  font-weight: 100;
  font-size: 1.8em;
}
