/* Custom Stylesheet */

.default_color{background-color: #2196F3 !important}

.default_color_text{color: #2196F3 !important}

.icon-block {
    padding: 0 15px;
}

#intro1, #intro2, #intro3 {padding-top: 4rem;}

#intro2 {background: rgb(247, 247, 247);}

.intro-text {
  text-align: justify;
}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #2196F3;
}

#nav_f{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0 0 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h3 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
  font-size: 1.8em;
  color: #fff;
}

.text_h2 {
  font-size: 2.5em;
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}


.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.section_logo {
    max-width: 85px !important;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}
