{
    "swagger": "2.0",
    "info": {
        "version": "2.0.0",
        "title": "MyGene.info API",
        "description": "Documentation of the MyGene.info Gene Query web services. Learn more about [MyGene.info](http://mygene.info/)"
    },
    "host": "mygene.info",
    "schemes": [
        "http"
        "https"
    ],
    "basePath": "/v2",
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "query",
            "description": "Query for gene information"
        },
        {
            "name": "gene",
            "description": "Gene annotation information"
        },
        {
            "name": "metadata",
            "description": "Metadata about the data available from MyGene.info."
        }
    ],
    "paths": {
        "/query": {
            "get": {
                "tags": [
                    "query"
                ],
                "description": "Make gene query and return matching gene list. Support JSONP and CORS as well.",
                "operationId": "queryGene",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Query string. Examples \"CDK2\", \"NM_052827\", \"204639_at\". The detailed query syntax can be found at http://docs.mygene.info/en/latest/doc/query_service.html",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "A comma-separated field to limit the fields returned from the matching gene hits. The supported field names can be found from any gene object (e.g. http://mygene.info/v2/gene/1017). Note that it supports dot notation as well, e.g., you can pass \"refseq.rna\". If \"fields=all\", all available fields will be returned. Default \"symbol,name,taxid,entrezgene,ensemblgene\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "species",
                        "in": "query",
                        "description": "can be used to limit the gene hits from given species. You can use \"common names\" for nine common species (human, mouse, rat, fruitfly, nematode, zebrafish, thale-cress, frog and pig). All other species, you can provide their taxonomy ids. Multiple species can be passed using comma as a separator. Passing “all” will query against all available species. Default human,mouse,rat.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "the maximum number of matching gene hits to return (with a cap of 1000 at the moment). Default 10.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "the number of matching gene hits to skip, starting from 0. Combining with \"size\" parameter, this can be useful for paging. Default 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "comma-separated fields to sort on. Prefix with \"-\" for descending order, otherwise in ascending order. Sort by matching scores in decending order.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "facets",
                        "in": "query",
                        "description": "a single field or comma-separated fields to return facets, for example, “facets=taxid”, “facets=taxid,type_of_gene”.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "species_facet_filter",
                        "in": "query",
                        "description": "relevant when faceting on species (i.e., “facets=taxid” are passed). It’s used to pass species filter without changing the scope of faceting, so that the returned facet counts won’t change. Either species name or taxonomy id can be used, just like “species” parameter above.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "entrezonly",
                        "in": "query",
                        "description": "when passed as “true” or “1”, the query returns only the hits with valid Entrez gene ids. Default: false",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "ensemblonly",
                        "in": "query",
                        "description": "when passed as “true” or “1”, the query returns only the hits with valid Ensembl gene ids. Default: false.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "you can pass a \"callback\" parameter to make a JSONP call.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dotfield",
                        "in": "query",
                        "description": "control the format of the returned fields when passed \"fields\" parameter contains dot notation, e.g. \"fields=refseq.rna\". If \"true\" or \"1\", the returned data object contains a single \"refseq.rna\" field, otherwise (\"false\" or \"0\"), a single \"refseq\" field with a sub-field of \"rna\". Default: true",
                        "type": "boolean"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "alias for \"fields\" parameter.",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "alias for \"size\" parameter.",
                        "type": "integer"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "alias for \"from\" parameter.",
                        "type": "integer"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "hits": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "entrezgene": {
                                                "type": "integer"
                                            },
                                            "taxid": {
                                                "type": "integer"
                                            },
                                            "_id": {
                                                "type": "integer"
                                            },
                                            "symbol": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "max_score": {
                                    "type": "integer"
                                },
                                "took": {
                                    "type": "integer"
                                },
                                "total": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "query"
                ],
                "description": "Make gene queries in batch.\n",
                "operationId": "queryGenes",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "multiple query terms seperated by comma (also support \"+\" or white space), but no wildcard, e.g., \"q=1017,1018\" or \"q=CDK2+BTK\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "scopes",
                        "in": "query",
                        "description": "specify one or more fields (separated by comma) as the search \"scopes\", e.g., \"scopes=entrezgene\", \"scopes=entrezgene,ensemblgene\". The available \"fields\" can be passed to \"scopes\" parameter are listed at http://mygene.info/doc/query_service.html#available-fields. Default \"scopes=entrezgene,ensemblgene,retired\" (either Entrez or Ensembl gene ids).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any gene object (e.g. http://mygene.info/v2/gene/1017). Note that it supports dot notation as well, e.g., you can pass \"refseq.rna\". If \"fields=all\", all available fields will be returned. Default \"symbol,name,taxid,entrezgene,ensemblgene\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "species",
                        "in": "query",
                        "description": "can be used to limit the gene hits from given species. You can use \"common names\" for nine common species (human, mouse, rat, fruitfly, nematode, zebrafish, thale-cress, frog and pig). All other species, you can provide their taxonomy ids. Multiple species can be passed using comma as a separator. Default human,mouse,rat.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dotfield",
                        "in": "query",
                        "description": "control the format of the returned fields when passed \"fields\" parameter contains dot notation, e.g. \"fields=refseq.rna\". If \"true\" or \"1\", the returned data object contains a single \"refseq.rna\" field, otherwise (\"false\" or \"0\"), a single \"refseq\" field with a sub-field of \"rna\". Default true.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "query": {
                                        "type": "string"
                                    },
                                    "entrezgene": {
                                        "type": "integer"
                                    },
                                    "taxid": {
                                        "type": "integer"
                                    },
                                    "_id": {
                                        "type": "integer"
                                    },
                                    "symbol": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gene/{geneid}": {
            "get": {
                "tags": [
                    "gene"
                ],
                "description": "Retrieve gene annotation based on Entrez or Ensembl gene id, support\nJSONP and CORS as well.\n",
                "operationId": "getAnnotation",
                "parameters": [
                    {
                        "name": "geneid",
                        "in": "path",
                        "description": "Entrez or Ensembl gene id, e.g., 1017, ENSG00000170248. A retired Entrez Gene id works too if it is replaced by a new one, e.g., 245794",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any gene object (e.g. http://mygene.info/v2/gene/1017). Note that it supports dot notation as well, e.g., you can pass \"refseq.rna\". If \"fields=all\", all available fields will be returned. Default \"symbol,name,taxid,entrezgene,ensemblgene\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "you can pass a \"callback\" parameter to make a JSONP call.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "alias for \"fields\" parameter.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dotfield",
                        "in": "query",
                        "description": "control the format of the returned fields when passed \"fields\" parameter contains dot notation, e.g. \"fields=refseq.rna\". If \"true\" or \"1\", the returned data object contains a single \"refseq.rna\" field, otherwise (\"false\" or \"0\"), a single \"refseq\" field with a sub-field of \"rna\". Default true.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "_id": {
                                    "type": "string"
                                },
                                "accession": {
                                    "type": "object",
                                    "properties": {
                                        "rna": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "genomic": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "protein": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "alias": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "ec": {
                                    "type": "string"
                                },
                                "ensembl": {
                                    "type": "object",
                                    "properties": {
                                        "gene": {
                                            "type": "string"
                                        },
                                        "transcript": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "entrezgene": {
                                    "type": "string"
                                },
                                "exons": {
                                    "type": "object"
                                },
                                "generif": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "pubmed": {
                                                "type": "string"
                                            },
                                            "text": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "genomic_pos": {
                                    "type": "object",
                                    "properties": {
                                        "strand": {
                                            "type": "integer"
                                        },
                                        "chr": {
                                            "type": "integer"
                                        },
                                        "start": {
                                            "type": "integer"
                                        },
                                        "end": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "genomic_pos_hg19": {
                                    "type": "object",
                                    "properties": {
                                        "strand": {
                                            "type": "integer"
                                        },
                                        "chr": {
                                            "type": "integer"
                                        },
                                        "start": {
                                            "type": "integer"
                                        },
                                        "end": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "go": {
                                    "type": "object",
                                    "properties": {
                                        "MF": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "evidence": {
                                                        "type": "string"
                                                    },
                                                    "term": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "BP": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "evidence": {
                                                        "type": "string"
                                                    },
                                                    "term": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "CC": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "evidence": {
                                                        "type": "string"
                                                    },
                                                    "term": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "HGNC": {
                                    "type": "integer"
                                },
                                "homologene": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "genes": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                },
                                "HPRD": {
                                    "type": "integer"
                                },
                                "interpro": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "short_desc": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "ipi": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "map_location": {
                                    "type": "string"
                                },
                                "MIM": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "pathway": {
                                    "type": "object",
                                    "properties": {
                                        "reactome": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "pid": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "wikipathways": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "netpath": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "biocarta": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "kegg": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "pdb": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "pfam": {
                                    "type": "string"
                                },
                                "pharmgkb": {
                                    "type": "string"
                                },
                                "pir": {
                                    "type": "string"
                                },
                                "prosite": {
                                    "type": "string"
                                },
                                "reagent": {
                                    "type": "object",
                                    "properties": {
                                        "NIBRI_hs-Secretome_pDEST": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "relationship": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "GNF_hs_LentiORF-HA-MYC": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "relationship": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "GNF_Qia_hs-genome_v1_siRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_hs-druggable_plasmid-shRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_mm+hs-MGC": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "relationonship": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "Invitrogen_IVTHSSIPKv2": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_hs-druggable_lenti-shRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_hs-druggable_siRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "NOVART_hs-genome_siRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_hs_LentiORF-Jred": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "relationonship": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "GNF_hs-pkinase_IDT-siRNA": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "GNF_hs-ORFeome1_1_reads": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "relationonship": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "GNF_hs-Origene": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "relationonship": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "refseq": {
                                    "type": "object",
                                    "properties": {
                                        "rna": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "genomic": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "protein": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "reporter": {
                                    "type": "object",
                                    "properties": {
                                        "HTA-2_0": {
                                            "type": "string"
                                        },
                                        "HuGene-2_1": {
                                            "type": "integer"
                                        },
                                        "HuGene-1_1": {
                                            "type": "integer"
                                        },
                                        "HG-U133_Plus_2": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "HuEx-1_0": {
                                            "type": "integer"
                                        },
                                        "HG-U95Av2": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "summary": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "taxid": {
                                    "type": "integer"
                                },
                                "type_of_gene": {
                                    "type": "string"
                                },
                                "unigene": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "uniprot": {
                                    "type": "object",
                                    "properties": {
                                        "Swiss-Prot": {
                                            "type": "string"
                                        },
                                        "TrEMBL": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "Vega": {
                                    "type": "string"
                                },
                                "wikipedia": {
                                    "type": "object",
                                    "properties": {
                                        "url_stub": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gene": {
            "post": {
                "tags": [
                    "gene"
                ],
                "description": "Make gene queries in batch for a list of Entrez or Ensembl gene ids.\n",
                "operationId": "getGenes",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "multiple geneids seperated by comma, e.g., \"ids=1017,1018\" or \"ids=695,ENSG00000123374\". Note that currently we only take the input ids up to 1000 maximum, the rest will be omitted.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any gene object (e.g. http://mygene.info/v2/gene/1017). Note that it supports dot notation as well, e.g., you can pass \"refseq.rna\". If \"fields=all\", all available fields will be returned. Default \"symbol,name,taxid,entrezgene,ensemblgene\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "species",
                        "in": "query",
                        "description": "Optional, can be used to limit the gene hits from given species. You can use \"common names\" for nine common species (human, mouse, rat, fruitfly, nematode, zebrafish, thale-cress, frog and pig). All other species, you can provide their taxonomy ids. Multiple species can be passed using comma as a separator. Default all.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dotfield",
                        "in": "query",
                        "description": "control the format of the returned fields when passed \"fields\" parameter contains dot notation, e.g. \"fields=refseq.rna\". If \"true\" or \"1\", the returned data object contains a single \"refseq.rna\" field, otherwise (\"false\" or \"0\"), a single \"refseq\" field with a sub-field of \"rna\". Default true.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "query": {
                                        "type": "string"
                                    },
                                    "_id": {
                                        "type": "string"
                                    },
                                    "entrezgene": {
                                        "type": "integer"
                                    },
                                    "taxid": {
                                        "type": "integer"
                                    },
                                    "symbol": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata": {
            "get": {
                "tags": [
                    "metadata"
                ],
                "description": "Get metadata about the data available from MyGene.info\n",
                "operationId": "getMetadata",
                "parameters": [
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "you can pass a \"callback\" parameter to make a JSONP call.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "app_revision": {
                                    "type": "string"
                                },
                                "available_fields": {
                                    "type": "string"
                                },
                                "genome_assembly": {
                                    "type": "object",
                                    "properties": {
                                        "human": {
                                            "type": "string"
                                        },
                                        "mouse": {
                                            "type": "string"
                                        },
                                        "nematode": {
                                            "type": "string"
                                        },
                                        "fruitfly": {
                                            "type": "string"
                                        },
                                        "frog": {
                                            "type": "string"
                                        },
                                        "zebrafish": {
                                            "type": "string"
                                        },
                                        "pig": {
                                            "type": "string"
                                        },
                                        "rat": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "source": {
                                    "type": "string"
                                },
                                "src_version": {
                                    "type": "object",
                                    "properties": {
                                        "ucsc": {
                                            "type": "integer"
                                        },
                                        "netaffy": {
                                            "type": "string"
                                        },
                                        "cpdb": {
                                            "type": "integer"
                                        },
                                        "ensembl": {
                                            "type": "integer"
                                        },
                                        "entrez": {
                                            "type": "integer"
                                        },
                                        "pharmgkb": {
                                            "type": "integer"
                                        },
                                        "uniprot": {
                                            "type": "integer"
                                        },
                                        "refseq": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "stats": {
                                    "type": "object",
                                    "properties": {
                                        "total_entrez_genes": {
                                            "type": "integer"
                                        },
                                        "total_ensembl_genes_mapped_to_entrez": {
                                            "type": "integer"
                                        },
                                        "total_ensembl_only_genes": {
                                            "type": "integer"
                                        },
                                        "total_genes": {
                                            "type": "integer"
                                        },
                                        "total_ensembl_genes": {
                                            "type": "integer"
                                        },
                                        "total_species": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "taxonomy": {
                                    "type": "object",
                                    "properties": {
                                        "human": {
                                            "type": "integer"
                                        },
                                        "thale-cress\"": {
                                            "type": "integer"
                                        },
                                        "mouse": {
                                            "type": "integer"
                                        },
                                        "nematode": {
                                            "type": "integer"
                                        },
                                        "fruitfly": {
                                            "type": "integer"
                                        },
                                        "frog": {
                                            "type": "integer"
                                        },
                                        "zebrafish": {
                                            "type": "integer"
                                        },
                                        "pig": {
                                            "type": "integer"
                                        },
                                        "rat": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "timestamp": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}